openapi: 3.2.0
info:
  title: Hetzner Cloud Volumes API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Volumes
  description: 'A Volume is a highly-available, scalable, and SSD-based block storage for Servers.


    Pricing for Volumes depends on the Volume size and Location, not the actual used storage.


    Please see Hetzner Docs for more details about Volumes.'
paths:
  /volumes:
    get:
      operationId: list_volumes
      summary: List Volumes
      description: Gets all existing Volumes that you have available.
      tags:
      - Volumes
      parameters:
      - description: 'Filter resources by status. May be used multiple times.


          The response will only contain the resources with the specified status.

          '
        name: status
        in: query
        required: false
        schema:
          type: array
          items:
            description: Status of the Volume.
            type: string
            enum:
            - available
            - creating
            example: available
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  volumes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: ID of the [Volume](#tag/volumes).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        name:
                          description: Name of the Resource. Must be unique per Project.
                          type: string
                          example: my-resource
                        server:
                          description: ID of the Server the Volume is attached to, null if it is not attached at all.
                          type:
                          - integer
                          - 'null'
                          format: int64
                          example: 12
                        location:
                          description: Location of the Volume. Volume can only be attached to Servers in the same Location.
                          type: object
                          properties:
                            id:
                              description: ID of the [Location](#tag/locations).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: Unique identifier of the [Location](#tag/locations).
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: fsn1
                            description:
                              description: Human readable description of the [Location](#tag/locations).
                              type: string
                              example: Falkenstein DC Park 1
                            country:
                              description: 'Country the [Location](#tag/locations) resides in.


                                ISO 3166-1 alpha-2 code of the country.

                                '
                              type: string
                              example: DE
                            city:
                              description: 'Name of the closest city to the [Location](#tag/locations).


                                City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                '
                              type: string
                              example: Falkenstein
                            latitude:
                              description: Latitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 50.47612
                            longitude:
                              description: Longitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 12.370071
                            network_zone:
                              description: Name of the Network Zone this [Location](#tag/locations) resides in.
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: eu-central
                          required:
                          - id
                          - name
                          - description
                          - country
                          - city
                          - latitude
                          - longitude
                          - network_zone
                        size:
                          description: Size in GB of the Volume.
                          type: number
                          example: 42
                        linux_device:
                          description: Device path on the file system for the Volume.
                          type: string
                          example: /dev/disk/by-id/scsi-0HC_Volume_4711
                        protection:
                          description: Protection configuration for the Resource.
                          type: object
                          properties:
                            delete:
                              description: Prevent the Resource from being deleted.
                              type: boolean
                              example: false
                          required:
                          - delete
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        status:
                          description: Status of the Volume.
                          type: string
                          enum:
                          - available
                          - creating
                          example: available
                        format:
                          description: Filesystem of the Volume if formatted on creation, null if not formatted on creation.
                          type:
                          - string
                          - 'null'
                          example: xfs
                      required:
                      - id
                      - created
                      - name
                      - server
                      - location
                      - size
                      - linux_device
                      - protection
                      - labels
                      - status
                      - format
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - volumes
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tvolumes, err := client.Volume.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          volumes = client.volumes.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud volume list
    post:
      operationId: create_volume
      summary: Create a Volume
      description: 'Creates a new Volume attached to a Server. If you want to create a Volume that is not attached to a Server, you need to provide the `location` key instead of `server`. This can be either the ID or the name of the Location this Volume will be created in. Note that a Volume can be attached to a Server only in the same Location as the Volume itself.


        Specifying the Server during Volume creation will automatically attach the Volume to that Server after it has been initialized. In that case, the `next_actions` key in the response is an array which contains a single `attach_volume` action.


        The minimum Volume size is 10GB and the maximum size is 10TB (10240GB).


        A volume’s name can consist of alphanumeric characters, dashes, underscores, and dots, but has to start and end with an alphanumeric character. The total length is limited to 64 characters. Volume names must be unique per Project.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `no_space_left_in_location` | There is no volume space left in the given location |'
      tags:
      - Volumes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: CreateVolumeRequest
              type: object
              properties:
                size:
                  description: Size of the Volume in GB.
                  type: integer
                  example: 42
                name:
                  description: Name of the volume.
                  type: string
                  example: databases-storage
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                automount:
                  description: Auto-mount Volume after attach. `server` must be provided.
                  type: boolean
                  example: false
                format:
                  description: 'Format Volume after creation. One of: `xfs`, `ext4`.'
                  type: string
                  example: xfs
                location:
                  description: Location to create the Volume in (can be omitted if Server is specified).
                  type: string
                  example: nbg1
                server:
                  description: Server to which to attach the Volume once it's created (Volume will be created in the same Location as the server).
                  type: integer
                  format: int64
              required:
              - size
              - name
            examples:
              default:
                value:
                  size: 42
                  name: test-database
                  labels:
                    key: value
                  location: nbg1
                  automount: false
                  format: xfs
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  volume:
                    type: object
                    properties:
                      id:
                        description: ID of the [Volume](#tag/volumes).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      server:
                        description: ID of the Server the Volume is attached to, null if it is not attached at all.
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 12
                      location:
                        description: Location of the Volume. Volume can only be attached to Servers in the same Location.
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      size:
                        description: Size in GB of the Volume.
                        type: number
                        example: 42
                      linux_device:
                        description: Device path on the file system for the Volume.
                        type: string
                        example: /dev/disk/by-id/scsi-0HC_Volume_4711
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      status:
                        description: Status of the Volume.
                        type: string
                        enum:
                        - available
                        - creating
                        example: available
                      format:
                        description: Filesystem of the Volume if formatted on creation, null if not formatted on creation.
                        type:
                        - string
                        - 'null'
                        example: xfs
                    required:
                    - id
                    - created
                    - name
                    - server
                    - location
                    - size
                    - linux_device
                    - protection
                    - labels
                    - status
                    - format
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                  next_actions:
                    type: array
                    items:
                      title: Action
                      type: object
                      properties:
                        id:
                          description: ID of the [Action](#description/actions).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        command:
                          description: Command executed in the Action.
                          type: string
                          example: start_resource
                        status:
                          description: Status of the Action.
                          type: string
                          enum:
                          - running
                          - success
                          - error
                        started:
                          description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        finished:
                          description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        progress:
                          description: Progress of the Action in percent.
                          type: integer
                          format: int32
                          example: 100
                        resources:
                          description: Resources the Action relates to.
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                description: ID of the Resource.
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              type:
                                description: Type of the Resource.
                                type: string
                                example: server
                            required:
                            - id
                            - type
                        error:
                          description: Error message for the Action if an error occurred, otherwise null.
                          type:
                          - object
                          - 'null'
                          properties:
                            code:
                              description: Fixed error code for machines.
                              type: string
                              example: action_failed
                            message:
                              description: Error message for humans.
                              type: string
                              example: Action failed
                          required:
                          - code
                          - message
                      required:
                      - id
                      - command
                      - status
                      - progress
                      - started
                      - finished
                      - resources
                      - error
                required:
                - volume
                - action
                - next_actions
              examples:
                default:
                  value:
                    volume:
                      id: 4711
                      created: '2016-01-30T23:50:11Z'
                      name: database-storage
                      server: 12
                      location:
                        id: 1
                        name: fsn1
                        description: Falkenstein DC Park 1
                        country: DE
                        city: Falkenstein
                        latitude: 50.47612
                        longitude: 12.370071
                        network_zone: eu-central
                      size: 42
                      linux_device: /dev/disk/by-id/scsi-0HC_Volume_4711
                      protection:
                        delete: false
                      labels:
                        key: value
                      status: available
                      format: xfs
                    action:
                      id: 13
                      command: create_volume
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      - id: 554
                        type: volume
                      error:
                        code: action_failed
                        message: Action failed
                    next_actions:
                    - id: 13
                      command: attach_volume
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      - id: 554
                        type: volume
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.Volume.Create(ctx, hcloud.VolumeCreateOpts{\n\t\tAutomount: hcloud.Ptr(false),\n\t\tFormat:    hcloud.Ptr(hcloud.VolumeFormatXFS),\n\t\tLabels: map[string]string{\n\t\t\t\"key\": \"value\",\n\t\t},\n\t\tLocation: &hcloud.Location{Name: \"nbg1\"},\n\t\tName:     \"test-database\",\n\t\tSize:     42,\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n\n\tvolume := result.Volume\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.locations import Location\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.volumes.create(\n    automount=False,\n    format=\"xfs\",\n    labels={\"key\": \"value\"},\n    location=Location(name=\"nbg1\"),\n    name=\"test-database\",\n    size=42,\n)\n\nresponse.action.wait_until_finished()\n\nvolume = response.volume"
      - lang: Shell
        label: CLI
        source: "hcloud volume create \\\n    --automount=false \\\n    --format xfs \\\n    --label \"key=value\" \\\n    --location nbg1 \\\n    --name test-database \\\n    --size 42"
  /volumes/{id}:
    get:
      operationId: get_volume
      summary: Get a Volume
      description: Gets a specific Volume object.
      tags:
      - Volumes
      parameters:
      - description: ID of the Volume.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Volume](#tag/volumes).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  volume:
                    type: object
                    properties:
                      id:
                        description: ID of the [Volume](#tag/volumes).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      server:
                        description: ID of the Server the Volume is attached to, null if it is not attached at all.
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 12
                      location:
                        description: Location of the Volume. Volume can only be attached to Servers in the same Location.
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      size:
                        description: Size in GB of the Volume.
                        type: number
                        example: 42
                      linux_device:
                        description: Device path on the file system for the Volume.
                        type: string
                        example: /dev/disk/by-id/scsi-0HC_Volume_4711
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      status:
                        description: Status of the Volume.
                        type: string
                        enum:
                        - available
                        - creating
                        example: available
                      format:
                        description: Filesystem of the Volume if formatted on creation, null if not formatted on creation.
                        type:
                        - string
                        - 'null'
                        example: xfs
                    required:
                    - id
                    - created
                    - name
                    - server
                    - location
                    - size
                    - linux_device
                    - protection
                    - labels
                    - status
                    - format
                required:
                - volume
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tvolume, _, err := client.Volume.GetByID(ctx, 123)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          volume = client.volumes.get_by_id(123)'
      - lang: Shell
        label: CLI
        source: hcloud volume describe $VOLUME
    put:
      operationId: update_volume
      summary: Update a Volume
      description: Updates the Volume properties.
      tags:
      - Volumes
      parameters:
      - description: ID of the Volume.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Volume](#tag/volumes).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: UpdateVolumeRequest
              type: object
              properties:
                name:
                  description: New Volume name.
                  type: string
                  example: database-storage
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.


                    Note that the set of [Labels](#description/labels) provided in the request will overwrite the

                    existing one.


                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  volume:
                    type: object
                    properties:
                      id:
                        description: ID of the [Volume](#tag/volumes).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      server:
                        description: ID of the Server the Volume is attached to, null if it is not attached at all.
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 12
                      location:
                        description: Location of the Volume. Volume can only be attached to Servers in the same Location.
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      size:
                        description: Size in GB of the Volume.
                        type: number
                        example: 42
                      linux_device:
                        description: Device path on the file system for the Volume.
                        type: string
                        example: /dev/disk/by-id/scsi-0HC_Volume_4711
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      status:
                        description: Status of the Volume.
                        type: string
                        enum:
                        - available
                        - creating
                        example: available
                      format:
                        description: Filesystem of the Volume if formatted on creation, null if not formatted on creation.
                        type:
                        - string
                        - 'null'
                        example: xfs
                    required:
                    - id
                    - created
                    - name
                    - server
                    - location
                    - size
                    - linux_device
                    - protection
                    - labels
                    - status
                    - format
                required:
                - volume
              examples:
                default:
                  value:
                    volume:
                      id: 4711
                      created: '2016-01-30T23:50:11Z'
                      name: database-storage
                      server: 12
                      location:
                        id: 1
                        name: fsn1
                        description: Falkenstein DC Park 1
                        country: DE
                        city: Falkenstein
                        latitude: 50.47612
                        longitude: 12.370071
                        network_zone: eu-central
                      size: 42
                      linux_device: /dev/disk/by-id/scsi-0HC_Volume_4711
                      protection:
                        delete: false
                      labels:
                        key: value
                      status: available
                      format: xfs
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tvolume, _, err := client.Volume.Update(ctx, &hcloud.Volume{ID: 123}, hcloud.VolumeUpdateOpts{\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName: \"database-storage\",\n\t})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.volumes import Volume\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nvolume = client.volumes.update(\n    volume=Volume(id=123),\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"database-storage\",\n)"
      - lang: Shell
        label: CLI
        source: "hcloud volume update $VOLUME --name \"database-storage\"\nhcloud volume add-label --overwrite $VOLUME \\\n    \"environment=prod\" \"example.com/my=label\" \"just-a-key=\"\nhcloud volume remove-label $VOLUME \\\n    \"environment\" \"example.com\" \"just-a-key\""
    delete:
      operationId: delete_volume
      summary: Delete a Volume
      description: Deletes a volume. All Volume data is irreversibly destroyed. The Volume must not be attached to a Server and it must not have delete protection enabled.
      tags:
      - Volumes
      parameters:
      - description: ID of the Volume.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Volume](#tag/volumes).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '204':
          description: Request succeeded.
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\t_, err := client.Volume.Delete(ctx, &hcloud.Volume{ID: 123})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.volumes import Volume\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nclient.volumes.delete(\n    volume=Volume(id=123),\n)"
      - lang: Shell
        label: CLI
        source: hcloud volume delete $VOLUME
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
