openapi: 3.2.0
info:
  title: Hetzner Cloud Load Balancers API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Load Balancers
paths:
  /load_balancers:
    get:
      operationId: list_load_balancers
      summary: List Load Balancers
      description: Gets all existing Load Balancers that you have available.
      tags:
      - Load Balancers
      parameters:
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  load_balancers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: ID of the [Load Balancer](#tag/load-balancers).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        name:
                          description: Name of the Resource. Must be unique per Project.
                          type: string
                          example: my-resource
                        public_net:
                          description: Public network information.
                          type: object
                          properties:
                            enabled:
                              description: Public Interface enabled or not.
                              type: boolean
                            ipv4:
                              description: IP address (v4).
                              type: object
                              properties:
                                ip:
                                  description: IP address (v4) of this Load Balancer.
                                  type:
                                  - string
                                  - 'null'
                                  example: 1.2.3.4
                                dns_ptr:
                                  description: Reverse DNS PTR entry for the IPv4 address of this Load Balancer.
                                  type:
                                  - string
                                  - 'null'
                                  example: lb1.example.com
                              required:
                              - ip
                              - dns_ptr
                            ipv6:
                              description: IP address (v6).
                              type: object
                              properties:
                                ip:
                                  description: IP address (v6) of this Load Balancer.
                                  type:
                                  - string
                                  - 'null'
                                  example: 2001:db8::1
                                dns_ptr:
                                  description: Reverse DNS PTR entry for the IPv6 address of this Load Balancer.
                                  type:
                                  - string
                                  - 'null'
                                  example: lb1.example.com
                              required:
                              - ip
                              - dns_ptr
                          required:
                          - enabled
                          - ipv4
                          - ipv6
                        private_net:
                          description: Private networks information.
                          type: array
                          items:
                            type: object
                            properties:
                              network:
                                description: ID of the Network.
                                type: integer
                                format: int64
                                example: 4711
                              ip:
                                description: IP address (v4) of this Load Balancer in this Network.
                                type: string
                                example: 10.0.0.2
                            required:
                            - network
                            - ip
                        location:
                          type: object
                          properties:
                            id:
                              description: ID of the [Location](#tag/locations).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: Unique identifier of the [Location](#tag/locations).
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: fsn1
                            description:
                              description: Human readable description of the [Location](#tag/locations).
                              type: string
                              example: Falkenstein DC Park 1
                            country:
                              description: 'Country the [Location](#tag/locations) resides in.


                                ISO 3166-1 alpha-2 code of the country.

                                '
                              type: string
                              example: DE
                            city:
                              description: 'Name of the closest city to the [Location](#tag/locations).


                                City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                '
                              type: string
                              example: Falkenstein
                            latitude:
                              description: Latitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 50.47612
                            longitude:
                              description: Longitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 12.370071
                            network_zone:
                              description: Name of the Network Zone this [Location](#tag/locations) resides in.
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: eu-central
                          required:
                          - id
                          - name
                          - description
                          - country
                          - city
                          - latitude
                          - longitude
                          - network_zone
                        load_balancer_type:
                          type: object
                          properties:
                            id:
                              description: ID of the Load Balancer type.
                              type: integer
                              format: int64
                              example: 1
                            name:
                              description: Unique identifier of the Load Balancer type.
                              type: string
                              example: lb11
                            description:
                              description: Description of the Load Balancer type.
                              type: string
                              example: LB11
                            max_connections:
                              description: Number of maximum simultaneous open connections.
                              type: integer
                              format: int64
                              example: 20000
                            max_services:
                              description: Number of services a Load Balancer of this type can have.
                              type: integer
                              format: int64
                              example: 5
                            max_targets:
                              description: Number of targets a single Load Balancer can have.
                              type: integer
                              format: int64
                              example: 25
                            max_assigned_certificates:
                              description: Number of SSL Certificates that can be assigned to a single Load Balancer.
                              type: integer
                              format: int64
                              example: 10
                            deprecated:
                              description: Point in time when the Load Balancer type is deprecated (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                              type:
                              - string
                              - 'null'
                              format: date-time
                              example: '2016-01-30T23:50:00Z'
                            prices:
                              description: Price per [Location](#tag/locations).
                              type: array
                              items:
                                type: object
                                properties:
                                  location:
                                    description: Name of the [Location](#tag/locations) the price is for.
                                    type: string
                                    example: fsn1
                                  price_hourly:
                                    description: Hourly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  price_monthly:
                                    description: Monthly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  included_traffic:
                                    description: Free traffic per month in bytes in this [Location](#tag/locations).
                                    type: integer
                                    format: int64
                                    example: 654321
                                  price_per_tb_traffic:
                                    description: Additional traffic price per TB in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                required:
                                - location
                                - price_hourly
                                - price_monthly
                                - included_traffic
                                - price_per_tb_traffic
                          required:
                          - id
                          - name
                          - description
                          - max_connections
                          - max_services
                          - max_targets
                          - max_assigned_certificates
                          - deprecated
                          - prices
                        protection:
                          description: Protection configuration for the Resource.
                          type: object
                          properties:
                            delete:
                              description: Prevent the Resource from being deleted.
                              type: boolean
                              example: false
                          required:
                          - delete
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        services:
                          description: List of services that belong to this Load Balancer.
                          type: array
                          items:
                            title: LoadBalancerService
                            oneOf:
                            - title: LoadBalancerServiceTCP
                              allOf:
                              - type: object
                                properties:
                                  protocol:
                                    description: Protocol of the Load Balancer.
                                    type: string
                                    enum:
                                    - tcp
                                    - http
                                    - https
                                  listen_port:
                                    description: Port the Load Balancer listens on.
                                    type: integer
                                    example: 443
                                  destination_port:
                                    description: Port the Load Balancer will balance to.
                                    type: integer
                                    example: 80
                                  proxyprotocol:
                                    description: Is Proxyprotocol enabled or not.
                                    type: boolean
                                    example: false
                                  health_check:
                                    title: LoadBalancerServiceHealthCheck
                                    description: Service health check.
                                    type: object
                                    properties:
                                      protocol:
                                        description: Type of the health check.
                                        type: string
                                        enum:
                                        - tcp
                                        - http
                                        example: http
                                      port:
                                        description: Port the health check will be performed on.
                                        type: integer
                                        example: 4711
                                      interval:
                                        description: Time interval in seconds health checks are performed.
                                        type: integer
                                        minimum: 3
                                        maximum: 60
                                        example: 15
                                      timeout:
                                        description: Time in seconds after an attempt is considered a timeout.
                                        type: integer
                                        minimum: 1
                                        maximum: 60
                                        example: 10
                                      retries:
                                        description: Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.
                                        type: integer
                                        minimum: 1
                                        maximum: 5
                                        example: 3
                                      http:
                                        description: Additional configuration for protocol http.
                                        type: object
                                        properties:
                                          domain:
                                            description: Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.
                                            type:
                                            - string
                                            - 'null'
                                            maxLength: 128
                                            example: example.com
                                          path:
                                            description: HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.
                                            type: string
                                            minLength: 1
                                            maxLength: 256
                                            example: /
                                          response:
                                            description: String that must be contained in HTTP response in order to pass the health check.
                                            type: string
                                            maxLength: 256
                                            example: '{"status": "ok"}'
                                          status_codes:
                                            description: List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones.
                                            type: array
                                            items:
                                              type: string
                                            default:
                                            - 2??
                                            - 3??
                                            maxItems: 20
                                            example:
                                            - 2??
                                            - 3??
                                          tls:
                                            description: Use HTTPS for health check.
                                            type: boolean
                                            example: false
                                        additionalProperties: false
                                        required:
                                        - domain
                                        - path
                                    additionalProperties: false
                                    required:
                                    - protocol
                                    - port
                                    - interval
                                    - timeout
                                    - retries
                                required:
                                - protocol
                                - listen_port
                                - destination_port
                                - proxyprotocol
                                - health_check
                              - type: object
                                properties:
                                  protocol:
                                    type: string
                                    enum:
                                    - tcp
                                    example: tcp
                            - title: LoadBalancerServiceHTTPProtocol
                              allOf:
                              - type: object
                                properties:
                                  protocol:
                                    description: Protocol of the Load Balancer.
                                    type: string
                                    enum:
                                    - tcp
                                    - http
                                    - https
                                  listen_port:
                                    description: Port the Load Balancer listens on.
                                    type: integer
                                    example: 443
                                  destination_port:
                                    description: Port the Load Balancer will balance to.
                                    type: integer
                                    example: 80
                                  proxyprotocol:
                                    description: Is Proxyprotocol enabled or not.
                                    type: boolean
                                    example: false
                                  health_check:
                                    title: LoadBalancerServiceHealthCheck
                                    description: Service health check.
                                    type: object
                                    properties:
                                      protocol:
                                        description: Type of the health check.
                                        type: string
                                        enum:
                                        - tcp
                                        - http
                                        example: http
                                      port:
                                        description: Port the health check will be performed on.
                                        type: integer
                                        example: 4711
                                      interval:
                                        description: Time interval in seconds health checks are performed.
                                        type: integer
                                        minimum: 3
                                        maximum: 60
                                        example: 15
                                      timeout:
                                        description: Time in seconds after an attempt is considered a timeout.
                                        type: integer
                                        minimum: 1
                                        maximum: 60
                                        example: 10
                                      retries:
                                        description: Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.
                                        type: integer
                                        minimum: 1
                                        maximum: 5
                                        example: 3
                                      http:
                                        description: Additional configuration for protocol http.
                                        type: object
                                        properties:
                                          domain:
                                            description: Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.
                                            type:
                                            - string
                                            - 'null'
                                            maxLength: 128
                                            example: example.com
                                          path:
                                            description: HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.
                                            type: string
                                            minLength: 1
                                            maxLength: 256
                                            example: /
                                          response:
                                            description: String that must be contained in HTTP response in order to pass the health check.
                                            type: string
                                            maxLength: 256
                                            example: '{"status": "ok"}'
                                          status_codes:
                                            description: List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones.
                                            type: array
                                            items:
                                              type: string
                                            default:
                                            - 2??
                                            - 3??
                                            maxItems: 20
                                            example:
                                            - 2??
                                            - 3??
                                          tls:
                                            description: Use HTTPS for health check.
                                            type: boolean
                                            example: false
                                        additionalProperties: false
                                        required:
                                        - domain
                                        - path
                                    additionalProperties: false
                                    required:
                                    - protocol
                                    - port
                                    - interval
                                    - timeout
                                    - retries
                                required:
                                - protocol
                                - listen_port
                                - destination_port
                                - proxyprotocol
                                - health_check
                              - type: object
                                properties:
                                  protocol:
                                    type: string
                                    enum:
                                    - http
                                    example: http
                                  http:
                                    title: LoadBalancerServiceHTTPConfig
                                    description: Configuration option for protocol http.
                                    type: object
                                    properties:
                                      cookie_name:
                                        description: Name of the cookie used for sticky sessions.
                                        type: string
                                        default: HCLBSTICKY
                                        minLength: 1
                                        maxLength: 100
                                        example: HCLBSTICKY
                                      cookie_lifetime:
                                        description: Lifetime of the cookie used for sticky sessions (in seconds).
                                        type: integer
                                        default: 300
                                        minimum: 30
                                        maximum: 86400
                                        example: 300
                                      timeout_idle:
                                        description: Idle timeout in seconds for the client and server side.
                                        type: integer
                                        default: 50
                                        example: 50
                                      sticky_sessions:
                                        description: Use sticky sessions.
                                        type: boolean
                                        default: false
                                        example: true
                                    required:
                                    - cookie_name
                                    - cookie_lifetime
                                    - timeout_idle
                                    - sticky_sessions
                                required:
                                - http
                            - title: LoadBalancerServiceHTTPSProtocol
                              allOf:
                              - type: object
                                properties:
                                  protocol:
                                    description: Protocol of the Load Balancer.
                                    type: string
                                    enum:
                                    - tcp
                                    - http
                                    - https
                                  listen_port:
                                    description: Port the Load Balancer listens on.
                                    type: integer
                                    example: 443
                                  destination_port:
                                    description: Port the Load Balancer will balance to.
                                    type: integer
                                    example: 80
                                  proxyprotocol:
                                    description: Is Proxyprotocol enabled or not.
                                    type: boolean
                                    example: false
                                  health_check:
                                    title: LoadBalancerServiceHealthCheck
                                    description: Service health check.
                                    type: object
                                    properties:
                                      protocol:
                                        description: Type of the health check.
                                        type: string
                                        enum:
                                        - tcp
                                        - http
                                        example: http
                                      port:
                                        description: Port the health check will be performed on.
                                        type: integer
                                        example: 4711
                                      interval:
                                        description: Time interval in seconds health checks are performed.
                                        type: integer
                                        minimum: 3
                                        maximum: 60
                                        example: 15
                                      timeout:
                                        description: Time in seconds after an attempt is considered a timeout.
                                        type: integer
                                        minimum: 1
                                        maximum: 60
                                        example: 10
                                      retries:
                                        description: Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.
                                        type: integer
                                        minimum: 1
                                        maximum: 5
                                        example: 3
                                      http:
                                        description: Additional configuration for protocol http.
                                        type: object
                                        properties:
                                          domain:
                                            description: Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.
                                            type:
                                            - string
                                            - 'null'
                                            maxLength: 128
                                            example: example.com
                                          path:
                                            description: HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.
                                            type: string
                                            minLength: 1
                                            maxLength: 256
                                            example: /
                                          response:
                                            description: String that must be contained in HTTP response in order to pass the health check.
                                            type: string
                                            maxLength: 256
                                            example: '{"status": "ok"}'
                                          status_codes:
                                            description: List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones.
                                            type: array
                                            items:
                                              type: string
                                            default:
                                            - 2??
                                            - 3??
                                            maxItems: 20
                                            example:
                                            - 2??
                                            - 3??
                                          tls:
                                            description: Use HTTPS for health check.
                                            type: boolean
                                            example: false
                                        additionalProperties: false
                                        required:
                                        - domain
                                        - path
                                    additionalProperties: false
                                    required:
                                    - protocol
                                    - port
                                    - interval
                                    - timeout
                                    - retries
                                required:
                                - protocol
                                - listen_port
                                - destination_port
                                - proxyprotocol
                                - health_check
                              - type: object
                                properties:
                                  protocol:
                                    type: string
                                    enum:
                                    - https
                                    example: https
                                  http:
                                    title: LoadBalancerServiceHTTPSConfig
                                    description: Configuration option for protocol https.
                                    type: object
                                    properties:
                                      cookie_name:
                                        description: Name of the cookie used for sticky sessions.
                                        type: string
                                        default: HCLBSTICKY
                                        minLength: 1
                                        maxLength: 100
                                        example: HCLBSTICKY
                                      cookie_lifetime:
                                        description: Lifetime of the cookie used for sticky sessions (in seconds).
                                        type: integer
                                        default: 300
                                        minimum: 30
                                        maximum: 86400
                                        example: 300
                                      timeout_idle:
                                        description: Idle timeout in seconds for the client and server side.
                                        type: integer
                                        default: 50
                                        example: 50
                                      certificates:
                                        description: IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough.
                                        type: array
                                        items:
                                          type: integer
                                          format: int64
                                        example:
                                        - 897
                                      redirect_http:
                                        description: Redirect HTTP requests to HTTPS.
                                        type: boolean
                                        default: false
                                        example: true
                                      sticky_sessions:
                                        description: Use sticky sessions.
                                        type: boolean
                                        default: false
                                        example: true
                                    required:
                                    - cookie_name
                                    - cookie_lifetime
                                    - timeout_idle
                                    - certificates
                                    - redirect_http
                                    - sticky_sessions
                                required:
                                - http
                            discriminator:
                              propertyName: protocol
                              mapping:
                                tcp: '#/components/schemas/ServiceTCP'
                                http: '#/components/schemas/ServiceHTTPProtocol'
                                https: '#/components/schemas/ServiceHTTPSProtocol'
                        targets:
                          description: List of targets that belong to this Load Balancer.
                          type: array
                          items:
                            title: LoadBalancerTarget
                            oneOf:
                            - title: LoadBalancerTargetTypeServer
                              allOf:
                              - type: object
                                properties:
                                  type:
                                    description: Type of the resource.
                                    type: string
                                    enum:
                                    - server
                                    - label_selector
                                    - ip
                                required:
                                - type
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - server
                                    example: server
                                  server:
                                    title: LoadBalancerTargetServer
                                    description: Server where the traffic should be routed to. Only present for target type "server".
                                    type: object
                                    properties:
                                      id:
                                        description: ID of the Server.
                                        type: integer
                                        format: int64
                                        example: 80
                                    required:
                                    - id
                                  health_status:
                                    title: LoadBalancerTargetHealthStatus
                                    description: List of health statuses of the services on this target. Only present for target types "server" and "ip".
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        listen_port:
                                          type: integer
                                          example: 443
                                        status:
                                          type: string
                                          enum:
                                          - healthy
                                          - unhealthy
                                          - unknown
                                          example: healthy
                                      required:
                                      - listen_port
                                      - status
                                  use_private_ip:
                                    title: LoadBalancerTargetUsePrivateIP
                                    description: Use the private network IP instead of the public IP. Only present for target types "server" and "label_selector".
                                    type: boolean
                                    default: false
                                required:
                                - server
                                - health_status
                                - use_private_ip
                            - title: LoadBalancerTargetTypeLabelSelector
                              allOf:
                              - type: object
                                properties:
                                  type:
                                    description: Type of the resource.
                                    type: string
                                    enum:
                                    - server
                                    - label_selector
                                    - ip
                                required:
                                - type
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - label_selector
                                    example: label_selector
                                  label_selector:
                                    title: LoadBalancerTargetLabelSelector
                                    description: Label selector used to determine targets. Only present for target type "label_selector".
                                    type: object
                                    properties:
                                      selector:
                                        description: Label selector.
                                        type: string
                                        minLength: 1
                                        maxLength: 1000
                                        example: env=prod
                                    required:
                                    - selector
                                  targets:
                                    description: List of resolved label selector target Servers.
                                    type: array
                                    items:
                                      title: LoadBalancerTargetTarget
                                      type: object
                                      properties:
                                        type:
                                          description: Type of the resource. Here always "server".
                                          type: string
                                          example: server
                                        server:
                                          title: LoadBalancerTargetServer
                                          description: Server where the traffic should be routed to. Only present for target type "server".
                                          type: object
                                          properties:
                                            id:
                                              description: ID of the Server.
                                              type: integer
                                              format: int64
                                              example: 80
                                          required:
                                          - id
                                        health_status:
                                          title: LoadBalancerTargetHealthStatus
                                          description: List of health statuses of the services on this target. Only present for target types "server" and "ip".
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              listen_port:
                                                type: integer
                                                example: 443
                                              status:
                                                type: string
                                                enum:
                                                - healthy
                                                - unhealthy
                                                - unknown
                                                example: healthy
                                            required:
                                            - listen_port
                                            - status
                                        use_private_ip:
                                          title: LoadBalancerTargetUsePrivateIP
                                          description: Use the private network IP instead of the public IP. Only present for target types "server" and "label_selector".
                                          type: boolean
                                          default: false
                                      required:
                                      - type
                                      - server
                                      - health_status
                                      - use_private_ip
                                  use_private_ip:
                                    title: LoadBalancerTargetUsePrivateIP
                                    description: Use the private network IP instead of the public IP. Only present for target types "server" and "label_selector".
                                    type: boolean
                                    default: false
                                required:
                                - label_selector
                                - targets
                                - use_private_ip
                            - title: LoadBalancerTargetTypeIP
                              allOf:
                              - type: object
                                properties:
                                  type:
                                    description: Type of the resource.
                                    type: string
                                    enum:
                                    - server
                                    - label_selector
                                    - ip
                                required:
                                - type
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - ip
                                    example: ip
                                  ip:
                                    title: LoadBalancerTargetIP
                                    description: IP target where the traffic should be routed to. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only present for target type `ip`.
                                    type: object
                                    properties:
                                      ip:
                                        description: IP of a server that belongs to the same customer (public IPv4/IPv6) or private IP in a subnet type vswitch.
                                        type: string
                                        example: 203.0.113.1
                                    required:
                                    - ip
                                  health_status:
                                    title: LoadBalancerTargetHealthStatus
                                    description: List of health statuses of the services on this target. Only present for target types "server" and "ip".
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        listen_port:
                                          type: integer
                                          example: 443
                                        status:
                                          type: string
                                          enum:
                                          - healthy
                                          - unhealthy
                                          - unknown
                                          example: healthy
                                      required:
                                      - listen_port
                                      - status
                                required:
                                - ip
                                - health_status
                            discriminator:
                              propertyName: type
                              mapping:
                                server: '#/components/schemas/TargetTypeServer'
                                label_selector: '#/components/schemas/TargetTypeLabelSelector'
                                ip: '#/components/schemas/TargetTypeIP'
                        algorithm:
                          description: Algorithm of the Load Balancer.
                          type: object
                          properties:
                            type:
                              description: Type of the algorithm.
                              type: string
                              enum:
                              - round_robin
                              - least_connections
                          required:
                          - type
                        outgoing_traffic:
                          description: Outbound Traffic for the current billing period in bytes.
                          type:
                          - integer
                          - 'null'
                          format: int64
                        ingoing_traffic:
                          description: Inbound Traffic for the current billing period in bytes.
                          type:
                          - integer
                          - 'null'
                          format: int64
                        included_traffic:
                          description: Free Traffic for the current billing period in bytes.
                          type: integer
                          format: int64
                          example: 10000
                      required:
                      - id
                      - name
                      - public_net
                      - private_net
                      - location
                      - load_balancer_type
                      - protection
                      - labels
                      - created
                      - services
                      - targets
                      - algorithm
                      - outgoing_traffic
                      - ingoing_traffic
                      - included_traffic
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - load_balancers
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tloadBalancers, err := client.LoadBalancer.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          load_balancers = client.load_balancers.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud load-balancer list
    post:
      operationId: create_load_balancer
      summary: Create a Load Balancer
      description: 'Creates a Load Balancer.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `412` | `source_port_already_used` | The source port you are trying to add is already in use |

        | `422` | `ip_not_owned` | The IP is not owned by the owner of the project of the Load Balancer |

        | `422` | `load_balancer_not_attached_to_network` | The Load Balancer is not attached to a network |

        | `422` | `resolve_cloud_private_targets_error` | The server you are trying to add as a target is not attached to the same network as the Load Balancer |

        | `422` | `resolve_cloud_public_targets_error` | The server that you are trying to add as a public target does not have a public IPv4 address |

        | `422` | `target_already_defined` | The Load Balancer target you are trying to define is already defined |'
      tags:
      - Load Balancers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: CreateLoadBalancerRequest
              type: object
              properties:
                name:
                  description: Name of the Load Balancer.
                  type: string
                  minLength: 1
                  maxLength: 128
                  pattern: ^\S(.*\S)?$
                  example: Web Frontend
                load_balancer_type:
                  description: ID or name of the Load Balancer type this Load Balancer should be created with.
                  type: string
                  example: lb11
                algorithm:
                  title: LoadBalancerAlgorithm
                  description: Algorithm of the Load Balancer.
                  type: object
                  properties:
                    type:
                      description: Type of the algorithm.
                      type: string
                      enum:
                      - round_robin
                      - least_connections
                  required:
                  - type
                  default:
                    type: round_robin
                services:
                  description: Array of services.
                  type: array
                  items:
                    title: LoadBalancerService
                    oneOf:
                    - title: LoadBalancerServiceTCP
                      allOf:
                      - type: object
                        properties:
                          protocol:
                            description: Protocol of the Load Balancer.
                            type: string
                            enum:
                            - tcp
                            - http
                            - https
                          listen_port:
                            description: Port the Load Balancer listens on.
                            type: integer
                            example: 443
                          destination_port:
                            description: Port the Load Balancer will balance to.
                            type: integer
                            example: 80
                          proxyprotocol:
                            description: Is Proxyprotocol enabled or not.
                            type: boolean
                            example: false
                          health_check:
                            title: LoadBalancerServiceHealthCheck
                            description: Service health check.
                            type: object
                            properties:
                              protocol:
                                description: Type of the health check.
                                type: string
                                enum:
                                - tcp
                                - http
                                example: http
                              port:
                                description: Port the health check will be performed on.
                                type: integer
                                example: 4711
                              interval:
                                description: Time interval in seconds health checks are performed.
                                type: integer
                                minimum: 3
                                maximum: 60
                                example: 15
                              timeout:
                                description: Time in seconds after an attempt is considered a timeout.
                                type: integer
                                minimum: 1
                                maximum: 60
                                example: 10
                              retries:
                                description: Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.
                                type: integer
                                minimum: 1
                                maximum: 5
                                example: 3
                              http:
                                description: Additional configuration for protocol http.
                                type: object
                                properties:
                                  domain:
                                    description: Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.
                                    type:
                                    - string
                                    - 'null'
                                    maxLength: 128
                                    example: example.com
                                  path:
                                    description: HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.
                                    type: string
                                    minLength: 1
                                    maxLength: 256
                                    example: /
                                  response:
                                    description: String that must be contained in HTTP response in order to pass the health check.
                                    type: string
                                    maxLength: 256
                                    example: '{"status": "ok"}'
                                  status_codes:
                                    description: List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones.
                                    type: array
                                    items:
                                      type: string
                                    default:
                                    - 2??
                                    - 3??
                                    maxItems: 20
                                    example:
                                    - 2??
                                    - 3??
                                  tls:
                                    description: Use HTTPS for health check.
                                    type: boolean
                                    example: false
                                additionalProperties: false
                                required:
                                - domain
                                - path
                            additionalProperties: false
                            required:
                            - protocol
                            - port
                            - interval
                            - timeout
                            - retries
                        required:
                        - protocol
                        - listen_port
                        - destination_port
                        - proxyprotocol
                        - health_check
                      - type: object
                        properties:
                          protocol:
                            type: string
                            enum:
                            - tcp
                            example: tcp
                    - title: LoadBalancerServiceHTTPProtocol
                      allOf:
                      - type: object
                        properties:
                          protocol:
                            description: Protocol of the Load Balancer.
                            type: string
                            enum:
                            - tcp
                            - http
                            - https
                          listen_port:
                            description: Port the Load Balancer listens on.
                            type: integer
                            example: 443
                          destination_port:
                            description: Port the Load Balancer will balance to.
                            type: integer
                            example: 80
                          proxyprotocol:
                            description: Is Proxyprotocol enabled or not.
                            type: boolean
                            example: false
                          health_check:
                            title: LoadBalancerServiceHealthCheck
                            description: Service health check.
                            type: object
                            properties:
                              protocol:
                                description: Type of the health check.
                                type: string
                                enum:
                                - tcp
                                - http
                                example: http
                              port:
                                description: Port the health check will be performed on.
                                type: integer
                                example: 4711
                              interval:
                                description: Time interval in seconds health checks are performed.
                                type: integer
                                minimum: 3
                                maximum: 60
                                example: 15
                              timeout:
                                description: Time in seconds after an attempt is considered a timeout.
                                type: integer
                                minimum: 1
                                maximum: 60
                                example: 10
                              retries:
                                description: Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.
                                type: integer
                                minimum: 1
                                maximum: 5
                                example: 3
                              http:
                                description: Additional configuration for protocol http.
                                type: object
                                properties:
                                  domain:
                                    description: Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.
                                    type:
                                    - string
                                    - 'null'
                                    maxLength: 128
                                    example: example.com
                                  path:
                                    description: HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.
                                    type: string
                                    minLength: 1
                                    maxLength: 256
                                    example: /
                                  response:
                                    description: String that must be contained in HTTP response in order to pass the health check.
                                    type: string
                                    maxLength: 256
                                    example: '{"status": "ok"}'
                                  status_codes:
                                    description: List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones.
                                    type: array
                                    items:
                                      type: string
                                    default:
                                    - 2??
                                    - 3??
                                    maxItems: 20
                                    example:
                                    - 2??
                                    - 3??
                                  tls:
                                    description: Use HTTPS for health check.
                                    type: boolean
                                    example: false
                                additionalProperties: false
                                required:
                                - domain
                                - path
                            additionalProperties: false
                            required:
                            - protocol
                            - port
                            - interval
                            - timeout
                            - retries
                        required:
                        - protocol
                        - listen_port
                        - destination_port
                        - proxyprotocol
                        - health_check
                      - type: object
                        properties:
                          protocol:
                            type: string
                            enum:
                            - http
                            example: http
                          http:
                            title: LoadBalancerServiceHTTPConfig
                            description: Configuration option for protocol http.
                            type: object
                            properties:
                              cookie_name:
                                description: Name of the cookie used for sticky sessions.
                                type: string
                                default: HCLBSTICKY
                                minLength: 1
                                maxLength: 100
                                example: HCLBSTICKY
                              cookie_lifetime:
                                description: Lifetime of the cookie used for sticky sessions (in seconds).
                                type: integer
                                default: 300
                                minimum: 30
                                maximum: 86400
                                example: 300
                              timeout_idle:
                                description: Idle timeout in seconds for the client and server side.
                                type: integer
                                default: 50
                                example: 50
                              sticky_sessions:
                                description: Use sticky sessions.
                                type: boolean
                                default: false
                                example: true
                            required:
                            - cookie_name
                            - cookie_lifetime
                            - timeout_idle
                            - sticky_sessions
                        required:
                        - http
                    - title: LoadBalancerServiceHTTPSProtocol
                      allOf:
                      - type: object
                        properties:
                          protocol:
                            description: Protocol of the Load Balancer.
                            type: string
                            enum:
                            - tcp
                            - http
                            - https
                          listen_port:
                            description: Port the Load Balancer listens on.
                            type: integer
                            example: 443
                          destination_port:
                            description: Port the Load Balancer will balance to.
                            type: integer
                            example: 80
                          proxyprotocol:
                            description: Is Proxyprotocol enabled or not.
                            type: boolean
                            example: false
                          health_check:
                            title: LoadBalancerServiceHealthCheck
                            description: Service health check.
                            type: object
                            properties:
                              protocol:
                                description: Type of the health check.
                                type: string
                                enum:
                                - tcp
                                - http
                                example: http
                              port:
                                description: Port the health check will be performed on.
                                type: integer
                                example: 4711
                              interval:
                                description: Time interval in seconds health checks are performed.
                                type: integer
                                minimum: 3
                                maximum: 60
                                example: 15
                              timeout:
                                description: Time in seconds after an attempt is considered a timeout.
                                type: integer
                                minimum: 1
                                maximum: 60
                                example: 10
                              retries:
                                description: Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.
                                type: integer
                                minimum: 1
                                maximum: 5
                                example: 3
                              http:
                                description: Additional configuration for protocol http.
                                type: object
                                properties:
                                  domain:
                                    description: Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.
                                    type:
                                    - string
                                    - 'null'
                                    maxLength: 128
                                    example: example.com
                                  path:
                                    description: HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.
                                    type: string
                                    minLength: 1
                                    maxLength: 256
                                    example: /
                                  response:
                                    description: String that must be contained in HTTP response in order to pass the health check.
                                    type: string
                                    maxLength: 256
                                    example: '{"status": "ok"}'
                                  status_codes:
                                    description: List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones.
                                    type: array
                                    items:
                                      type: string
                                    default:
                                    - 2??
                                    - 3??
                                    maxItems: 20
                                    example:
                                    - 2??
                                    - 3??
                                  tls:
                                    description: Use HTTPS for health check.
                                    type: boolean
                                    example: false
                                additionalProperties: false
                                required:
                                - domain
                                - path
                            additionalProperties: false
                            required:
                            - protocol
                            - port
                            - interval
                            - timeout
                            - retries
                        required:
                        - protocol
                        - listen_port
                        - destination_port
                        - proxyprotocol
                        - health_check
                      - type: object
                        properties:
                          protocol:
                            type: string
                            enum:
                            - https
                            example: https
                          http:
                            title: LoadBalancerServiceHTTPSConfig
                            description: Configuration option for protocol https.
                            type: object
                            properties:
                              cookie_name:
                                description: Name of the cookie used for sticky sessions.
                                type: string
                                default: HCLBSTICKY
                                minLength: 1
                                maxLength: 100
                                example: HCLBSTICKY
                              cookie_lifetime:
                                description: Lifetime of the cookie used for sticky sessions (in seconds).
                                type: integer
                                default: 300
                                minimum: 30
                                maximum: 86400
                                example: 300
                              timeout_idle:
                                description: Idle timeout in seconds for the client and server side.
                                type: integer
                                default: 50
                                example: 50
                              certificates:
                                description: IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough.
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 897
                              redirect_http:
                                description: Redirect HTTP requests to HTTPS.
                                type: boolean
                                default: false
                                example: true
                              sticky_sessions:
                                description: Use sticky sessions.
                                type: boolean
                                default: false
                                example: true
                            required:
                            - cookie_name
                            - cookie_lifetime
                            - timeout_idle
                            - certificates
                            - redirect_http
                            - sticky_sessions
                        required:
                        - http
                    discriminator:
                      propertyName: protocol
                      mapping:
                        tcp: '#/components/schemas/ServiceTCP'
                        http: '#/components/schemas/ServiceHTTPProtocol'
                        https: '#/components/schemas/ServiceHTTPSProtocol'
                targets:
                  description: Array of targets.
                  type: array
                  items:
                    allOf:
                    - title: LoadBalancerTarget
                      description: Configuration of a Load Balancer target.
                      type: object
                      properties:
                        type:
                          description: Type of the resource.
                          type: string
                          enum:
                          - server
                          - label_selector
                          - ip
                        server:
                          title: LoadBalancerTargetServer
                          description: Configuration for type Server, only valid and required if type is `server`.
                          type: object
                          properties:
                            id:
                              description: ID of the Server.
                              type: integer
                              format: int64
                              example: 80
                          additionalProperties: false
                          required:
                          - id
                        label_selector:
                          title: LoadBalancerTargetLabelSelector
                          description: Configuration for label selector targets, only valid and required if type is `label_selector`.
                          type: object
                          properties:
                            selector:
                              description: Label selector.
                              type: string
                              minLength: 1
                              maxLength: 1000
                              example: env=prod
                          required:
                          - selector
                        ip:
                          title: LoadBalancerTargetIP
                          description: Configuration for an IP target. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only valid and required if type is `ip`.
                          type: object
                          properties:
                            ip:
                              description: IP of a server that belongs to the same customer (public IPv4/IPv6) or private IP in a subnet type vswitch.
                              type: string
                              example: 203.0.113.1
                          required:
                          - ip
                      required:
                      - type
                    - type: object
                      properties:
                        use_private_ip:
                          description: Use the private network IP instead of the public IP of the Server, requires the Server and Load Balancer to be in the same network. Only valid for target types `server` and `label_selector`.
                          type: boolean
                          default: false
                          example: true
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                public_interface:
                  description: Enable or disable the public interface of the Load Balancer.
                  type: boolean
                  example: true
                network:
                  description: ID of the network the Load Balancer should be attached to on creation.
                  type: integer
                  format: int64
                  example: 123
                network_zone:
                  description: Name of network zone.
                  type: string
                  example: eu-central
                location:
                  description: ID or name of Location to create Load Balancer in.
                  type: string
                  example: fsn1
              required:
              - name
              - load_balancer_type
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  load_balancer:
                    type: object
                    properties:
                      id:
                        description: ID of the [Load Balancer](#tag/load-balancers).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      public_net:
                        description: Public network information.
                        type: object
                        properties:
                          enabled:
                            description: Public Interface enabled or not.
                            type: boolean
                          ipv4:
                            description: IP address (v4).
                            type: object
                            properties:
                              ip:
                                description: IP address (v4) of this Load Balancer.
                                type:
                                - string
                                - 'null'
                                example: 1.2.3.4
                              dns_ptr:
                                description: Reverse DNS PTR entry for the IPv4 address of this Load Balancer.
                                type:
                                - string
                                - 'null'
                                example: lb1.example.com
                            required:
                            - ip
                            - dns_ptr
                          ipv6:
                            description: IP address (v6).
                            type: object
                            properties:
                              ip:
                                description: IP address (v6) of this Load Balancer.
                                type:
                                - string
                                - 'null'
                                example: 2001:db8::1
                              dns_ptr:
                                description: Reverse DNS PTR entry for the IPv6 address of this Load Balancer.
                                type:
                                - string
                                - 'null'
                                example: lb1.example.com
                            required:
                            - ip
                            - dns_ptr
                        required:
                        - enabled
                        - ipv4
                        - ipv6
                      private_net:
                        description: Private networks information.
                        type: array
                        items:
                          type: object
                          properties:
                            network:
                              description: ID of the Network.
                              type: integer
                              format: int64
                              example: 4711
                            ip:
                              description: IP address (v4) of this Load Balancer in this Network.
                              type: string
                              example: 10.0.0.2
                          required:
                          - network
                          - ip
                      location:
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
[...]
