openapi: 3.2.0
info:
  title: Hetzner Cloud Pricing API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Pricing
  description: Returns prices for resources.
paths:
  /pricing:
    get:
      operationId: get_pricing
      summary: Get all prices
      description: 'Returns prices for all resources available on the platform. VAT and currency of the Project owner are used for calculations.


        Both net and gross prices are included in the response.'
      tags:
      - Pricing
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pricing:
                    type: object
                    properties:
                      currency:
                        description: Currency the returned prices are expressed in, coded according to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).
                        type: string
                        example: EUR
                      vat_rate:
                        description: VAT rate used for calculating prices with VAT.
                        type: string
                        format: decimal
                        example: '19.00'
                      primary_ips:
                        description: Price of [Primary IPs](#tag/primary-ips) per type and per [Location](#tag/locations).
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: Type of [Primary IP](#tag/primary-ips) the price is for.
                              type: string
                              enum:
                              - ipv4
                              - ipv6
                              example: ipv4
                            prices:
                              description: Price of the [Primary IP](#tag/primary-ips) type per [Location](#tag/locations).
                              type: array
                              items:
                                type: object
                                properties:
                                  location:
                                    description: Name of the [Location](#tag/locations) the price is for.
                                    type: string
                                    example: fsn1
                                  price_hourly:
                                    description: Hourly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  price_monthly:
                                    description: Monthly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                required:
                                - location
                                - price_hourly
                                - price_monthly
                          required:
                          - type
                          - prices
                      floating_ips:
                        description: Price of [Floating IPs](#tag/floating-ips) per type and per [Location](#tag/locations).
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: Type of [Floating IP](#tag/floating-ips) the price is for.
                              type: string
                              enum:
                              - ipv4
                              - ipv6
                              example: ipv4
                            prices:
                              description: Price of the [Floating IP](#tag/floating-ips) type per [Location](#tag/locations).
                              type: array
                              items:
                                type: object
                                properties:
                                  location:
                                    description: Name of the [Location](#tag/locations) the price is for.
                                    type: string
                                    example: fsn1
                                  price_monthly:
                                    description: Monthly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                required:
                                - location
                                - price_monthly
                          required:
                          - type
                          - prices
                      image:
                        description: Price of [Images](#tag/images).
                        type: object
                        properties:
                          price_per_gb_month:
                            description: Price of [Images](#tag/images) per GB/month.
                            type: object
                            properties:
                              net:
                                description: Price without VAT.
                                type: string
                                format: decimal
                                example: '1.0000'
                              gross:
                                description: Price with VAT added.
                                type: string
                                format: decimal
                                example: '1.1900'
                            required:
                            - net
                            - gross
                        required:
                        - price_per_gb_month
                      volume:
                        description: Price of [Volumes](#tag/volumes).
                        type: object
                        properties:
                          price_per_gb_month:
                            description: Price of [Volumes](#tag/volumes) per GB/month.
                            type: object
                            properties:
                              net:
                                description: Price without VAT.
                                type: string
                                format: decimal
                                example: '1.0000'
                              gross:
                                description: Price with VAT added.
                                type: string
                                format: decimal
                                example: '1.1900'
                            required:
                            - net
                            - gross
                        required:
                        - price_per_gb_month
                      server_backup:
                        description: Price of [Server](#tag/servers) backups.
                        type: object
                        properties:
                          percentage:
                            description: Price increase of the [Server](#tag/servers) base price in percentage.
                            type: string
                            format: decimal
                            example: '20.00'
                        required:
                        - percentage
                      server_types:
                        description: Price of Server per [type](#tag/server-types) and per [Location](#tag/locations).
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the [Server Types](#tag/server-types) the price is for.
                              type: integer
                              format: int64
                              example: 104
                            name:
                              description: Name of the [Server Types](#tag/server-types) the price is for.
                              type: string
                              example: cpx22
                            prices:
                              description: Price of the [Server Types](#tag/server-types) per [Location](#tag/locations).
                              type: array
                              items:
                                type: object
                                properties:
                                  location:
                                    description: Name of the [Location](#tag/locations) the price is for.
                                    type: string
                                    example: fsn1
                                  price_hourly:
                                    description: Hourly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  price_monthly:
                                    description: Monthly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  included_traffic:
                                    description: Free traffic per month in bytes in this [Location](#tag/locations).
                                    type: integer
                                    format: int64
                                    example: 654321
                                  price_per_tb_traffic:
                                    description: Additional traffic price per TB in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                required:
                                - location
                                - price_hourly
                                - price_monthly
                                - included_traffic
                                - price_per_tb_traffic
                          required:
                          - id
                          - name
                          - prices
                      load_balancer_types:
                        description: Price of Load Balancer per [type](#tag/load-balancer-types) and per [Location](#tag/locations).
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the [Load Balancer Types](#tag/load-balancer-types) the price is for.
                              type: integer
                              format: int64
                              example: 1
                            name:
                              description: Name of the [Load Balancer Types](#tag/load-balancer-types) the price is for.
                              type: string
                              example: lb11
                            prices:
                              description: Price of the [Load Balancer Types](#tag/load-balancer-types) per [Location](#tag/locations).
                              type: array
                              items:
                                type: object
                                properties:
                                  location:
                                    description: Name of the [Location](#tag/locations) the price is for.
                                    type: string
                                    example: fsn1
                                  price_hourly:
                                    description: Hourly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  price_monthly:
                                    description: Monthly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  included_traffic:
                                    description: Free traffic per month in bytes in this [Location](#tag/locations).
                                    type: integer
                                    format: int64
                                    example: 654321
                                  price_per_tb_traffic:
                                    description: Additional traffic price per TB in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                required:
                                - location
                                - price_hourly
                                - price_monthly
                                - included_traffic
                                - price_per_tb_traffic
                          required:
                          - id
                          - name
                          - prices
                      floating_ip:
                        deprecated: true
                        description: 'Price of [Floating IPs](#tag/floating-ips).


                          **Deprecated**: This field is deprecated, please refer to the `floating_ips` field instead.


                          See the [Changelog](https://docs.hetzner.cloud/changelog#2024-08-29-field-floating_ip-in-pricing-response-is-now-deprecated) for more details.

                          '
                        type: object
                        properties:
                          price_monthly:
                            description: Price of one [Floating IP](#tag/floating-ips) per month.
                            type: object
                            properties:
                              net:
                                description: Price without VAT.
                                type: string
                                format: decimal
                                example: '1.0000'
                              gross:
                                description: Price with VAT added.
                                type: string
                                format: decimal
                                example: '1.1900'
                            required:
                            - net
                            - gross
                        required:
                        - price_monthly
                    required:
                    - currency
                    - vat_rate
                    - primary_ips
                    - floating_ips
                    - image
                    - volume
                    - server_backup
                    - server_types
                    - load_balancer_types
                    - floating_ip
                required:
                - pricing
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tpricing, _, err := client.Pricing.Get(ctx)\n}"
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
