openapi: 3.2.0
info:
  title: Hetzner Cloud Zones API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Zones
  description: A Zone represents a Domain Name System (DNS) zone managed by Hetzner authoritative nameservers.
paths:
  /zones:
    get:
      operationId: list_zones
      summary: List Zones
      description: 'Returns all Zones.


        Use the provided URI parameters to modify the result.'
      tags:
      - Zones
      parameters:
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by their mode.


          The response will only contain the resources matching exactly the specified mode.

          '
        name: mode
        in: query
        required: false
        schema:
          description: 'Mode of the [Zone](#tag/zones).


            For more information, see [Zone Modes](#tag/zones/zone-modes).

            '
          type: string
          enum:
          - primary
          - secondary
          example: primary
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  zones:
                    type: array
                    items:
                      title: Zone
                      oneOf:
                      - title: Primary Zone
                        allOf:
                        - type: object
                          properties:
                            id:
                              description: ID of the [Zone](#tag/zones).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: 'Name of the [Zone](#tag/zones).


                                All names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,

                                `.com`, `.co.uk`) are supported. Subdomains are not supported.


                                The name must be in lower case and must not end with a dot.

                                [Internationalized domain

                                names](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be

                                transcribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with

                                ACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).

                                '
                              type: string
                              maxLength: 255
                              example: example.com
                            created:
                              description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                              type: string
                              format: date-time
                              example: '2016-01-30T23:55:00Z'
                            primary_nameservers:
                              description: 'Primary nameservers of the [Zone](#tag/zones).


                                Only set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.

                                '
                              type: array
                              items:
                                description: 'Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.


                                  Must allow queries from and may send `NOTIFY` queries to [Hetzner''s secondary

                                  nameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).

                                  '
                                type: object
                                properties:
                                  address:
                                    description: Public IPv4 or IPv6 address of the primary nameserver.
                                    type: string
                                    example: 198.51.100.1
                                  port:
                                    description: Port of the primary nameserver.
                                    type: integer
                                    default: 53
                                    example: 5353
                                  tsig_key:
                                    description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use

                                      for the zone transfer. Must be base64 encoded.

                                      '
                                    type: string
                                  tsig_algorithm:
                                    description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm

                                      used to generate the TSIG key.

                                      '
                                    type: string
                                    enum:
                                    - hmac-md5
                                    - hmac-sha1
                                    - hmac-sha256
                                required:
                                - address
                              example:
                              - address: 198.51.100.1
                                port: 53
                              - address: 203.0.113.1
                                port: 53
                            labels:
                              description: 'User-defined labels (`key/value` pairs) for the Resource.

                                For more information, see "[Labels](#description/labels)".

                                '
                              type: object
                              additionalProperties:
                                type: string
                              example:
                                environment: prod
                                example.com/my: label
                                just-a-key: ''
                            protection:
                              description: Protection configuration for the Resource.
                              type: object
                              properties:
                                delete:
                                  description: Prevent the Resource from being deleted.
                                  type: boolean
                                  example: false
                              required:
                              - delete
                            ttl:
                              description: 'Default Time To Live (TTL) of the [Zone](#tag/zones).


                                Must be in between 60s and 2147483647s.


                                This TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.

                                '
                              type: integer
                              default: 3600
                              minimum: 60
                              maximum: 2147483647
                              example: 10800
                            status:
                              description: 'Status of the [Zone](#tag/zones).

                                '
                              type: string
                              enum:
                              - ok
                              - updating
                              - error
                              x-enumDescriptions:
                                ok: The Zone is pushed to the authoritative nameservers.
                                updating: The Zone is currently being published to the authoritative nameservers.
                                error: The Zone could not be published to the authoritative nameservers.
                            record_count:
                              description: Number of resource records (RR) within the [Zone](#tag/zones).
                              type: integer
                            authoritative_nameservers:
                              type: object
                              properties:
                                assigned:
                                  description: 'Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).

                                    '
                                  type: array
                                  items:
                                    type: string
                                  example:
                                  - hydrogen.ns.hetzner.com.
                                  - oxygen.ns.hetzner.com.
                                  - helium.ns.hetzner.de.
                                delegated:
                                  description: 'Authoritative nameservers currently delegated to by the parent DNS zone.


                                    If these don''t match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.

                                    '
                                  type: array
                                  items:
                                    type: string
                                  example:
                                  - hydrogen.ns.hetzner.com.
                                  - oxygen.ns.hetzner.com.
                                  - helium.ns.hetzner.de.
                                delegation_last_check:
                                  description: 'Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.

                                    '
                                  type:
                                  - string
                                  - 'null'
                                  format: date-time
                                  example: '2016-01-30T23:55:00Z'
                                delegation_status:
                                  description: 'Status of the delegation.

                                    '
                                  type: string
                                  enum:
                                  - valid
                                  - partially-valid
                                  - invalid
                                  - lame
                                  - unregistered
                                  - unknown
                                  x-enumDescriptions:
                                    valid: Parent zone correctly delegates to assigned nameservers.
                                    partially-valid: Parent zone delegates to additional Hetzner nameservers not assigned to this zone.
                                    invalid: Parent zone does not delegate to the assigned nameservers.
                                    lame: Parent zone delegates to nameservers that don't know the zone.
                                    unregistered: Domain is not registered.
                                    unknown: Not yet known.
                              required:
                              - assigned
                              - delegated
                              - delegation_last_check
                            registrar:
                              description: Registrar of the domain.
                              type: string
                              enum:
                              - hetzner
                              - other
                              - unknown
                          required:
                          - id
                          - name
                          - labels
                          - created
                          - status
                          - ttl
                          - record_count
                          - protection
                          - authoritative_nameservers
                          - registrar
                        - type: object
                          properties:
                            mode:
                              enum:
                              - primary
                              description: 'Mode of the [Zone](#tag/zones).


                                For more information, see [Zone Modes](#tag/zones/zone-modes).

                                '
                              type: string
                              example: primary
                          required:
                          - mode
                      - title: Secondary Zone
                        allOf:
                        - type: object
                          properties:
                            id:
                              description: ID of the [Zone](#tag/zones).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: 'Name of the [Zone](#tag/zones).


                                All names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,

                                `.com`, `.co.uk`) are supported. Subdomains are not supported.


                                The name must be in lower case and must not end with a dot.

                                [Internationalized domain

                                names](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be

                                transcribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with

                                ACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).

                                '
                              type: string
                              maxLength: 255
                              example: example.com
                            created:
                              description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                              type: string
                              format: date-time
                              example: '2016-01-30T23:55:00Z'
                            primary_nameservers:
                              description: 'Primary nameservers of the [Zone](#tag/zones).


                                Only set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.

                                '
                              type: array
                              items:
                                description: 'Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.


                                  Must allow queries from and may send `NOTIFY` queries to [Hetzner''s secondary

                                  nameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).

                                  '
                                type: object
                                properties:
                                  address:
                                    description: Public IPv4 or IPv6 address of the primary nameserver.
                                    type: string
                                    example: 198.51.100.1
                                  port:
                                    description: Port of the primary nameserver.
                                    type: integer
                                    default: 53
                                    example: 5353
                                  tsig_key:
                                    description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use

                                      for the zone transfer. Must be base64 encoded.

                                      '
                                    type: string
                                  tsig_algorithm:
                                    description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm

                                      used to generate the TSIG key.

                                      '
                                    type: string
                                    enum:
                                    - hmac-md5
                                    - hmac-sha1
                                    - hmac-sha256
                                required:
                                - address
                              example:
                              - address: 198.51.100.1
                                port: 53
                              - address: 203.0.113.1
                                port: 53
                            labels:
                              description: 'User-defined labels (`key/value` pairs) for the Resource.

                                For more information, see "[Labels](#description/labels)".

                                '
                              type: object
                              additionalProperties:
                                type: string
                              example:
                                environment: prod
                                example.com/my: label
                                just-a-key: ''
                            protection:
                              description: Protection configuration for the Resource.
                              type: object
                              properties:
                                delete:
                                  description: Prevent the Resource from being deleted.
                                  type: boolean
                                  example: false
                              required:
                              - delete
                            ttl:
                              description: 'Default Time To Live (TTL) of the [Zone](#tag/zones).


                                Must be in between 60s and 2147483647s.


                                This TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.

                                '
                              type: integer
                              default: 3600
                              minimum: 60
                              maximum: 2147483647
                              example: 10800
                            status:
                              description: 'Status of the [Zone](#tag/zones).

                                '
                              type: string
                              enum:
                              - ok
                              - updating
                              - error
                              x-enumDescriptions:
                                ok: The Zone is pushed to the authoritative nameservers.
                                updating: The Zone is currently being published to the authoritative nameservers.
                                error: The Zone could not be published to the authoritative nameservers.
                            record_count:
                              description: Number of resource records (RR) within the [Zone](#tag/zones).
                              type: integer
                            authoritative_nameservers:
                              type: object
                              properties:
                                assigned:
                                  description: 'Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).

                                    '
                                  type: array
                                  items:
                                    type: string
                                  example:
                                  - hydrogen.ns.hetzner.com.
                                  - oxygen.ns.hetzner.com.
                                  - helium.ns.hetzner.de.
                                delegated:
                                  description: 'Authoritative nameservers currently delegated to by the parent DNS zone.


                                    If these don''t match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.

                                    '
                                  type: array
                                  items:
                                    type: string
                                  example:
                                  - hydrogen.ns.hetzner.com.
                                  - oxygen.ns.hetzner.com.
                                  - helium.ns.hetzner.de.
                                delegation_last_check:
                                  description: 'Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.

                                    '
                                  type:
                                  - string
                                  - 'null'
                                  format: date-time
                                  example: '2016-01-30T23:55:00Z'
                                delegation_status:
                                  description: 'Status of the delegation.

                                    '
                                  type: string
                                  enum:
                                  - valid
                                  - partially-valid
                                  - invalid
                                  - lame
                                  - unregistered
                                  - unknown
                                  x-enumDescriptions:
                                    valid: Parent zone correctly delegates to assigned nameservers.
                                    partially-valid: Parent zone delegates to additional Hetzner nameservers not assigned to this zone.
                                    invalid: Parent zone does not delegate to the assigned nameservers.
                                    lame: Parent zone delegates to nameservers that don't know the zone.
                                    unregistered: Domain is not registered.
                                    unknown: Not yet known.
                              required:
                              - assigned
                              - delegated
                              - delegation_last_check
                            registrar:
                              description: Registrar of the domain.
                              type: string
                              enum:
                              - hetzner
                              - other
                              - unknown
                          required:
                          - id
                          - name
                          - labels
                          - created
                          - status
                          - ttl
                          - record_count
                          - protection
                          - authoritative_nameservers
                          - registrar
                        - type: object
                          properties:
                            mode:
                              enum:
                              - secondary
                              example: secondary
                              description: 'Mode of the [Zone](#tag/zones).


                                For more information, see [Zone Modes](#tag/zones/zone-modes).

                                '
                              type: string
                          required:
                          - mode
                      discriminator:
                        propertyName: mode
                        mapping:
                          primary: '#/components/schemas/ZonePrimary'
                          secondary: '#/components/schemas/ZoneSecondary'
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - zones
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tzones, err := client.Zone.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          zones = client.zones.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud zone list
    post:
      operationId: create_zone
      summary: Create a Zone
      description: 'Creates a Zone.


        A default `SOA` and three `NS` resource records with the assigned Hetzner

        nameservers are created automatically.'
      tags:
      - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Name of the [Zone](#tag/zones).


                    All names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,

                    `.com`, `.co.uk`) are supported. Subdomains are not supported.


                    The name must be in lower case and must not end with a dot.

                    [Internationalized domain

                    names](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be

                    transcribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with

                    ACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).

                    '
                  type: string
                  maxLength: 255
                  example: example.com
                mode:
                  description: 'Mode of the [Zone](#tag/zones).


                    For more information, see [Zone Modes](#tag/zones/zone-modes).

                    '
                  type: string
                  enum:
                  - primary
                  - secondary
                  example: primary
                ttl:
                  description: 'Default Time To Live (TTL) of the [Zone](#tag/zones).


                    Must be in between 60s and 2147483647s.


                    This TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.

                    '
                  type: integer
                  default: 3600
                  minimum: 60
                  maximum: 2147483647
                  example: 10800
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                primary_nameservers:
                  description: 'Primary nameservers of the [Zone](#tag/zones).


                    Only applicable for [Zones](#tag/zones) in secondary mode.

                    Ignored for [Zones](#tag/zones) in primary mode.

                    '
                  type: array
                  items:
                    description: 'Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.


                      Must allow queries from and may send `NOTIFY` queries to [Hetzner''s secondary

                      nameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).

                      '
                    type: object
                    properties:
                      address:
                        description: Public IPv4 or IPv6 address of the primary nameserver.
                        type: string
                        example: 198.51.100.1
                      port:
                        description: Port of the primary nameserver.
                        type: integer
                        default: 53
                        example: 5353
                      tsig_key:
                        description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use

                          for the zone transfer. Must be base64 encoded.

                          '
                        type: string
                      tsig_algorithm:
                        description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm

                          used to generate the TSIG key.

                          '
                        type: string
                        enum:
                        - hmac-md5
                        - hmac-sha1
                        - hmac-sha256
                    required:
                    - address
                  example:
                  - address: 198.51.100.1
                    port: 53
                  - address: 203.0.113.1
                    port: 53
                rrsets:
                  description: '[RRSets](#tag/zone-rrsets) to be added to the [Zone](#tag/zones).


                    Only applicable for [Zones](#tag/zones) in primary mode.

                    Ignored for [Zones](#tag/zones) in secondary mode.

                    '
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        description: 'Name of the [RRSet](#tag/zone-rrsets).


                          The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

                          name. Names containing non-ASCII characters must be transcribed to

                          [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

                          `xn--4bi` (✉️).


                          For the [Zone](#tag/zones) apex, use `@`.

                          '
                        type: string
                        example: www
                      type:
                        description: 'Type of the [RRSet](#tag/zone-rrsets).

                          '
                        type: string
                        enum:
                        - A
                        - AAAA
                        - CAA
                        - CNAME
                        - DS
                        - HINFO
                        - HTTPS
                        - MX
                        - NS
                        - PTR
                        - RP
                        - SOA
                        - SRV
                        - SVCB
                        - TLSA
                        - TXT
                        example: A
                      ttl:
                        description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                          Must be in between 60s and 2147483647s.


                          If not set, the [Zone''s](#tag/zones) Default TTL is used.

                          '
                        type:
                        - integer
                        - 'null'
                        minimum: 60
                        maximum: 2147483647
                        example: 3600
                      records:
                        description: 'Records of the [RRSet](#tag/zone-rrsets).


                          Must not be empty and must only contain distinct record values.

                          The order of records returned in responses is not guaranteed to be consistent.

                          '
                        type: array
                        items:
                          title: Record
                          description: 'Record of a [RRSet](#tag/zone-rrsets).


                            The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                            '
                          type: object
                          properties:
                            value:
                              description: 'Value of the record.


                                For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                                '
                              type: string
                              example: 198.51.100.1
                            comment:
                              description: Comment of the record.
                              type: string
                              example: My web server at Hetzner Cloud.
                          required:
                          - value
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                    required:
                    - name
                    - type
                    - records
                zonefile:
                  description: 'Zone file to import.


                    Only applicable for [Zones](#tag/zones) in primary mode.

                    Ignored for [Zones](#tag/zones) in secondary mode.


                    If provided, `rrsets` must be empty.


                    See [Zone file import](#tag/zones/zone-file-import) for more details.

                    '
                  type: string
                  example: "$ORIGIN\texample.com.\n$TTL\t3600\n\n@\tIN\tSOA\thydrogen.ns.hetzner.com. dns.hetzner.com. 2024010100 86400 10800 3600000 3600\n\n@\tIN\t10800\tNS\thydrogen.ns.hetzner.com. ; Some comment.\n@\tIN\t10800\tNS\toxygen.ns.hetzner.com.\n@\tIN\t10800\tNS\thelium.ns.hetzner.de.\n"
              required:
              - name
              - mode
            examples:
              primary:
                value:
                  name: example.com
                  mode: primary
                  ttl: 10800
                  labels:
                    key: value
                  rrsets:
                  - name: www
                    type: A
                    records:
                    - value: 198.51.100.1
                      comment: My web server at Hetzner Cloud.
              primary from zone file:
                value:
                  name: example.com
                  mode: primary
                  ttl: 10800
                  labels:
                    key: value
                  zonefile: "$ORIGIN\texample.com.\n$TTL\t10800\n\n@\tIN\tA\t198.51.100.1 ; My web server at Hetzner Cloud.\n"
              secondary:
                value:
                  name: example.com
                  mode: secondary
                  ttl: 10800
                  labels:
                    key: value
                  primary_nameservers:
                  - address: 198.51.100.1
                    port: 53
                  - address: 203.0.113.1
                    port: 53
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  zone:
                    title: Zone
                    oneOf:
                    - title: Primary Zone
                      allOf:
                      - type: object
                        properties:
                          id:
                            description: ID of the [Zone](#tag/zones).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Name of the [Zone](#tag/zones).


                              All names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,

                              `.com`, `.co.uk`) are supported. Subdomains are not supported.


                              The name must be in lower case and must not end with a dot.

                              [Internationalized domain

                              names](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be

                              transcribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with

                              ACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).

                              '
                            type: string
                            maxLength: 255
                            example: example.com
                          created:
                            description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                            type: string
                            format: date-time
                            example: '2016-01-30T23:55:00Z'
                          primary_nameservers:
                            description: 'Primary nameservers of the [Zone](#tag/zones).


                              Only set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.

                              '
                            type: array
                            items:
                              description: 'Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.


                                Must allow queries from and may send `NOTIFY` queries to [Hetzner''s secondary

                                nameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).

                                '
                              type: object
                              properties:
                                address:
                                  description: Public IPv4 or IPv6 address of the primary nameserver.
                                  type: string
                                  example: 198.51.100.1
                                port:
                                  description: Port of the primary nameserver.
                                  type: integer
                                  default: 53
                                  example: 5353
                                tsig_key:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use

                                    for the zone transfer. Must be base64 encoded.

                                    '
                                  type: string
                                tsig_algorithm:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm

                                    used to generate the TSIG key.

                                    '
                                  type: string
                                  enum:
                                  - hmac-md5
                                  - hmac-sha1
                                  - hmac-sha256
                              required:
                              - address
                            example:
                            - address: 198.51.100.1
                              port: 53
                            - address: 203.0.113.1
                              port: 53
                          labels:
                            description: 'User-defined labels (`key/value` pairs) for the Resource.

                              For more information, see "[Labels](#description/labels)".

                              '
                            type: object
                            additionalProperties:
                              type: string
                            example:
                              environment: prod
                              example.com/my: label
                              just-a-key: ''
                          protection:
                            description: Protection configuration for the Resource.
                            type: object
                            properties:
                              delete:
                                description: Prevent the Resource from being deleted.
                                type: boolean
                                example: false
                            required:
                            - delete
                          ttl:
                            description: 'Default Time To Live (TTL) of the [Zone](#tag/zones).


                              Must be in between 60s and 2147483647s.


                              This TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.

                              '
                            type: integer
                            default: 3600
                            minimum: 60
                            maximum: 2147483647
                            example: 10800
                          status:
                            description: 'Status of the [Zone](#tag/zones).

                              '
                            type: string
                            enum:
                            - ok
                            - updating
                            - error
                            x-enumDescriptions:
                              ok: The Zone is pushed to the authoritative nameservers.
                              updating: The Zone is currently being published to the authoritative nameservers.
                              error: The Zone could not be published to the authoritative nameservers.
                          record_count:
                            description: Number of resource records (RR) within the [Zone](#tag/zones).
                            type: integer
                          authoritative_nameservers:
                            type: object
                            properties:
                              assigned:
                                description: 'Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegated:
                                description: 'Authoritative nameservers currently delegated to by the parent DNS zone.


                                  If these don''t match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegation_last_check:
                                description: 'Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.

                                  '
                                type:
                                - string
                                - 'null'
                                format: date-time
                                example: '2016-01-30T23:55:00Z'
                              delegation_status:
                                description: 'Status of the delegation.

                                  '
                                type: string
                                enum:
                                - valid
                                - partially-valid
                                - invalid
                                - lame
                                - unregistered
                                - unknown
                                x-enumDescriptions:
                                  valid: Parent zone correctly delegates to assigned nameservers.
                                  partially-valid: Parent zone delegates to additional Hetzner nameservers not assigned to this zone.
                                  invalid: Parent zone does not delegate to the assigned nameservers.
                                  lame: Parent zone delegates to nameservers that don't know the zone.
                                  unregistered: Domain is not registered.
                                  unknown: Not yet known.
                            required:
                            - assigned
                            - delegated
                            - delegation_last_check
                          registrar:
                            description: Registrar of the domain.
                            type: string
                            enum:
                            - hetzner
                            - other
                            - unknown
                        required:
                        - id
                        - name
                        - labels
                        - created
                        - status
                        - ttl
                        - record_count
                        - protection
                        - authoritative_nameservers
                        - registrar
                      - type: object
                        properties:
                          mode:
                            enum:
                            - primary
                            description: 'Mode of the [Zone](#tag/zones).


                              For more information, see [Zone Modes](#tag/zones/zone-modes).

                              '
                            type: string
                            example: primary
                        required:
                        - mode
                    - title: Secondary Zone
                      allOf:
                      - type: object
                        properties:
                          id:
                            description: ID of the [Zone](#tag/zones).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Name of the [Zone](#tag/zones).


                              All names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,

                              `.com`, `.co.uk`) are supported. Subdomains are not supported.


                              The name must be in lower case and must not end with a dot.

                              [Internationalized domain

                              names](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be

                              transcribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with

                              ACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).

                              '
                            type: string
                            maxLength: 255
                            example: example.com
                          created:
                            description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                            type: string
                            format: date-time
                            example: '2016-01-30T23:55:00Z'
                          primary_nameservers:
                            description: 'Primary nameservers of the [Zone](#tag/zones).


                              Only set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.

                              '
                            type: array
                            items:
                              description: 'Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.


                                Must allow queries from and may send `NOTIFY` queries to [Hetzner''s secondary

                                nameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).

                                '
                              type: object
                              properties:
                                address:
                                  description: Public IPv4 or IPv6 address of the primary nameserver.
                                  type: string
                                  example: 198.51.100.1
                                port:
                                  description: Port of the primary nameserver.
                                  type: integer
                                  default: 53
                                  example: 5353
                                tsig_key:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use

                                    for the zone transfer. Must be base64 encoded.

                                    '
                                  type: string
                                tsig_algorithm:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm

                                    used to generate the TSIG key.

                                    '
                                  type: string
                                  enum:
                                  - hmac-md5
                                  - hmac-sha1
                                  - hmac-sha256
                              required:
                              - address
                            example:
                            - address: 198.51.100.1
                              port: 53
                            - address: 203.0.113.1
                              port: 53
                          labels:
                            description: 'User-defined labels (`key/value` pairs) for the Resource.

                              For more information, see "[Labels](#description/labels)".

                              '
                            type: object
                            additionalProperties:
                              type: string
                            example:
                              environment: prod
                              example.com/my: label
                              just-a-key: ''
                          protection:
                            description: Protection configuration for the Resource.
                            type: object
                            properties:
                              delete:
                                description: Prevent the Resource from being deleted.
                                type: boolean
                                example: false
                            required:
                            - delete
                          ttl:
                            description: 'Default Time To Live (TTL) of the [Zone](#tag/zones).


                              Must be in between 60s and 2147483647s.


                              This TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.

                              '
                            type: integer
                            default: 3600
                            minimum: 60
                            maximum: 2147483647
                            example: 10800
                          status:
                            description: 'Status of the [Zone](#tag/zones).

                              '
                            type: string
                            enum:
                            - ok
                            - updating
                            - error
                            x-enumDescriptions:
                              ok: The Zone is pushed to the authoritative nameservers.
                              updating: The Zone is currently being published to the authoritative nameservers.
                              error: The Zone could not be published to the authoritative nameservers.
                          record_count:
                            description: Number of resource records (RR) within the [Zone](#tag/zones).
                            type: integer
                          authoritative_nameservers:
                            type: object
                            properties:
                              assigned:
                                description: 'Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegated:
                                description: 'Authoritative nameservers currently delegated to by the parent DNS zone.


                                  If these don''t match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegation_last_check:
                                description: 'Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.

                                  '
                                type:
                                - string
                                - 'null'
                                format: date-time
                                example: '2016-01-30T23:55:00Z'
                              delegation_status:
                                description: 'Status of the delegation.

                                  '
                                type: string
                                enum:
                                - valid
                                - partially-valid
                                - invalid
                                - lame
                                - unregistered
                                - unknown
                                x-enumDescriptions:
                                  valid: Parent zone correctly delegates to assigned nameservers.
                                  partially-valid: Parent zone delegates to additional Hetzner nameservers not assigned to this zone.
                                  invalid: Parent zone does not delegate to the assigned nameservers.
                                  lame: Parent zone delegates to nameservers that don't know the zone.
                                  unregistered: Domain is not registered.
                                  unknown: Not yet known.
                            required:
                            - assigned
                            - delegated
                            - delegation_last_check
                          registrar:
                            description: Registrar of the domain.
                            type: string
                            enum:
                            - hetzner
                            - other
                            - unknown
                        required:
                        - id
                        - name
                        - labels
                        - created
                        - status
                        - ttl
                        - record_count
                        - protection
                        - authoritative_nameservers
                        - registrar
                      - type: object
                        properties:
                          mode:
                            enum:
                            - secondary
                            example: secondary
                            description: 'Mode of the [Zone](#tag/zones).


                              For more information, see [Zone Modes](#tag/zones/zone-modes).

                              '
                            type: string
                        required:
                        - mode
                    discriminator:
                      propertyName: mode
                      mapping:
                        primary: '#/components/schemas/ZonePrimary'
                        secondary: '#/components/schemas/ZoneSecondary'
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - zone
                - action
              examples:
                default:
                  value:
                    zone:
                      id: 42
                      name: example.com
                      mode: primary
                      status: ok
                      ttl: 3600
                      record_count: 4
                      protection:
                        delete: false
                      labels:
                        key: value
                      created: '2016-01-30T23:50:00Z'
                      registrar: hetzner
                      authoritative_nameservers:
                        assigned:
                        - hydrogen.ns.hetzner.com.
                        - oxygen.ns.hetzner.com.
                        - helium.ns.hetzner.de.
                        delegated:
                        - hydrogen.ns.hetzner.com.
                        - oxygen.ns.hetzner.com.
                        - helium.ns.hetzner.de.
                        delegation_last_check: '2016-01-30T23:50:00Z'
                        delegation_status: valid
                    action:
                      id: 1
                      command: create_zone
                      status: running
                      progress: 50
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go (primary from zone file)
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.Zone.Create(ctx, hcloud.ZoneCreateOpts{\n\t\tName: \"example.com\",\n\t\tMode: hcloud.ZoneModePrimary,\n\t\tTTL:  hcloud.Ptr(10800),\n\t\tLabels: map[string]string{\n\t\t\t\"key\": \"value\",\n\t\t},\n\t\tZonefile: `$ORIGIN\texample.com.\n$TTL\t10800\n\n@\tIN\tA\t198.51.100.1 ; My web server at Hetzner Cloud.\n`,\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n\n\tzone := result.Zone\n}"
      - lang: Go
        label: Go (primary)
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.Zone.Create(ctx, hcloud.ZoneCreateOpts{\n\t\tName: \"example.com\",\n\t\tMode: hcloud.ZoneModePrimary,\n\t\tTTL:  hcloud.Ptr(10800),\n\t\tLabels: map[string]string{\n\t\t\t\"key\": \"value\",\n\t\t},\n\t\tRRSets: []hcloud.ZoneCreateOptsRRSet{\n\t\t\t{\n\t\t\t\tName: \"www\",\n\t\t\t\tType: hcloud.ZoneRRSetTypeA,\n\t\t\t\tRecords: []hcloud.ZoneRRSetRecord{\n\t\t\t\t\t{\n\t\t\t\t\t\tValue:   \"198.51.100.1\",\n\t\t\t\t\t\tComment: \"My web server at Hetzner Cloud.\",\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n\n\tzone := result.Zone\n}"
      - lang: Go
        label: Go (secondary)
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.Zone.Create(ctx, hcloud.ZoneCreateOpts{\n\t\tName: \"example.com\",\n\t\tMode: hcloud.ZoneModeSecondary,\n\t\tTTL:  hcloud.Ptr(10800),\n\t\tLabels: map[string]string{\n\t\t\t\"key\": \"value\",\n\t\t},\n\t\tPrimaryNameservers: []hcloud.ZoneCreateOptsPrimaryNameserver{\n\t\t\t{Address: \"198.51.100.1\", Port: 53},\n\t\t\t{Address: \"203.0.113.1\", Port: 53},\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n\n\tzone := result.Zone\n}"
      - lang: Python
        label: Python (primary from zone file)
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.zones.create(\n    name=\"example.com\",\n    mode=\"primary\",\n    ttl=10800,\n    labels={\n        \"key\": \"value\",\n    },\n    zonefile=\"\"\"$ORIGIN example.com.\n$TTL    10800\n\n@   IN  A   198.51.100.1 ; My web server at Hetzner Cloud.\n\"\"\",\n)\n\nresponse.action.wait_until_finished()\n\nzone = response.zone"
      - lang: Python
        label: Python (primary)
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import ZoneRecord, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.zones.create(\n    name=\"example.com\",\n    mode=\"primary\",\n    ttl=10800,\n    labels={\n        \"key\": \"value\",\n    },\n    rrsets=[\n        ZoneRRSet(\n            name=\"www\",\n            type=\"A\",\n            records=[\n                ZoneRecord(\n                    value=\"198.51.100.1\",\n                    comment=\"My web server at Hetzner Cloud.\",\n                )\n            ],\n        )\n    ],\n)\n\nresponse.action.wait_until_finished()\n\nzone = response.zone"
      - lang: Python
        label: Python (secondary)
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import ZonePrimaryNameserver\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.zones.create(\n    name=\"example.com\",\n    mode=\"secondary\",\n    ttl=10800,\n    labels={\n        \"key\": \"value\",\n    },\n    primary_nameservers=[\n        ZonePrimaryNameserver(address=\"198.51.100.1\", port=53),\n        ZonePrimaryNameserver(address=\"203.0.113.1\", port=53),\n    ],\n)\n\nresponse.action.wait_until_finished()\n\nzone = response.zone"
      - lang: Shell
        label: CLI (primary from zone file)
        source: "hcloud zone create \\\n    --name example.com \\\n    --mode primary \\\n    --ttl 10800 \\\n    --label \"key=value\" \\\n    --zonefile <(echo '$ORIGIN\texample.com.\n$TTL\t10800\n\n@\tIN\tA\t198.51.100.1 ; My web server at Hetzner Cloud.\n')"
      - lang: Shell
        label: CLI (primary)
        source: "hcloud zone create \\\n    --name example.com \\\n    --mode primary \\\n    --ttl 10800 \\\n    --label \"key=value\"\nhcloud zone rrset create example.com \\\n    --name www \\\n    --type A \\\n    --record \"198.51.100.1\""
      - lang: Shell
        label: CLI (secondary)
        source: "hcloud zone create \\\n    --name example.com \\\n    --mode secondary \\\n    --ttl 10800 \\\n    --label \"key=value\" \\\n    --primary-nameservers-file <(echo '[\n        {\"address\": \"198.51.100.1\", \"port\": 53},\n        {\"address\": \"203.0.113.1\", \"port\": 53}\n    ]')"
  /zones/{id_or_name}:
    get:
      operationId: get_zone
      summary: Get a Zone
      description: Returns a single Zone.
      tags:
      - Zones
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  zone:
                    title: Zone
                    oneOf:
                    - title: Primary Zone
                      allOf:
                      - type: object
                        properties:
                          id:
                            description: ID of the [Zone](#tag/zones).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Name of the [Zone](#tag/zones).


                              All names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,

                              `.com`, `.co.uk`) are supported. Subdomains are not supported.


                              The name must be in lower case and must not end with a dot.

                              [Internationalized domain

                              names](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be

                              transcribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with

                              ACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).

                              '
                            type: string
                            maxLength: 255
                            example: example.com
                          created:
                            description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                            type: string
                            format: date-time
                            example: '2016-01-30T23:55:00Z'
                          primary_nameservers:
                            description: 'Primary nameservers of the [Zone](#tag/zones).


                              Only set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.

                              '
                            type: array
                            items:
                              description: 'Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.


                                Must allow queries from and may send `NOTIFY` queries to [Hetzner''s secondary

                                nameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).

                                '
                              type: object
                              properties:
                                address:
                                  description: Public IPv4 or IPv6 address of the primary nameserver.
                                  type: string
                                  example: 198.51.100.1
                                port:
                                  description: Port of the primary nameserver.
                                  type: integer
                                  default: 53
                                  example: 5353
                                tsig_key:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use

                                    for the zone transfer. Must be base64 encoded.

                                    '
                                  type: string
                                tsig_algorithm:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm

                                    used to generate the TSIG key.

                                    '
                                  type: string
                                  enum:
                                  - hmac-md5
                                  - hmac-sha1
                                  - hmac-sha256
                              required:
                              - address
                            example:
                            - address: 198.51.100.1
                              port: 53
                            - address: 203.0.113.1
                              port: 53
                          labels:
                            description: 'User-defined labels (`key/value` pairs) for the Resource.

                              For more information, see "[Labels](#description/labels)".

                              '
                            type: object
                            additionalProperties:
                              type: string
                            example:
                              environment: prod
                              example.com/my: label
                              just-a-key: ''
                          protection:
                            description: Protection configuration for the Resource.
                            type: object
                            properties:
                              delete:
                                description: Prevent the Resource from being deleted.
                                type: boolean
                                example: false
                            required:
                            - delete
                          ttl:
                            description: 'Default Time To Live (TTL) of the [Zone](#tag/zones).


                              Must be in between 60s and 2147483647s.


                              This TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.

                              '
                            type: integer
                            default: 3600
                            minimum: 60
                            maximum: 2147483647
                            example: 10800
                          status:
                            description: 'Status of the [Zone](#tag/zones).

                              '
                            type: string
                            enum:
                            - ok
                            - updating
                            - error
                            x-enumDescriptions:
                              ok: The Zone is pushed to the authoritative nameservers.
                              updating: The Zone is currently being published to the authoritative nameservers.
                              error: The Zone could not be published to the authoritative nameservers.
                          record_count:
                            description: Number of resource records (RR) within the [Zone](#tag/zones).
                            type: integer
                          authoritative_nameservers:
                            type: object
                            properties:
                              assigned:
                                description: 'Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegated:
                                description: 'Authoritative nameservers currently delegated to by the parent DNS zone.


                                  If these don''t match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegation_last_check:
                                description: 'Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.

                                  '
                                type:
                                - string
                                - 'null'
                                format: date-time
                                example: '2016-01-30T23:55:00Z'
                              delegation_status:
                                description: 'Status of the delegation.

                                  '
                                type: string
                                enum:
                                - valid
                                - partially-valid
                                - invalid
                                - lame
                                - unregistered
                                - unknown
                                x-enumDescriptions:
                                  valid: Parent zone correctly delegates to assigned nameservers.
                                  partially-valid: Parent zone delegates to additional Hetzner nameservers not assigned to this zone.
                                  invalid: Parent zone does not delegate to the assigned nameservers.
                                  lame: Parent zone delegates to nameservers that don't know the zone.
                                  unregistered: Domain is not registered.
                                  unknown: Not yet known.
                            required:
                            - assigned
                            - delegated
                            - delegation_last_check
                          registrar:
                            description: Registrar of the domain.
                            type: string
                            enum:
                            - hetzner
                            - other
                            - unknown
                        required:
                        - id
                        - name
                        - labels
                        - created
                        - status
                        - ttl
                        - record_count
                        - protection
                        - authoritative_nameservers
                        - registrar
                      - type: object
                        properties:
                          mode:
                            enum:
                            - primary
                            description: 'Mode of the [Zone](#tag/zones).


                              For more information, see [Zone Modes](#tag/zones/zone-modes).

                              '
                            type: string
                            example: primary
                        required:
                        - mode
                    - title: Secondary Zone
                      allOf:
                      - type: object
                        properties:
                          id:
                            description: ID of the [Zone](#tag/zones).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Name of the [Zone](#tag/zones).


                              All names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,

                              `.com`, `.co.uk`) are supported. Subdomains are not supported.


                              The name must be in lower case and must not end with a dot.

                              [Internationalized domain

                              names](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be

                              transcribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with

                              ACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).

                              '
                            type: string
                            maxLength: 255
                            example: example.com
                          created:
                            description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                            type: string
                            format: date-time
                            example: '2016-01-30T23:55:00Z'
                          primary_nameservers:
                            description: 'Primary nameservers of the [Zone](#tag/zones).


                              Only set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.

                              '
                            type: array
                            items:
                              description: 'Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.


                                Must allow queries from and may send `NOTIFY` queries to [Hetzner''s secondary

                                nameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).

                                '
                              type: object
                              properties:
                                address:
                                  description: Public IPv4 or IPv6 address of the primary nameserver.
                                  type: string
                                  example: 198.51.100.1
                                port:
                                  description: Port of the primary nameserver.
                                  type: integer
                                  default: 53
                                  example: 5353
                                tsig_key:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use

                                    for the zone transfer. Must be base64 encoded.

                                    '
                                  type: string
                                tsig_algorithm:
                                  description: '[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm

                                    used to generate the TSIG key.

                                    '
                                  type: string
                                  enum:
                                  - hmac-md5
                                  - hmac-sha1
                                  - hmac-sha256
                              required:
                              - address
                            example:
                            - address: 198.51.100.1
                              port: 53
                            - address: 203.0.113.1
                              port: 53
                          labels:
                            description: 'User-defined labels (`key/value` pairs) for the Resource.

                              For more information, see "[Labels](#description/labels)".

                              '
                            type: object
                            additionalProperties:
                              type: string
                            example:
                              environment: prod
                              example.com/my: label
                              just-a-key: ''
                          protection:
                            description: Protection configuration for the Resource.
                            type: object
                            properties:
                              delete:
                                description: Prevent the Resource from being deleted.
                                type: boolean
                                example: false
                            required:
                            - delete
                          ttl:
                            description: 'Default Time To Live (TTL) of the [Zone](#tag/zones).


                              Must be in between 60s and 2147483647s.


                              This TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.

                              '
                            type: integer
                            default: 3600
                            minimum: 60
                            maximum: 2147483647
                            example: 10800
                          status:
                            description: 'Status of the [Zone](#tag/zones).

                              '
                            type: string
                            enum:
                            - ok
                            - updating
                            - error
                            x-enumDescriptions:
                              ok: The Zone is pushed to the authoritative nameservers.
                              updating: The Zone is currently being published to the authoritative nameservers.
                              error: The Zone could not be published to the authoritative nameservers.
                          record_count:
                            description: Number of resource records (RR) within the [Zone](#tag/zones).
                            type: integer
                          authoritative_nameservers:
                            type: object
                            properties:
                              assigned:
                                description: 'Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegated:
                                description: 'Authoritative nameservers currently delegated to by the parent DNS zone.


                                  If these don''t match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - hydrogen.ns.hetzner.com.
                                - oxygen.ns.hetzner.com.
                                - helium.ns.hetzner.de.
                              delegation_last_check:
                                description: 'Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.

                                  '
                                type:
                                - string
                                - 'null'
                                format: date-time
                                example: '2016-01-30T23:55:00Z'
                              delegation_status:
                                description: 'Status of the delegation.

                                  '
                                type: string
                                enum:
                                - valid
                                - partially-valid
                                - invalid
                                - lame
                                - unregistered
                                - unknown
                                x-enumDescriptions:
[...]
