openapi: 3.2.0
info:
  title: Hetzner Cloud Zone RRSet Actions API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Zone RRSet Actions
paths:
  /zones/{id_or_name}/rrsets/{rr_name}/{rr_type}/actions/change_protection:
    post:
      operationId: change_zone_rrset_protection
      summary: Change an RRSet's Protection
      description: 'Changes the protection of an RRSet in the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSet Actions
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: 'Protection of the [RRSet](#tag/zone-rrsets).

                '
              type: object
              properties:
                change:
                  description: Prevent the Resource from being changed.
                  type: boolean
                  example: false
              required:
              - change
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 1
                      command: change_rrset_protection
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Zone.ChangeRRSetProtection(ctx, &hcloud.ZoneRRSet{\n\t\tZone: &hcloud.Zone{Name: \"example.com\"},\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t}, hcloud.ZoneRRSetChangeProtectionOpts{\n\t\tChange: hcloud.Ptr(false),\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.zones.change_rrset_protection(\n    rrset=ZoneRRSet(\n        zone=Zone(name=\"example.com\"),\n        name=\"www\",\n        type=\"A\",\n    ),\n    change=False,\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: 'hcloud zone rrset enable-protection $ZONE $RR_NAME $RR_TYPE change

          hcloud zone rrset disable-protection $ZONE $RR_NAME $RR_TYPE change'
  /zones/{id_or_name}/rrsets/{rr_name}/{rr_type}/actions/change_ttl:
    post:
      operationId: change_zone_rrset_ttl
      summary: Change an RRSet's TTL
      description: 'Changes the Time To Live (TTL) of an RRSet in the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSet Actions
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl:
                  description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                    Must be in between 60s and 2147483647s.


                    If not set, the [Zone''s](#tag/zones) Default TTL is used.

                    '
                  type:
                  - integer
                  - 'null'
                  minimum: 60
                  maximum: 2147483647
                  example: 3600
              required:
              - ttl
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 1
                      command: change_rrset_ttl
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Zone.ChangeRRSetTTL(ctx, &hcloud.ZoneRRSet{\n\t\tZone: &hcloud.Zone{Name: \"example.com\"},\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t}, hcloud.ZoneRRSetChangeTTLOpts{\n\t\tTTL: hcloud.Ptr(3600),\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.zones.change_rrset_ttl(\n    rrset=ZoneRRSet(\n        zone=Zone(name=\"example.com\"),\n        name=\"www\",\n        type=\"A\",\n    ),\n    ttl=3600,\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: hcloud zone rrset change-ttl $ZONE $RR_NAME $RR_TYPE --ttl 3600
  /zones/{id_or_name}/rrsets/{rr_name}/{rr_type}/actions/set_records:
    post:
      operationId: set_zone_rrset_records
      summary: Set Records of an RRSet
      description: 'Overwrites the resource records (RRs) of an existing RRSet in the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSet Actions
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  description: 'Records to set in the [RRSet](#tag/zone-rrsets).


                    Must not be empty and must only contain distinct record values.

                    '
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    title: Record
                    description: 'Record of a [RRSet](#tag/zone-rrsets).


                      The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                      '
                    type: object
                    properties:
                      value:
                        description: 'Value of the record.


                          For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                          '
                        type: string
                        example: 198.51.100.1
                      comment:
                        description: Comment of the record.
                        type: string
                        example: My web server at Hetzner Cloud.
                    required:
                    - value
              required:
              - records
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 1
                      command: set_rrset_records
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Zone.SetRRSetRecords(ctx, &hcloud.ZoneRRSet{\n\t\tZone: &hcloud.Zone{Name: \"example.com\"},\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t}, hcloud.ZoneRRSetSetRecordsOpts{\n\t\tRecords: []hcloud.ZoneRRSetRecord{\n\t\t\t{\n\t\t\t\tValue:   \"198.51.100.1\",\n\t\t\t\tComment: \"My web server at Hetzner Cloud.\",\n\t\t\t},\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRecord, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.zones.set_rrset_records(\n    rrset=ZoneRRSet(\n        zone=Zone(name=\"example.com\"),\n        name=\"www\",\n        type=\"A\",\n    ),\n    records=[\n        ZoneRecord(value=\"198.51.100.1\", comment=\"My web server at Hetzner Cloud.\")\n    ],\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: "hcloud zone rrset set-records $ZONE $RR_NAME $RR_TYPE --records-file <(echo '[\n  {\n    \"value\": \"198.51.100.1\",\n    \"comment\": \"My web server at Hetzner Cloud.\"\n  }\n]')"
  /zones/{id_or_name}/rrsets/{rr_name}/{rr_type}/actions/add_records:
    post:
      operationId: add_zone_rrset_records
      summary: Add Records to an RRSet
      description: 'Adds resource records (RRs) to an RRSet in the Zone.


        For convenience, the RRSet will be automatically created if it doesn''t exist. Otherwise, the new

        records are appended to the existing RRSet.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSet Actions
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl:
                  description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                    If not set, the [Zone''s](#tag/zones) Default TTL is used.

                    If set, and the RRSet being updated already has a TTL, the values must be the same.

                    '
                  type:
                  - integer
                  - 'null'
                  minimum: 60
                  maximum: 2147483647
                  example: 3600
                records:
                  description: 'Records to add to the [RRSet](#tag/zone-rrsets).


                    Must not be empty and must only contain distinct record values.

                    '
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    title: Record
                    description: 'Record of a [RRSet](#tag/zone-rrsets).


                      The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                      '
                    type: object
                    properties:
                      value:
                        description: 'Value of the record.


                          For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                          '
                        type: string
                        example: 198.51.100.1
                      comment:
                        description: Comment of the record.
                        type: string
                        example: My web server at Hetzner Cloud.
                    required:
                    - value
              required:
              - records
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 1
                      command: add_rrset_records
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Zone.AddRRSetRecords(ctx, &hcloud.ZoneRRSet{\n\t\tZone: &hcloud.Zone{Name: \"example.com\"},\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t}, hcloud.ZoneRRSetAddRecordsOpts{\n\t\tTTL: hcloud.Ptr(3600),\n\t\tRecords: []hcloud.ZoneRRSetRecord{\n\t\t\t{\n\t\t\t\tValue:   \"198.51.100.1\",\n\t\t\t\tComment: \"My web server at Hetzner Cloud.\",\n\t\t\t},\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRecord, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.zones.add_rrset_records(\n    rrset=ZoneRRSet(\n        zone=Zone(name=\"example.com\"),\n        name=\"www\",\n        type=\"A\",\n    ),\n    ttl=3600,\n    records=[\n        ZoneRecord(value=\"198.51.100.1\", comment=\"My web server at Hetzner Cloud.\")\n    ],\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: "hcloud zone rrset add-records $ZONE $RR_NAME $RR_TYPE \\\n    --ttl 3600 \\\n    --records-file <(echo '[\n  {\n    \"value\": \"198.51.100.1\",\n    \"comment\": \"My web server at Hetzner Cloud.\"\n  }\n]')"
  /zones/{id_or_name}/rrsets/{rr_name}/{rr_type}/actions/remove_records:
    post:
      operationId: remove_zone_rrset_records
      summary: Remove Records from an RRSet
      description: 'Removes resource records (RRs) from an existing RRSet in the Zone.


        For convenience, the RRSet will be automatically deleted if it doesn''t contain any RRs afterwards.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSet Actions
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  description: 'Records to remove from the [RRSet](#tag/zone-rrsets).


                    Must not be empty and must only contain distinct record values.

                    '
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    title: Record
                    description: 'Record of a [RRSet](#tag/zone-rrsets).


                      The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                      '
                    type: object
                    properties:
                      value:
                        description: 'Value of the record.


                          For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                          '
                        type: string
                        example: 198.51.100.1
                      comment:
                        description: Comment of the record.
                        type: string
                        example: My web server at Hetzner Cloud.
                    required:
                    - value
              required:
              - records
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 1
                      command: remove_rrset_records
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Zone.RemoveRRSetRecords(ctx, &hcloud.ZoneRRSet{\n\t\tZone: &hcloud.Zone{Name: \"example.com\"},\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t}, hcloud.ZoneRRSetRemoveRecordsOpts{\n\t\tRecords: []hcloud.ZoneRRSetRecord{\n\t\t\t{\n\t\t\t\tValue:   \"198.51.100.1\",\n\t\t\t\tComment: \"My web server at Hetzner Cloud.\",\n\t\t\t},\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRecord, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.zones.remove_rrset_records(\n    rrset=ZoneRRSet(\n        zone=Zone(name=\"example.com\"),\n        name=\"www\",\n        type=\"A\",\n    ),\n    records=[\n        ZoneRecord(value=\"198.51.100.1\", comment=\"My web server at Hetzner Cloud.\")\n    ],\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: hcloud zone rrset remove-records $ZONE $RR_NAME $RR_TYPE --record 198.51.100.1
  /zones/{id_or_name}/rrsets/{rr_name}/{rr_type}/actions/update_records:
    post:
      operationId: update_zone_rrset_records
      summary: Update Records of an RRSet
      description: 'Updates resource records'' (RRs) comments of an existing RRSet in the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSet Actions
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                records:
                  description: 'Records to update in the [RRSet](#tag/zone-rrsets).


                    Must not be empty and must only contain distinct record values.

                    '
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    title: Record
                    description: 'Record of a [RRSet](#tag/zone-rrsets).


                      The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                      '
                    type: object
                    properties:
                      value:
                        description: 'Value of the record to update.

                          '
                        type: string
                        example: 198.51.100.1
                      comment:
                        description: 'New comment for the record.

                          '
                        type: string
                        example: My web server at Hetzner Cloud.
                    required:
                    - value
                    - comment
              required:
              - records
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 1
                      command: update_rrset_records
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
