openapi: 3.2.0
info:
  title: Hetzner Cloud Zone RRSets API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Zone RRSets
  description: 'This API operates on resource record sets (RRSets) instead of individual resource records (RRs).

    An RRSet is identified by a name and type. For example, the two RRs


    - (name: `@`, type: `MX`, value: `10 smtp.example.com.`) and

    - (name: `@`, type: `MX`, value: `20 smtp-backup.example.com.`)


    are part of the RRSet identified by (name: `@`, type: `MX`).


    Please see Hetzner Docs for more information on types.'
paths:
  /zones/{id_or_name}/rrsets:
    get:
      operationId: list_zone_rrsets
      summary: List RRSets
      description: 'Returns all RRSets in the Zone.


        Use the provided URI parameters to modify the result.


        The maximum value for `per_page` on this endpoint is `100` instead of `50`.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSets
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by their type. May be used multiple times.


          The response will only contain resources matching the specified types.

          '
        name: type
        in: query
        required: false
        schema:
          type: array
          items:
            description: 'Type of the [RRSet](#tag/zone-rrsets).

              '
            type: string
            enum:
            - A
            - AAAA
            - CAA
            - CNAME
            - DS
            - HINFO
            - HTTPS
            - MX
            - NS
            - PTR
            - RP
            - SOA
            - SRV
            - SVCB
            - TLSA
            - TXT
            example: A
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rrsets:
                    type: array
                    items:
                      title: RRSet
                      type: object
                      properties:
                        id:
                          description: 'ID of the RRSet.


                            The ID is composed of the name and type, joined with a slash (e.g. `www/AAAA`).

                            '
                          type: string
                        name:
                          description: 'Name of the [RRSet](#tag/zone-rrsets).


                            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

                            name. Names containing non-ASCII characters must be transcribed to

                            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

                            `xn--4bi` (✉️).


                            For the [Zone](#tag/zones) apex, use `@`.

                            '
                          type: string
                          example: www
                        type:
                          description: 'Type of the [RRSet](#tag/zone-rrsets).

                            '
                          type: string
                          enum:
                          - A
                          - AAAA
                          - CAA
                          - CNAME
                          - DS
                          - HINFO
                          - HTTPS
                          - MX
                          - NS
                          - PTR
                          - RP
                          - SOA
                          - SRV
                          - SVCB
                          - TLSA
                          - TXT
                          example: A
                        ttl:
                          description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                            Must be in between 60s and 2147483647s.


                            If not set, the [Zone''s](#tag/zones) Default TTL is used.

                            '
                          type:
                          - integer
                          - 'null'
                          minimum: 60
                          maximum: 2147483647
                          example: 3600
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        protection:
                          description: 'Protection of the [RRSet](#tag/zone-rrsets).

                            '
                          type: object
                          properties:
                            change:
                              description: Prevent the Resource from being changed.
                              type: boolean
                              example: false
                          required:
                          - change
                        records:
                          description: 'Records of the [RRSet](#tag/zone-rrsets).


                            Must not be empty and must only contain distinct record values.

                            The order of records returned in responses is not guaranteed to be consistent.

                            '
                          type: array
                          items:
                            title: Record
                            description: 'Record of a [RRSet](#tag/zone-rrsets).


                              The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                              '
                            type: object
                            properties:
                              value:
                                description: 'Value of the record.


                                  For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                                  '
                                type: string
                                example: 198.51.100.1
                              comment:
                                description: Comment of the record.
                                type: string
                                example: My web server at Hetzner Cloud.
                            required:
                            - value
                        zone:
                          description: ID of the [Zone](#tag/zones).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                      required:
                      - id
                      - name
                      - type
                      - ttl
                      - labels
                      - protection
                      - records
                      - zone
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - rrsets
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\trrSets, _, err := client.Zone.ListRRSets(ctx, &hcloud.Zone{Name: \"example.com\"}, hcloud.ZoneRRSetListOpts{})\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client

          from hcloud.zones import Zone


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          zones = client.zones.get_rrset_all(zone=Zone(name="example.com"))'
      - lang: Shell
        label: CLI
        source: hcloud zone rrset list $ZONE
    post:
      operationId: create_zone_rrset
      summary: Create an RRSet
      description: 'Create an RRSet in the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSets
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 'Name of the [RRSet](#tag/zone-rrsets).


                    The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

                    name. Names containing non-ASCII characters must be transcribed to

                    [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

                    `xn--4bi` (✉️).


                    For the [Zone](#tag/zones) apex, use `@`.

                    '
                  type: string
                  example: www
                type:
                  description: 'Type of the [RRSet](#tag/zone-rrsets).

                    '
                  type: string
                  enum:
                  - A
                  - AAAA
                  - CAA
                  - CNAME
                  - DS
                  - HINFO
                  - HTTPS
                  - MX
                  - NS
                  - PTR
                  - RP
                  - SOA
                  - SRV
                  - SVCB
                  - TLSA
                  - TXT
                  example: A
                ttl:
                  description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                    Must be in between 60s and 2147483647s.


                    If not set, the [Zone''s](#tag/zones) Default TTL is used.

                    '
                  type:
                  - integer
                  - 'null'
                  minimum: 60
                  maximum: 2147483647
                  example: 3600
                records:
                  description: 'Records of the [RRSet](#tag/zone-rrsets).


                    Must not be empty and must only contain distinct record values.

                    The order of records returned in responses is not guaranteed to be consistent.

                    '
                  type: array
                  items:
                    title: Record
                    description: 'Record of a [RRSet](#tag/zone-rrsets).


                      The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                      '
                    type: object
                    properties:
                      value:
                        description: 'Value of the record.


                          For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                          '
                        type: string
                        example: 198.51.100.1
                      comment:
                        description: Comment of the record.
                        type: string
                        example: My web server at Hetzner Cloud.
                    required:
                    - value
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
              required:
              - name
              - type
              - records
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rrset:
                    title: RRSet
                    type: object
                    properties:
                      id:
                        description: 'ID of the RRSet.


                          The ID is composed of the name and type, joined with a slash (e.g. `www/AAAA`).

                          '
                        type: string
                      name:
                        description: 'Name of the [RRSet](#tag/zone-rrsets).


                          The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

                          name. Names containing non-ASCII characters must be transcribed to

                          [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

                          `xn--4bi` (✉️).


                          For the [Zone](#tag/zones) apex, use `@`.

                          '
                        type: string
                        example: www
                      type:
                        description: 'Type of the [RRSet](#tag/zone-rrsets).

                          '
                        type: string
                        enum:
                        - A
                        - AAAA
                        - CAA
                        - CNAME
                        - DS
                        - HINFO
                        - HTTPS
                        - MX
                        - NS
                        - PTR
                        - RP
                        - SOA
                        - SRV
                        - SVCB
                        - TLSA
                        - TXT
                        example: A
                      ttl:
                        description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                          Must be in between 60s and 2147483647s.


                          If not set, the [Zone''s](#tag/zones) Default TTL is used.

                          '
                        type:
                        - integer
                        - 'null'
                        minimum: 60
                        maximum: 2147483647
                        example: 3600
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      protection:
                        description: 'Protection of the [RRSet](#tag/zone-rrsets).

                          '
                        type: object
                        properties:
                          change:
                            description: Prevent the Resource from being changed.
                            type: boolean
                            example: false
                        required:
                        - change
                      records:
                        description: 'Records of the [RRSet](#tag/zone-rrsets).


                          Must not be empty and must only contain distinct record values.

                          The order of records returned in responses is not guaranteed to be consistent.

                          '
                        type: array
                        items:
                          title: Record
                          description: 'Record of a [RRSet](#tag/zone-rrsets).


                            The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                            '
                          type: object
                          properties:
                            value:
                              description: 'Value of the record.


                                For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                                '
                              type: string
                              example: 198.51.100.1
                            comment:
                              description: Comment of the record.
                              type: string
                              example: My web server at Hetzner Cloud.
                          required:
                          - value
                      zone:
                        description: ID of the [Zone](#tag/zones).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                    required:
                    - id
                    - name
                    - type
                    - ttl
                    - labels
                    - protection
                    - records
                    - zone
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - rrset
                - action
              examples:
                default:
                  value:
                    rrset:
                      id: www/A
                      name: www
                      type: A
                      ttl: 3600
                      labels:
                        key: value
                      protection:
                        change: false
                      records:
                      - value: 198.51.100.1
                        comment: My web server at Hetzner Cloud.
                      zone: 42
                    action:
                      id: 1
                      command: create_rrset
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.Zone.CreateRRSet(ctx, &hcloud.Zone{Name: \"example.com\"}, hcloud.ZoneRRSetCreateOpts{\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t\tTTL:  hcloud.Ptr(3600),\n\t\tRecords: []hcloud.ZoneRRSetRecord{\n\t\t\t{\n\t\t\t\tValue:   \"198.51.100.1\",\n\t\t\t\tComment: \"My web server at Hetzner Cloud.\",\n\t\t\t},\n\t\t},\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n\n\trrSet := result.RRSet\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRecord\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.zones.create_rrset(\n    zone=Zone(name=\"example.com\"),\n    name=\"www\",\n    type=\"A\",\n    ttl=3600,\n    records=[\n        ZoneRecord(\n            value=\"198.51.100.1\",\n            comment=\"My web server at Hetzner Cloud.\",\n        )\n    ],\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n)\n\nresponse.action.wait_until_finished()\n\nrrset = response.rrset"
      - lang: Shell
        label: CLI
        source: "hcloud zone rrset create $ZONE \\\n    --name www \\\n    --type A \\\n    --ttl 3600 \\\n    --record \"198.51.100.1\" \\\n    --label \"environment=prod\" \\\n    --label \"example.com/my=label\" \\\n    --label \"just-a-key=\""
  /zones/{id_or_name}/rrsets/{rr_name}/{rr_type}:
    get:
      operationId: get_zone_rrset
      summary: Get an RRSet
      description: 'Returns a single RRSet from the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSets
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rrset:
                    title: RRSet
                    type: object
                    properties:
                      id:
                        description: 'ID of the RRSet.


                          The ID is composed of the name and type, joined with a slash (e.g. `www/AAAA`).

                          '
                        type: string
                      name:
                        description: 'Name of the [RRSet](#tag/zone-rrsets).


                          The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

                          name. Names containing non-ASCII characters must be transcribed to

                          [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

                          `xn--4bi` (✉️).


                          For the [Zone](#tag/zones) apex, use `@`.

                          '
                        type: string
                        example: www
                      type:
                        description: 'Type of the [RRSet](#tag/zone-rrsets).

                          '
                        type: string
                        enum:
                        - A
                        - AAAA
                        - CAA
                        - CNAME
                        - DS
                        - HINFO
                        - HTTPS
                        - MX
                        - NS
                        - PTR
                        - RP
                        - SOA
                        - SRV
                        - SVCB
                        - TLSA
                        - TXT
                        example: A
                      ttl:
                        description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                          Must be in between 60s and 2147483647s.


                          If not set, the [Zone''s](#tag/zones) Default TTL is used.

                          '
                        type:
                        - integer
                        - 'null'
                        minimum: 60
                        maximum: 2147483647
                        example: 3600
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      protection:
                        description: 'Protection of the [RRSet](#tag/zone-rrsets).

                          '
                        type: object
                        properties:
                          change:
                            description: Prevent the Resource from being changed.
                            type: boolean
                            example: false
                        required:
                        - change
                      records:
                        description: 'Records of the [RRSet](#tag/zone-rrsets).


                          Must not be empty and must only contain distinct record values.

                          The order of records returned in responses is not guaranteed to be consistent.

                          '
                        type: array
                        items:
                          title: Record
                          description: 'Record of a [RRSet](#tag/zone-rrsets).


                            The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                            '
                          type: object
                          properties:
                            value:
                              description: 'Value of the record.


                                For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                                '
                              type: string
                              example: 198.51.100.1
                            comment:
                              description: Comment of the record.
                              type: string
                              example: My web server at Hetzner Cloud.
                          required:
                          - value
                      zone:
                        description: ID of the [Zone](#tag/zones).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                    required:
                    - id
                    - name
                    - type
                    - ttl
                    - labels
                    - protection
                    - records
                    - zone
                required:
                - rrset
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\trrSet, _, err := client.Zone.GetRRSetByNameAndType(ctx, &hcloud.Zone{Name: \"example.com\"}, \"www\", hcloud.ZoneRRSetTypeA)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client

          from hcloud.zones import Zone


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          rrset = client.zones.get_rrset(zone=Zone(name="example.com"), name="www", type="A")'
      - lang: Shell
        label: CLI
        source: hcloud zone rrset describe $ZONE $RR_NAME $RR_TYPE
    put:
      operationId: update_zone_rrset
      summary: Update an RRSet
      description: 'Updates an RRSet in the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSets
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.


                    Note that the set of [Labels](#description/labels) provided in the request will overwrite the

                    existing one.


                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rrset:
                    title: RRSet
                    type: object
                    properties:
                      id:
                        description: 'ID of the RRSet.


                          The ID is composed of the name and type, joined with a slash (e.g. `www/AAAA`).

                          '
                        type: string
                      name:
                        description: 'Name of the [RRSet](#tag/zone-rrsets).


                          The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

                          name. Names containing non-ASCII characters must be transcribed to

                          [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

                          `xn--4bi` (✉️).


                          For the [Zone](#tag/zones) apex, use `@`.

                          '
                        type: string
                        example: www
                      type:
                        description: 'Type of the [RRSet](#tag/zone-rrsets).

                          '
                        type: string
                        enum:
                        - A
                        - AAAA
                        - CAA
                        - CNAME
                        - DS
                        - HINFO
                        - HTTPS
                        - MX
                        - NS
                        - PTR
                        - RP
                        - SOA
                        - SRV
                        - SVCB
                        - TLSA
                        - TXT
                        example: A
                      ttl:
                        description: 'Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).


                          Must be in between 60s and 2147483647s.


                          If not set, the [Zone''s](#tag/zones) Default TTL is used.

                          '
                        type:
                        - integer
                        - 'null'
                        minimum: 60
                        maximum: 2147483647
                        example: 3600
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      protection:
                        description: 'Protection of the [RRSet](#tag/zone-rrsets).

                          '
                        type: object
                        properties:
                          change:
                            description: Prevent the Resource from being changed.
                            type: boolean
                            example: false
                        required:
                        - change
                      records:
                        description: 'Records of the [RRSet](#tag/zone-rrsets).


                          Must not be empty and must only contain distinct record values.

                          The order of records returned in responses is not guaranteed to be consistent.

                          '
                        type: array
                        items:
                          title: Record
                          description: 'Record of a [RRSet](#tag/zone-rrsets).


                            The `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).

                            '
                          type: object
                          properties:
                            value:
                              description: 'Value of the record.


                                For details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).

                                '
                              type: string
                              example: 198.51.100.1
                            comment:
                              description: Comment of the record.
                              type: string
                              example: My web server at Hetzner Cloud.
                          required:
                          - value
                      zone:
                        description: ID of the [Zone](#tag/zones).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                    required:
                    - id
                    - name
                    - type
                    - ttl
                    - labels
                    - protection
                    - records
                    - zone
                required:
                - rrset
              examples:
                default:
                  value:
                    rrset:
                      id: www/A
                      name: www
                      type: A
                      ttl: null
                      records:
                      - value: 198.51.100.1
                        comment: My web server at Hetzner Cloud.
                      labels:
                        environment: prod
                        example.com/my: label
                        just-a-key: ''
                      protection:
                        change: false
                      zone: 42
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\trrSet, _, err := client.Zone.UpdateRRSet(ctx, &hcloud.ZoneRRSet{\n\t\tZone: &hcloud.Zone{Name: \"example.com\"},\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t}, hcloud.ZoneRRSetUpdateOpts{\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nrrset = client.zones.update_rrset(\n    rrset=ZoneRRSet(\n        zone=Zone(name=\"example.com\"),\n        name=\"www\",\n        type=\"A\",\n    ),\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n)"
      - lang: Shell
        label: CLI
        source: "hcloud zone rrset add-label --overwrite $ZONE $RR_NAME $RR_TYPE \\\n    \"environment=prod\" \"example.com/my=label\" \"just-a-key=\"\nhcloud zone remove-label $ZONE $RR_NAME $RR_TYPE \\\n    \"environment\" \"example.com\" \"just-a-key\""
    delete:
      operationId: delete_zone_rrset
      summary: Delete an RRSet
      description: 'Deletes an RRSet from the Zone.


        Only applicable for Zones in primary mode.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `incorrect_zone_mode` | This operation is not supported for this Zone''s `mode`. |'
      tags:
      - Zone RRSets
      parameters:
      - description: ID or Name of the Zone.
        name: id_or_name
        in: path
        required: true
        schema:
          description: ID or Name of the [Zone](#tag/zones).
          type: string
      - name: rr_name
        in: path
        required: true
        schema:
          description: 'Name of the [RRSet](#tag/zone-rrsets).


            The name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)

            name. Names containing non-ASCII characters must be transcribed to

            [Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.

            `xn--4bi` (✉️).


            For the [Zone](#tag/zones) apex, use `@`.

            '
          type: string
          example: www
      - name: rr_type
        in: path
        required: true
        schema:
          description: 'Type of the [RRSet](#tag/zone-rrsets).

            '
          type: string
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - DS
          - HINFO
          - HTTPS
          - MX
          - NS
          - PTR
          - RP
          - SOA
          - SRV
          - SVCB
          - TLSA
          - TXT
          example: A
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 1
                      command: delete_rrset
                      status: running
                      progress: 50
                      started: '2016-01-30T23:55:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: zone
                      error: null
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.Zone.DeleteRRSet(ctx, &hcloud.ZoneRRSet{\n\t\tZone: &hcloud.Zone{Name: \"example.com\"},\n\t\tName: \"www\",\n\t\tType: hcloud.ZoneRRSetTypeA,\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.zones import Zone, ZoneRRSet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.zones.delete_rrset(\n    rrset=ZoneRRSet(\n        zone=Zone(name=\"example.com\"),\n        name=\"www\",\n        type=\"A\",\n    ),\n)\n\nresponse.action.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: hcloud zone rrset delete $ZONE $RR_NAME $RR_TYPE
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
