openapi: 3.2.0
info:
  title: Hetzner Cloud Certificates API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Certificates
  description: TLS/SSL Certificates prove the identity of a Server and are used to encrypt client traffic.
paths:
  /certificates:
    get:
      operationId: list_certificates
      summary: List Certificates
      description: Returns all Certificate objects.
      tags:
      - Certificates
      parameters:
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by type. May be used multiple times.


          The response will only contain the resources with the specified type.

          '
        name: type
        in: query
        required: false
        schema:
          type: array
          items:
            description: Type of the Certificate.
            type: string
            enum:
            - uploaded
            - managed
            example: uploaded
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CertificatesResponse
                type: object
                properties:
                  certificates:
                    type: array
                    items:
                      title: Certificate
                      type: object
                      properties:
                        id:
                          description: ID of the [Certificate](#tag/certificates).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        name:
                          description: Name of the Resource. Must be unique per Project.
                          type: string
                          example: my-resource
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        type:
                          description: Type of the Certificate.
                          type: string
                          enum:
                          - uploaded
                          - managed
                          example: uploaded
                        certificate:
                          description: Certificate and chain in PEM format, in order so that each record directly certifies the one preceding.
                          type:
                          - string
                          - 'null'
                          example: '-----BEGIN CERTIFICATE-----

                            ...'
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        not_valid_before:
                          description: Point in time when the Certificate becomes valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2019-01-08T10:00:00Z'
                        not_valid_after:
                          description: 'Point in time when the Certificate stops being valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).

                            '
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2019-07-08T09:59:59Z'
                        domain_names:
                          description: Domains and subdomains covered by the Certificate.
                          type: array
                          items:
                            type: string
                          example:
                          - example.com
                          - webmail.example.com
                          - www.example.com
                        fingerprint:
                          description: SHA256 fingerprint of the Certificate.
                          type:
                          - string
                          - 'null'
                          example: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                        status:
                          description: Current status of a type `managed` Certificate, always *null* for type `uploaded` Certificates.
                          type:
                          - object
                          - 'null'
                          properties:
                            issuance:
                              description: Status of the issuance process of the Certificate.
                              type: string
                              enum:
                              - pending
                              - completed
                              - failed
                              example: completed
                            renewal:
                              description: Status of the renewal process of the Certificate.
                              type: string
                              enum:
                              - scheduled
                              - pending
                              - failed
                              - unavailable
                              example: scheduled
                            error:
                              description: If issuance or renewal reports `failed`, this property contains information about what happened.
                              type:
                              - object
                              - 'null'
                              properties:
                                code:
                                  type: string
                                message:
                                  type: string
                              example: null
                        used_by:
                          description: Resources currently using the Certificate.
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                description: ID of resource referenced.
                                type: integer
                                format: int64
                                example: 4711
                              type:
                                description: Type of resource referenced.
                                type: string
                                example: load_balancer
                            required:
                            - id
                            - type
                      required:
                      - id
                      - name
                      - labels
                      - certificate
                      - created
                      - not_valid_before
                      - not_valid_after
                      - domain_names
                      - fingerprint
                      - used_by
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - certificates
                - meta
              examples:
                default:
                  value:
                    certificates:
                    - id: 897
                      name: my website cert
                      labels:
                        key: value
                      type: uploaded
                      certificate: '-----BEGIN CERTIFICATE-----

                        ...'
                      created: '2019-01-08T12:10:00Z'
                      not_valid_before: '2019-01-08T10:00:00Z'
                      not_valid_after: '2019-07-08T09:59:59Z'
                      domain_names:
                      - example.com
                      - webmail.example.com
                      - www.example.com
                      fingerprint: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                      status: null
                      used_by:
                      - id: 4711
                        type: load_balancer
                    meta:
                      pagination:
                        page: 1
                        per_page: 25
                        previous_page: null
                        next_page: null
                        last_page: 1
                        total_entries: 21
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tcertificates, err := client.Certificate.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          certificates = client.certificates.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud certificate list
    post:
      operationId: create_certificate
      summary: Create a Certificate
      description: 'Creates a new Certificate.


        The default type **uploaded** allows for uploading your existing `certificate` and `private_key` in PEM format. You have to monitor its expiration date and handle renewal yourself.


        In contrast, type **managed** requests a new Certificate from *Let''s Encrypt* for the specified `domain_names`. Only domains managed by *Hetzner DNS* are supported. We handle renewal and timely alert the project owner via email if problems occur.


        For type `managed` Certificates the `action` key of the response contains the Action that allows for tracking the issuance process. For type `uploaded` Certificates the `action` is always null.'
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: CreateCertificateRequest
              type: object
              properties:
                name:
                  description: Name of the Certificate.
                  type: string
                  example: my website cert
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                type:
                  description: Choose between uploading a Certificate in PEM format or requesting a managed *Let's Encrypt* Certificate.
                  type: string
                  enum:
                  - uploaded
                  - managed
                  default: uploaded
                  example: uploaded
                certificate:
                  description: Certificate and chain in PEM format, in order so that each record directly certifies the one preceding. Required for type `uploaded` Certificates.
                  type: string
                  example: '-----BEGIN CERTIFICATE-----

                    ...'
                private_key:
                  description: Certificate key in PEM format. Required for type `uploaded` Certificates.
                  type: string
                  example: '-----BEGIN PRIVATE KEY-----

                    ...'
                domain_names:
                  description: Domains and subdomains that should be contained in the Certificate issued by *Let's Encrypt*. Required for type `managed` Certificates.
                  type: array
                  items:
                    type: string
                  example:
                  - example.com
                  - www.example.com
              required:
              - name
            examples:
              uploaded:
                summary: Creating a type `uploaded` Certificate
                value:
                  name: my website cert
                  type: uploaded
                  certificate: '-----BEGIN CERTIFICATE-----

                    ...'
                  private_key: '-----BEGIN PRIVATE KEY-----

                    ...'
              managed:
                summary: Creating a type `managed` Certificate
                value:
                  name: my website cert
                  type: managed
                  domain_names:
                  - example.com
                  - webmail.example.com
                  - www.example.com
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CreateCertificateResponse
                type: object
                properties:
                  certificate:
                    title: Certificate
                    type: object
                    properties:
                      id:
                        description: ID of the [Certificate](#tag/certificates).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      type:
                        description: Type of the Certificate.
                        type: string
                        enum:
                        - uploaded
                        - managed
                        example: uploaded
                      certificate:
                        description: Certificate and chain in PEM format, in order so that each record directly certifies the one preceding.
                        type:
                        - string
                        - 'null'
                        example: '-----BEGIN CERTIFICATE-----

                          ...'
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      not_valid_before:
                        description: Point in time when the Certificate becomes valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2019-01-08T10:00:00Z'
                      not_valid_after:
                        description: 'Point in time when the Certificate stops being valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).

                          '
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2019-07-08T09:59:59Z'
                      domain_names:
                        description: Domains and subdomains covered by the Certificate.
                        type: array
                        items:
                          type: string
                        example:
                        - example.com
                        - webmail.example.com
                        - www.example.com
                      fingerprint:
                        description: SHA256 fingerprint of the Certificate.
                        type:
                        - string
                        - 'null'
                        example: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                      status:
                        description: Current status of a type `managed` Certificate, always *null* for type `uploaded` Certificates.
                        type:
                        - object
                        - 'null'
                        properties:
                          issuance:
                            description: Status of the issuance process of the Certificate.
                            type: string
                            enum:
                            - pending
                            - completed
                            - failed
                            example: completed
                          renewal:
                            description: Status of the renewal process of the Certificate.
                            type: string
                            enum:
                            - scheduled
                            - pending
                            - failed
                            - unavailable
                            example: scheduled
                          error:
                            description: If issuance or renewal reports `failed`, this property contains information about what happened.
                            type:
                            - object
                            - 'null'
                            properties:
                              code:
                                type: string
                              message:
                                type: string
                            example: null
                      used_by:
                        description: Resources currently using the Certificate.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of resource referenced.
                              type: integer
                              format: int64
                              example: 4711
                            type:
                              description: Type of resource referenced.
                              type: string
                              example: load_balancer
                          required:
                          - id
                          - type
                    required:
                    - id
                    - name
                    - labels
                    - certificate
                    - created
                    - not_valid_before
                    - not_valid_after
                    - domain_names
                    - fingerprint
                    - used_by
                  action:
                    title: ActionNullable
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - certificate
              examples:
                uploaded:
                  summary: Response when creating a type `uploaded` Certificate
                  value:
                    certificate:
                      id: 897
                      name: my website cert
                      labels:
                        key: value
                      type: uploaded
                      certificate: '-----BEGIN CERTIFICATE-----

                        ...'
                      created: '2019-01-08T12:10:00Z'
                      not_valid_before: '2019-01-08T10:00:00Z'
                      not_valid_after: '2019-07-08T09:59:59Z'
                      domain_names:
                      - example.com
                      - webmail.example.com
                      - www.example.com
                      fingerprint: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                      status: null
                      used_by:
                      - id: 4711
                        type: load_balancer
                    action: null
                managed:
                  summary: Response when creating a type `managed` Certificate
                  value:
                    certificate:
                      id: 897
                      name: my website cert
                      labels:
                        key: value
                      type: managed
                      certificate: null
                      created: '2019-01-08T12:10:00Z'
                      not_valid_before: null
                      not_valid_after: null
                      domain_names:
                      - example.com
                      - webmail.example.com
                      - www.example.com
                      fingerprint: null
                      status:
                        issuance: pending
                        renewal: unavailable
                        error: null
                      used_by:
                      - id: 4711
                        type: load_balancer
                    action:
                      id: 13
                      command: create_certificate
                      status: running
                      progress: 0
                      started: '2019-01-08T12:10:00Z'
                      finished: null
                      resources:
                      - id: 879
                        type: certificate
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go (managed)
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tcertificate, _, err := client.Certificate.Create(ctx, hcloud.CertificateCreateOpts{\n\t\tDomainNames: []string{\n\t\t\t\"example.com\",\n\t\t\t\"webmail.example.com\",\n\t\t\t\"www.example.com\",\n\t\t},\n\t\tName: \"my website cert\",\n\t\tType: hcloud.CertificateTypeManaged,\n\t})\n}"
      - lang: Go
        label: Go (uploaded)
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tcertificate, _, err := client.Certificate.Create(ctx, hcloud.CertificateCreateOpts{\n\t\tCertificate: \"-----BEGIN CERTIFICATE-----\\n...\",\n\t\tName:        \"my website cert\",\n\t\tPrivateKey:  \"-----BEGIN PRIVATE KEY-----\\n...\",\n\t\tType:        hcloud.CertificateTypeUploaded,\n\t})\n}"
      - lang: Python
        label: Python (managed)
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\ncertificate = client.certificates.create_managed(\n    domain_names=[\n        \"example.com\",\n        \"webmail.example.com\",\n        \"www.example.com\",\n    ],\n    name=\"my website cert\",\n)"
      - lang: Python
        label: Python (uploaded)
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\ncertificate = client.certificates.create(\n    certificate=\"-----BEGIN CERTIFICATE-----\\n...\",\n    name=\"my website cert\",\n    private_key=\"-----BEGIN PRIVATE KEY-----\\n...\",\n)"
      - lang: Shell
        label: CLI (managed)
        source: "hcloud certificate create \\\n    --name \"my website cert\" \\\n    --type managed \\\n    --domain example.com \\\n    --domain webmail.example.com \\\n    --domain www.example.com"
      - lang: Shell
        label: CLI (uploaded)
        source: "hcloud certificate create \\\n    --name \"my website cert\" \\\n    --type uploaded \\\n    --cert-file my-cert.pem \\\n    --key-file my-key.pem"
  /certificates/{id}:
    get:
      operationId: get_certificate
      summary: Get a Certificate
      description: Gets a specific Certificate object.
      tags:
      - Certificates
      parameters:
      - description: ID of the Certificate.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Certificate](#tag/certificates).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CertificateResponse
                type: object
                properties:
                  certificate:
                    title: Certificate
                    type: object
                    properties:
                      id:
                        description: ID of the [Certificate](#tag/certificates).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      type:
                        description: Type of the Certificate.
                        type: string
                        enum:
                        - uploaded
                        - managed
                        example: uploaded
                      certificate:
                        description: Certificate and chain in PEM format, in order so that each record directly certifies the one preceding.
                        type:
                        - string
                        - 'null'
                        example: '-----BEGIN CERTIFICATE-----

                          ...'
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      not_valid_before:
                        description: Point in time when the Certificate becomes valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2019-01-08T10:00:00Z'
                      not_valid_after:
                        description: 'Point in time when the Certificate stops being valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).

                          '
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2019-07-08T09:59:59Z'
                      domain_names:
                        description: Domains and subdomains covered by the Certificate.
                        type: array
                        items:
                          type: string
                        example:
                        - example.com
                        - webmail.example.com
                        - www.example.com
                      fingerprint:
                        description: SHA256 fingerprint of the Certificate.
                        type:
                        - string
                        - 'null'
                        example: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                      status:
                        description: Current status of a type `managed` Certificate, always *null* for type `uploaded` Certificates.
                        type:
                        - object
                        - 'null'
                        properties:
                          issuance:
                            description: Status of the issuance process of the Certificate.
                            type: string
                            enum:
                            - pending
                            - completed
                            - failed
                            example: completed
                          renewal:
                            description: Status of the renewal process of the Certificate.
                            type: string
                            enum:
                            - scheduled
                            - pending
                            - failed
                            - unavailable
                            example: scheduled
                          error:
                            description: If issuance or renewal reports `failed`, this property contains information about what happened.
                            type:
                            - object
                            - 'null'
                            properties:
                              code:
                                type: string
                              message:
                                type: string
                            example: null
                      used_by:
                        description: Resources currently using the Certificate.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of resource referenced.
                              type: integer
                              format: int64
                              example: 4711
                            type:
                              description: Type of resource referenced.
                              type: string
                              example: load_balancer
                          required:
                          - id
                          - type
                    required:
                    - id
                    - name
                    - labels
                    - certificate
                    - created
                    - not_valid_before
                    - not_valid_after
                    - domain_names
                    - fingerprint
                    - used_by
                required:
                - certificate
              examples:
                default:
                  value:
                    certificate:
                      id: 897
                      name: my website cert
                      labels:
                        key: value
                      type: uploaded
                      certificate: '-----BEGIN CERTIFICATE-----

                        ...'
                      created: '2019-01-08T12:10:00Z'
                      not_valid_before: '2019-01-08T10:00:00Z'
                      not_valid_after: '2019-07-08T09:59:59Z'
                      domain_names:
                      - example.com
                      - webmail.example.com
                      - www.example.com
                      fingerprint: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                      status: null
                      used_by:
                      - id: 4711
                        type: load_balancer
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tcertificate, _, err := client.Certificate.GetByID(ctx, 123)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          certificate = client.certificates.get_by_id(123)'
      - lang: Shell
        label: CLI
        source: hcloud certificate describe $CERTIFICATE
    put:
      operationId: update_certificate
      summary: Update a Certificate
      description: 'Updates the Certificate properties.


        Note: if the Certificate object changes during the request, the response will be a “conflict” error.'
      tags:
      - Certificates
      parameters:
      - description: ID of the Certificate.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Certificate](#tag/certificates).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: UpdateCertificateRequest
              type: object
              properties:
                name:
                  description: New Certificate name.
                  type: string
                  example: my website cert
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.


                    Note that the set of [Labels](#description/labels) provided in the request will overwrite the

                    existing one.


                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CertificateResponse
                type: object
                properties:
                  certificate:
                    title: Certificate
                    type: object
                    properties:
                      id:
                        description: ID of the [Certificate](#tag/certificates).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      type:
                        description: Type of the Certificate.
                        type: string
                        enum:
                        - uploaded
                        - managed
                        example: uploaded
                      certificate:
                        description: Certificate and chain in PEM format, in order so that each record directly certifies the one preceding.
                        type:
                        - string
                        - 'null'
                        example: '-----BEGIN CERTIFICATE-----

                          ...'
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      not_valid_before:
                        description: Point in time when the Certificate becomes valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2019-01-08T10:00:00Z'
                      not_valid_after:
                        description: 'Point in time when the Certificate stops being valid (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).

                          '
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2019-07-08T09:59:59Z'
                      domain_names:
                        description: Domains and subdomains covered by the Certificate.
                        type: array
                        items:
                          type: string
                        example:
                        - example.com
                        - webmail.example.com
                        - www.example.com
                      fingerprint:
                        description: SHA256 fingerprint of the Certificate.
                        type:
                        - string
                        - 'null'
                        example: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                      status:
                        description: Current status of a type `managed` Certificate, always *null* for type `uploaded` Certificates.
                        type:
                        - object
                        - 'null'
                        properties:
                          issuance:
                            description: Status of the issuance process of the Certificate.
                            type: string
                            enum:
                            - pending
                            - completed
                            - failed
                            example: completed
                          renewal:
                            description: Status of the renewal process of the Certificate.
                            type: string
                            enum:
                            - scheduled
                            - pending
                            - failed
                            - unavailable
                            example: scheduled
                          error:
                            description: If issuance or renewal reports `failed`, this property contains information about what happened.
                            type:
                            - object
                            - 'null'
                            properties:
                              code:
                                type: string
                              message:
                                type: string
                            example: null
                      used_by:
                        description: Resources currently using the Certificate.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of resource referenced.
                              type: integer
                              format: int64
                              example: 4711
                            type:
                              description: Type of resource referenced.
                              type: string
                              example: load_balancer
                          required:
                          - id
                          - type
                    required:
                    - id
                    - name
                    - labels
                    - certificate
                    - created
                    - not_valid_before
                    - not_valid_after
                    - domain_names
                    - fingerprint
                    - used_by
                required:
                - certificate
              examples:
                default:
                  value:
                    certificate:
                      id: 897
                      name: my website cert
                      labels:
                        key: value
                      type: uploaded
                      certificate: '-----BEGIN CERTIFICATE-----

                        ...'
                      created: '2019-01-08T12:10:00Z'
                      not_valid_before: '2019-01-08T10:00:00Z'
                      not_valid_after: '2019-07-08T09:59:59Z'
                      domain_names:
                      - example.com
                      - webmail.example.com
                      - www.example.com
                      fingerprint: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
                      status: null
                      used_by:
                      - id: 4711
                        type: load_balancer
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tcertificate, _, err := client.Certificate.Update(ctx, &hcloud.Certificate{ID: 123}, hcloud.CertificateUpdateOpts{\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName: \"my website cert\",\n\t})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.certificates import Certificate\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\ncertificate = client.certificates.update(\n    certificate=Certificate(id=123),\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"my website cert\",\n)"
      - lang: Shell
        label: CLI
        source: "hcloud certificate update $CERTIFICATE --name \"my website cert\"\nhcloud certificate add-label --overwrite $CERTIFICATE \\\n    \"environment=prod\" \"example.com/my=label\" \"just-a-key=\"\nhcloud certificate remove-label $CERTIFICATE \\\n    \"environment\" \"example.com\" \"just-a-key\""
    delete:
      operationId: delete_certificate
      summary: Delete a Certificate
      description: Deletes a Certificate.
      tags:
      - Certificates
      parameters:
      - description: ID of the Certificate.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Certificate](#tag/certificates).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '204':
          description: Request succeeded.
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\t_, err := client.Certificate.Delete(ctx, &hcloud.Certificate{ID: 123})\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client

          from hcloud.certificates import Certificate


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          client.certificates.delete(certificate=Certificate(id=123))'
      - lang: Shell
        label: CLI
        source: hcloud certificate delete $CERTIFICATE
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
