openapi: 3.2.0
info:
  title: Hetzner Cloud Primary IPs API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Primary IPs
  description: Primary IPs help you to create more flexible networking setups.
paths:
  /primary_ips:
    get:
      operationId: list_primary_ips
      summary: List Primary IPs
      description: 'List multiple Primary IPs.


        Use the provided URI parameters to modify the result.'
      tags:
      - Primary IPs
      parameters:
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: Filter results by IP address.
        name: ip
        in: query
        required: false
        schema:
          type: string
        example: 127.0.0.1
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - created
            - created:asc
            - created:desc
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: PrimaryIPsResponse
                type: object
                properties:
                  primary_ips:
                    type: array
                    items:
                      title: PrimaryIP
                      type: object
                      properties:
                        id:
                          description: ID of the [Primary IP](#tag/primary-ips).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        name:
                          description: Name of the Resource. Must be unique per Project.
                          type: string
                          example: my-resource
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        blocked:
                          description: Blocked state of the [Primary IP](#tag/primary-ips).
                          type: boolean
                          example: false
                        datacenter:
                          deprecated: true
                          description: '**Deprecated**: This property is deprecated and will be removed after the 1 July 2026.

                            Use the `location` property instead.


                            [Data Center](#tag/data-centers) of the [Primary IP](#tag/primary-ips).

                            '
                          type: object
                          properties:
                            id:
                              description: ID of the [Data Center](#tag/data-centers).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: 'Unique name for the [Data Center](#tag/data-centers).


                                May be used as a more descriptive identifier.

                                '
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: fsn1-dc8
                            description:
                              description: 'Descriptive name for the [Data Center](#tag/data-centers).


                                Desired to be easy to understand for humans. May change for cosmetic reasons. Must not be used as an identifier.

                                '
                              type: string
                              example: Falkenstein DC Park 8
                            location:
                              description: '[Location](#tag/locations) the [Data Center](#tag/data-centers) is located at.

                                '
                              type: object
                              properties:
                                id:
                                  description: ID of the [Location](#tag/locations).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                                name:
                                  description: Unique identifier of the [Location](#tag/locations).
                                  type: string
                                  pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                  example: fsn1
                                description:
                                  description: Human readable description of the [Location](#tag/locations).
                                  type: string
                                  example: Falkenstein DC Park 1
                                country:
                                  description: 'Country the [Location](#tag/locations) resides in.


                                    ISO 3166-1 alpha-2 code of the country.

                                    '
                                  type: string
                                  example: DE
                                city:
                                  description: 'Name of the closest city to the [Location](#tag/locations).


                                    City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                    '
                                  type: string
                                  example: Falkenstein
                                latitude:
                                  description: Latitude of the city closest to the [Location](#tag/locations).
                                  type: number
                                  format: double
                                  example: 50.47612
                                longitude:
                                  description: Longitude of the city closest to the [Location](#tag/locations).
                                  type: number
                                  format: double
                                  example: 12.370071
                                network_zone:
                                  description: Name of the Network Zone this [Location](#tag/locations) resides in.
                                  type: string
                                  pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                  example: eu-central
                              required:
                              - id
                              - name
                              - description
                              - country
                              - city
                              - latitude
                              - longitude
                              - network_zone
                            server_types:
                              deprecated: true
                              description: 'This field is deprecated, as all of it''s properties are deprecated.


                                [Server Types](#tag/server-types) supported and available in this [Data Center](#tag/data-centers).

                                '
                              type: object
                              properties:
                                supported:
                                  deprecated: true
                                  description: 'This field is deprecated. Use the [Server Type](#tag/server-types) `locations` field instead.


                                    List of [Server Types](#tag/server-types) supported in this [Data Center](#tag/data-centers).


                                    These [Server Types](#tag/server-types) are generally available in this Data Center, but may be

                                    temporarily out of stock.

                                    '
                                  type: array
                                  items:
                                    type: integer
                                    format: int64
                                  example:
                                  - 1
                                  - 2
                                  - 3
                                available:
                                  deprecated: true
                                  description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                    [Server Types](#tag/server-types) currently available in this [Data Center](#tag/data-centers).


                                    These [Server Types](#tag/server-types) can currently be purchased. Types that are temporarily unavailable

                                    but are supported in this [Data Center](#tag/data-centers) are listed as `supported`.

                                    '
                                  type: array
                                  items:
                                    type: integer
                                    format: int64
                                  example:
                                  - 1
                                  - 2
                                  - 3
                                available_for_migration:
                                  deprecated: true
                                  description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                    [Server Types](#tag/server-types) available to migrate to in this [Data Center](#tag/data-centers).


                                    Existing [Servers](#tag/servers) can be migrated to these [Server Types](#tag/server-types).

                                    '
                                  type: array
                                  items:
                                    type: integer
                                    format: int64
                                  example:
                                  - 1
                                  - 2
                                  - 3
                              required:
                              - supported
                              - available
                              - available_for_migration
                          required:
                          - id
                          - name
                          - description
                          - location
                          - server_types
                        location:
                          description: '[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).

                            '
                          type: object
                          properties:
                            id:
                              description: ID of the [Location](#tag/locations).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: Unique identifier of the [Location](#tag/locations).
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: fsn1
                            description:
                              description: Human readable description of the [Location](#tag/locations).
                              type: string
                              example: Falkenstein DC Park 1
                            country:
                              description: 'Country the [Location](#tag/locations) resides in.


                                ISO 3166-1 alpha-2 code of the country.

                                '
                              type: string
                              example: DE
                            city:
                              description: 'Name of the closest city to the [Location](#tag/locations).


                                City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                '
                              type: string
                              example: Falkenstein
                            latitude:
                              description: Latitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 50.47612
                            longitude:
                              description: Longitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 12.370071
                            network_zone:
                              description: Name of the Network Zone this [Location](#tag/locations) resides in.
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: eu-central
                          required:
                          - id
                          - name
                          - description
                          - country
                          - city
                          - latitude
                          - longitude
                          - network_zone
                        ip:
                          description: IP address.
                          type: string
                          example: 2001:db8::/64
                        dns_ptr:
                          description: List of reverse DNS records.
                          type: array
                          items:
                            type: object
                            properties:
                              ip:
                                description: 'Single IPv4 or IPv6 address of the record.

                                  '
                                type: string
                                example: 2001:db8::1
                              dns_ptr:
                                description: 'Domain Name to point to.


                                  PTR record content used for reverse DNS.

                                  '
                                type: string
                                example: server.example.com
                            required:
                            - ip
                            - dns_ptr
                        protection:
                          description: Protection configuration for the Resource.
                          type: object
                          properties:
                            delete:
                              description: Prevent the Resource from being deleted.
                              type: boolean
                              example: false
                          required:
                          - delete
                        type:
                          description: '[Primary IP](#tag/primary-ips) type.'
                          type: string
                          enum:
                          - ipv4
                          - ipv6
                          example: ipv6
                        auto_delete:
                          description: 'Auto deletion state.


                            If enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.

                            '
                          type: boolean
                          default: false
                          example: true
                        assignee_type:
                          description: 'Type of resource the [Primary IP](#tag/primary-ips) can get assigned to.

                            '
                          type: string
                          enum:
                          - server
                          example: server
                        assignee_id:
                          description: 'ID of resource the [Primary IP](#tag/primary-ips) is assigned to.


                            `null` if the [Primary IP](#tag/primary-ips) is not assigned.

                            '
                          type:
                          - integer
                          - 'null'
                          format: int64
                          example: 17
                      required:
                      - id
                      - name
                      - labels
                      - created
                      - blocked
                      - location
                      - datacenter
                      - ip
                      - dns_ptr
                      - protection
                      - type
                      - auto_delete
                      - assignee_type
                      - assignee_id
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - primary_ips
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tprimaryIPs, err := client.PrimaryIP.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          primary_ips = client.primary_ips.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud primary-ip list
    post:
      operationId: create_primary_ip
      summary: Create a Primary IP
      description: 'Create a new Primary IP.


        Can optionally be assigned to a resource by providing an `assignee_id` and `assignee_type`.


        If not assigned to a resource the `location` key needs to be provided. This can be either the ID or the name of the Location this Primary IP shall be created in.


        A Primary IP can only be assigned to resource in the same Location later on.


        The `datacenter` key is deprecated in favor of `location` and will be removed after 01 July 2026.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `server_not_stopped` | The specified Server is running, but needs to be powered off |

        | `422` | `server_has_ipv4` | The Server already has an ipv4 address |

        | `422` | `server_has_ipv6` | The Server already has an ipv6 address |'
      tags:
      - Primary IPs
      requestBody:
        description: 'Request Body for creating a new [Primary IP](#tag/primary-ips).


          The `location`, `datacenter` and `assignee_id`/`assignee_type` attributes are mutually exclusive.

          '
        required: true
        content:
          application/json:
            schema:
              title: PrimaryIPCreateRequest
              type: object
              properties:
                name:
                  description: Name of the Resource. Must be unique per Project.
                  type: string
                  example: my-resource
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                type:
                  description: '[Primary IP](#tag/primary-ips) type.'
                  type: string
                  enum:
                  - ipv4
                  - ipv6
                  example: ipv6
                datacenter:
                  deprecated: true
                  description: '**Deprecated**: This property is deprecated and will be removed after 1 July 2026.

                    Use the `location` key instead.


                    [Data Center](#tag/data-centers) ID or name.


                    The [Primary IP](#tag/primary-ips) will be bound to this [Data Center](#tag/data-centers).

                    Omit if `assignee_id`/`assignee_type` or `location` are provided.

                    '
                  oneOf:
                  - description: '**Deprecated**: This property is deprecated and will be removed after 1 July 2026.

                      Use the `location` key instead.


                      [Data Center](#tag/data-centers) ID or name.


                      The [Primary IP](#tag/primary-ips) will be bound to this [Data Center](#tag/data-centers).

                      Omit if `assignee_id`/`assignee_type` or `location` are provided.

                      '
                    type: string
                    example: fsn1-dc8
                  - description: '**Deprecated**: This property is deprecated and will be removed after 1 July 2026.

                      Use the `location` key instead.


                      [Data Center](#tag/data-centers) ID or name.


                      The [Primary IP](#tag/primary-ips) will be bound to this [Data Center](#tag/data-centers).

                      Omit if `assignee_id`/`assignee_type` or `location` are provided.

                      '
                    type: integer
                    format: int64
                    minimum: 1
                    maximum: 9007199254740991
                    example: 42
                location:
                  description: '[Location](#tag/locations) ID or name the [Primary IP](#tag/primary-ips) will be bound to.


                    Omit if `assignee_id`/`assignee_type` or `datacenter` are provided.

                    '
                  oneOf:
                  - description: '[Location](#tag/locations) ID or name the [Primary IP](#tag/primary-ips) will be bound to.


                      Omit if `assignee_id`/`assignee_type` or `datacenter` are provided.

                      '
                    type: string
                    example: fsn1
                  - description: '[Location](#tag/locations) ID or name the [Primary IP](#tag/primary-ips) will be bound to.


                      Omit if `assignee_id`/`assignee_type` or `datacenter` are provided.

                      '
                    type: integer
                    format: int64
                    minimum: 1
                    maximum: 9007199254740991
                    example: 42
                assignee_type:
                  description: 'Type of resource the [Primary IP](#tag/primary-ips) can get assigned to.


                    Currently [Primary IPs](#tag/primary-ips) can only be assigned to [Servers](#tag/servers),

                    therefore this field must be set to `server`.

                    '
                  type: string
                  enum:
                  - server
                  example: server
                assignee_id:
                  description: 'ID of resource to assign the [Primary IP](#tag/primary-ips) to.


                    Omitted if the [Primary IP](#tag/primary-ips) should not get assigned.

                    '
                  type:
                  - integer
                  - 'null'
                  format: int64
                  example: 17
                auto_delete:
                  example: false
                  description: 'Auto deletion state.


                    If enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.

                    '
                  type: boolean
                  default: false
              required:
              - name
              - type
              - assignee_type
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CreatePrimaryIPResponse
                type: object
                properties:
                  primary_ip:
                    title: PrimaryIP
                    type: object
                    properties:
                      id:
                        description: ID of the [Primary IP](#tag/primary-ips).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      blocked:
                        description: Blocked state of the [Primary IP](#tag/primary-ips).
                        type: boolean
                        example: false
                      datacenter:
                        deprecated: true
                        description: '**Deprecated**: This property is deprecated and will be removed after the 1 July 2026.

                          Use the `location` property instead.


                          [Data Center](#tag/data-centers) of the [Primary IP](#tag/primary-ips).

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Data Center](#tag/data-centers).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Unique name for the [Data Center](#tag/data-centers).


                              May be used as a more descriptive identifier.

                              '
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1-dc8
                          description:
                            description: 'Descriptive name for the [Data Center](#tag/data-centers).


                              Desired to be easy to understand for humans. May change for cosmetic reasons. Must not be used as an identifier.

                              '
                            type: string
                            example: Falkenstein DC Park 8
                          location:
                            description: '[Location](#tag/locations) the [Data Center](#tag/data-centers) is located at.

                              '
                            type: object
                            properties:
                              id:
                                description: ID of the [Location](#tag/locations).
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              name:
                                description: Unique identifier of the [Location](#tag/locations).
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: fsn1
                              description:
                                description: Human readable description of the [Location](#tag/locations).
                                type: string
                                example: Falkenstein DC Park 1
                              country:
                                description: 'Country the [Location](#tag/locations) resides in.


                                  ISO 3166-1 alpha-2 code of the country.

                                  '
                                type: string
                                example: DE
                              city:
                                description: 'Name of the closest city to the [Location](#tag/locations).


                                  City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                  '
                                type: string
                                example: Falkenstein
                              latitude:
                                description: Latitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 50.47612
                              longitude:
                                description: Longitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 12.370071
                              network_zone:
                                description: Name of the Network Zone this [Location](#tag/locations) resides in.
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: eu-central
                            required:
                            - id
                            - name
                            - description
                            - country
                            - city
                            - latitude
                            - longitude
                            - network_zone
                          server_types:
                            deprecated: true
                            description: 'This field is deprecated, as all of it''s properties are deprecated.


                              [Server Types](#tag/server-types) supported and available in this [Data Center](#tag/data-centers).

                              '
                            type: object
                            properties:
                              supported:
                                deprecated: true
                                description: 'This field is deprecated. Use the [Server Type](#tag/server-types) `locations` field instead.


                                  List of [Server Types](#tag/server-types) supported in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) are generally available in this Data Center, but may be

                                  temporarily out of stock.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) currently available in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) can currently be purchased. Types that are temporarily unavailable

                                  but are supported in this [Data Center](#tag/data-centers) are listed as `supported`.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available_for_migration:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) available to migrate to in this [Data Center](#tag/data-centers).


                                  Existing [Servers](#tag/servers) can be migrated to these [Server Types](#tag/server-types).

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                            required:
                            - supported
                            - available
                            - available_for_migration
                        required:
                        - id
                        - name
                        - description
                        - location
                        - server_types
                      location:
                        description: '[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      ip:
                        description: IP address.
                        type: string
                        example: 2001:db8::/64
                      dns_ptr:
                        description: List of reverse DNS records.
                        type: array
                        items:
                          type: object
                          properties:
                            ip:
                              description: 'Single IPv4 or IPv6 address of the record.

                                '
                              type: string
                              example: 2001:db8::1
                            dns_ptr:
                              description: 'Domain Name to point to.


                                PTR record content used for reverse DNS.

                                '
                              type: string
                              example: server.example.com
                          required:
                          - ip
                          - dns_ptr
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      type:
                        description: '[Primary IP](#tag/primary-ips) type.'
                        type: string
                        enum:
                        - ipv4
                        - ipv6
                        example: ipv6
                      auto_delete:
                        description: 'Auto deletion state.


                          If enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.

                          '
                        type: boolean
                        default: false
                        example: true
                      assignee_type:
                        description: 'Type of resource the [Primary IP](#tag/primary-ips) can get assigned to.

                          '
                        type: string
                        enum:
                        - server
                        example: server
                      assignee_id:
                        description: 'ID of resource the [Primary IP](#tag/primary-ips) is assigned to.


                          `null` if the [Primary IP](#tag/primary-ips) is not assigned.

                          '
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 17
                    required:
                    - id
                    - name
                    - labels
                    - created
                    - blocked
                    - location
                    - datacenter
                    - ip
                    - dns_ptr
                    - protection
                    - type
                    - auto_delete
                    - assignee_type
                    - assignee_id
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - primary_ip
              examples:
                default:
                  value:
                    primary_ip:
                      id: 42
                      name: my-ip
                      labels:
                        key: value
                      created: '2016-01-30T23:50:00Z'
                      blocked: false
                      location:
                        id: 1
                        name: fsn1
                        description: Falkenstein DC Park 1
                        country: DE
                        city: Falkenstein
                        latitude: 50.47612
                        longitude: 12.370071
                        network_zone: eu-central
                      datacenter:
                        id: 42
                        name: fsn1-dc8
                        description: Falkenstein DC Park 8
                        location:
                          id: 1
                          name: fsn1
                          description: Falkenstein DC Park 1
                          country: DE
                          city: Falkenstein
                          latitude: 50.47612
                          longitude: 12.370071
                          network_zone: eu-central
                        server_types:
                          supported:
                          - 1
                          - 2
                          - 3
                          available:
                          - 1
                          - 2
                          - 3
                          available_for_migration:
                          - 1
                          - 2
                          - 3
                      ip: 2001:db8::/64
                      dns_ptr:
                      - ip: 2001:db8::1
                        dns_ptr: server.example.com
                      protection:
                        delete: false
                      type: ipv6
                      auto_delete: true
                      assignee_type: server
                      assignee_id: 17
                    action:
                      id: 13
                      command: assign_primary_ip
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 17
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.PrimaryIP.Create(ctx, hcloud.PrimaryIPCreateOpts{\n\t\tAssigneeID:   hcloud.Ptr(int64(17)),\n\t\tAssigneeType: \"server\",\n\t\tAutoDelete:   hcloud.Ptr(false),\n\t\tLocation:     \"hel1\",\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName: \"my-ip\",\n\t\tType: \"ipv4\",\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n\n\tprimaryIP := result.PrimaryIP\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.primary_ips.create(\n    assignee_id=17,\n    assignee_type=\"server\",\n    auto_delete=False,\n    location=\"hel1\",\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"my-resource\",\n    type=\"ipv4\",\n)\n\nresponse.action.wait_until_finished()\n\nprimary_ip = response.primary_ip"
      - lang: Shell
        label: CLI
        source: "hcloud primary-ip create \\\n    --assignee-id 17 \\\n    --auto-delete=false \\\n    --location hel1 \\\n    --label \"environment=prod\" \\\n    --label \"example.com/my=label\" \\\n    --label \"just-a-key=\" \\\n    --name my-ip \\\n    --type ipv4"
  /primary_ips/{id}:
    get:
      operationId: get_primary_ip
      summary: Get a Primary IP
      description: Returns a Primary IP.
      tags:
      - Primary IPs
      parameters:
      - description: ID of the Primary IP.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Primary IP](#tag/primary-ips).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: PrimaryIPResponse
                type: object
                properties:
                  primary_ip:
                    title: PrimaryIP
                    type: object
                    properties:
                      id:
                        description: ID of the [Primary IP](#tag/primary-ips).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      blocked:
                        description: Blocked state of the [Primary IP](#tag/primary-ips).
                        type: boolean
                        example: false
                      datacenter:
                        deprecated: true
                        description: '**Deprecated**: This property is deprecated and will be removed after the 1 July 2026.

                          Use the `location` property instead.


                          [Data Center](#tag/data-centers) of the [Primary IP](#tag/primary-ips).

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Data Center](#tag/data-centers).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Unique name for the [Data Center](#tag/data-centers).


                              May be used as a more descriptive identifier.

                              '
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1-dc8
                          description:
                            description: 'Descriptive name for the [Data Center](#tag/data-centers).


                              Desired to be easy to understand for humans. May change for cosmetic reasons. Must not be used as an identifier.

                              '
                            type: string
                            example: Falkenstein DC Park 8
                          location:
                            description: '[Location](#tag/locations) the [Data Center](#tag/data-centers) is located at.

                              '
                            type: object
                            properties:
                              id:
                                description: ID of the [Location](#tag/locations).
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              name:
                                description: Unique identifier of the [Location](#tag/locations).
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: fsn1
                              description:
                                description: Human readable description of the [Location](#tag/locations).
                                type: string
                                example: Falkenstein DC Park 1
                              country:
                                description: 'Country the [Location](#tag/locations) resides in.


                                  ISO 3166-1 alpha-2 code of the country.

                                  '
                                type: string
                                example: DE
                              city:
                                description: 'Name of the closest city to the [Location](#tag/locations).


                                  City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                  '
                                type: string
                                example: Falkenstein
                              latitude:
                                description: Latitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 50.47612
                              longitude:
                                description: Longitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 12.370071
                              network_zone:
                                description: Name of the Network Zone this [Location](#tag/locations) resides in.
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: eu-central
                            required:
                            - id
                            - name
                            - description
                            - country
                            - city
                            - latitude
                            - longitude
                            - network_zone
                          server_types:
                            deprecated: true
                            description: 'This field is deprecated, as all of it''s properties are deprecated.


                              [Server Types](#tag/server-types) supported and available in this [Data Center](#tag/data-centers).

                              '
                            type: object
                            properties:
                              supported:
                                deprecated: true
                                description: 'This field is deprecated. Use the [Server Type](#tag/server-types) `locations` field instead.


                                  List of [Server Types](#tag/server-types) supported in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) are generally available in this Data Center, but may be

                                  temporarily out of stock.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) currently available in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) can currently be purchased. Types that are temporarily unavailable

                                  but are supported in this [Data Center](#tag/data-centers) are listed as `supported`.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available_for_migration:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) available to migrate to in this [Data Center](#tag/data-centers).


                                  Existing [Servers](#tag/servers) can be migrated to these [Server Types](#tag/server-types).

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                            required:
                            - supported
                            - available
                            - available_for_migration
                        required:
                        - id
                        - name
                        - description
                        - location
                        - server_types
                      location:
                        description: '[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      ip:
                        description: IP address.
                        type: string
                        example: 2001:db8::/64
                      dns_ptr:
                        description: List of reverse DNS records.
                        type: array
                        items:
                          type: object
                          properties:
                            ip:
                              description: 'Single IPv4 or IPv6 address of the record.

                                '
                              type: string
                              example: 2001:db8::1
                            dns_ptr:
                              description: 'Domain Name to point to.


                                PTR record content used for reverse DNS.

                                '
                              type: string
                              example: server.example.com
                          required:
                          - ip
                          - dns_ptr
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      type:
                        description: '[Primary IP](#tag/primary-ips) type.'
                        type: string
                        enum:
                        - ipv4
                        - ipv6
                        example: ipv6
                      auto_delete:
                        description: 'Auto deletion state.


                          If enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.

                          '
                        type: boolean
                        default: false
                        example: true
                      assignee_type:
                        description: 'Type of resource the [Primary IP](#tag/primary-ips) can get assigned to.

                          '
                        type: string
                        enum:
                        - server
                        example: server
                      assignee_id:
                        description: 'ID of resource the [Primary IP](#tag/primary-ips) is assigned to.


                          `null` if the [Primary IP](#tag/primary-ips) is not assigned.

                          '
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 17
                    required:
                    - id
                    - name
                    - labels
                    - created
                    - blocked
                    - location
                    - datacenter
                    - ip
                    - dns_ptr
                    - protection
                    - type
                    - auto_delete
                    - assignee_type
                    - assignee_id
                required:
                - primary_ip
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tprimaryIP, _, err := client.PrimaryIP.GetByID(ctx, 123)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          primary_ip = client.primary_ips.get_by_id(123)'
      - lang: Shell
        label: CLI
        source: hcloud primary-ip describe $PRIMARYIP
    put:
      operationId: update_primary_ip
      summary: Update a Primary IP
      description: 'Update a Primary IP.


        If another change is concurrently performed on this Primary IP, a error response with code `conflict` will be returned.'
      tags:
      - Primary IPs
      parameters:
      - description: ID of the Primary IP.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Primary IP](#tag/primary-ips).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: PrimaryIPUpdateRequest
              type: object
              properties:
                name:
                  description: Name of the Resource. Must be unique per Project.
                  type: string
                  example: my-resource
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.


                    Note that the set of [Labels](#description/labels) provided in the request will overwrite the

                    existing one.


                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                auto_delete:
                  description: 'Auto deletion state.


                    If enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.

                    '
                  type: boolean
                  default: false
                  example: true
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: PrimaryIPResponse
                type: object
                properties:
                  primary_ip:
                    title: PrimaryIP
                    type: object
                    properties:
                      id:
                        description: ID of the [Primary IP](#tag/primary-ips).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      blocked:
                        description: Blocked state of the [Primary IP](#tag/primary-ips).
                        type: boolean
                        example: false
                      datacenter:
                        deprecated: true
                        description: '**Deprecated**: This property is deprecated and will be removed after the 1 July 2026.

                          Use the `location` property instead.


                          [Data Center](#tag/data-centers) of the [Primary IP](#tag/primary-ips).

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Data Center](#tag/data-centers).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Unique name for the [Data Center](#tag/data-centers).


                              May be used as a more descriptive identifier.

                              '
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1-dc8
                          description:
                            description: 'Descriptive name for the [Data Center](#tag/data-centers).


                              Desired to be easy to understand for humans. May change for cosmetic reasons. Must not be used as an identifier.

                              '
                            type: string
                            example: Falkenstein DC Park 8
                          location:
                            description: '[Location](#tag/locations) the [Data Center](#tag/data-centers) is located at.

                              '
                            type: object
                            properties:
                              id:
                                description: ID of the [Location](#tag/locations).
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              name:
                                description: Unique identifier of the [Location](#tag/locations).
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: fsn1
                              description:
                                description: Human readable description of the [Location](#tag/locations).
                                type: string
                                example: Falkenstein DC Park 1
                              country:
                                description: 'Country the [Location](#tag/locations) resides in.


                                  ISO 3166-1 alpha-2 code of the country.

                                  '
                                type: string
                                example: DE
                              city:
                                description: 'Name of the closest city to the [Location](#tag/locations).


                                  City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                  '
                                type: string
                                example: Falkenstein
                              latitude:
                                description: Latitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 50.47612
                              longitude:
                                description: Longitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 12.370071
                              network_zone:
                                description: Name of the Network Zone this [Location](#tag/locations) resides in.
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: eu-central
                            required:
                            - id
                            - name
                            - description
                            - country
                            - city
                            - latitude
                            - longitude
                            - network_zone
                          server_types:
                            deprecated: true
                            description: 'This field is deprecated, as all of it''s properties are deprecated.


                              [Server Types](#tag/server-types) supported and available in this [Data Center](#tag/data-centers).

                              '
                            type: object
                            properties:
                              supported:
                                deprecated: true
                                description: 'This field is deprecated. Use the [Server Type](#tag/server-types) `locations` field instead.


                                  List of [Server Types](#tag/server-types) supported in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) are generally available in this Data Center, but may be

                                  temporarily out of stock.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) currently available in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) can currently be purchased. Types that are temporarily unavailable

                                  but are supported in this [Data Center](#tag/data-centers) are listed as `supported`.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available_for_migration:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) available to migrate to in this [Data Center](#tag/data-centers).


                                  Existing [Servers](#tag/servers) can be migrated to these [Server Types](#tag/server-types).

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                            required:
                            - supported
                            - available
                            - available_for_migration
                        required:
                        - id
                        - name
                        - description
                        - location
                        - server_types
                      location:
                        description: '[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      ip:
                        description: IP address.
                        type: string
                        example: 2001:db8::/64
                      dns_ptr:
                        description: List of reverse DNS records.
                        type: array
                        items:
                          type: object
                          properties:
                            ip:
                              description: 'Single IPv4 or IPv6 address of the record.

                                '
                              type: string
                              example: 2001:db8::1
                            dns_ptr:
                              description: 'Domain Name to point to.


                                PTR record content used for reverse DNS.

                                '
                              type: string
                              example: server.example.com
                          required:
                          - ip
                          - dns_ptr
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      type:
                        description: '[Primary IP](#tag/primary-ips) type.'
                        type: string
                        enum:
                        - ipv4
                        - ipv6
                        example: ipv6
                      auto_delete:
                        description: 'Auto deletion state.


                          If enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.

                          '
                        type: boolean
                        default: false
                        example: true
                      assignee_type:
                        description: 'Type of resource the [Primary IP](#tag/primary-ips) can get assigned to.

                          '
                        type: string
                        enum:
                        - server
                        example: server
                      assignee_id:
                        description: 'ID of resource the [Primary IP](#tag/primary-ips) is assigned to.


                          `null` if the [Primary IP](#tag/primary-ips) is not assigned.

                          '
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 17
                    required:
                    - id
                    - name
                    - labels
                    - created
                    - blocked
                    - location
                    - datacenter
                    - ip
                    - dns_ptr
                    - protection
                    - type
                    - auto_delete
                    - assignee_type
                    - assignee_id
                required:
                - primary_ip
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
[...]
