openapi: 3.2.0
info:
  title: Hetzner Cloud Networks API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Networks
  description: Networks is a private networks feature.
paths:
  /networks:
    get:
      operationId: list_networks
      summary: List Networks
      description: 'List multiple Networks.


        Use the provided URI parameters to modify the result.'
      tags:
      - Networks
      parameters:
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  networks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: ID of the [Network](#tag/networks).
                          type: integer
                          format: int64
                          example: 4711
                        name:
                          description: Name of the [Network](#tag/networks).
                          type: string
                          example: mynet
                        ip_range:
                          description: 'IP range of the [Network](#tag/networks).


                            Uses CIDR notation.

                            '
                          type: string
                          example: 10.0.0.0/16
                        subnets:
                          description: List of subnets allocated in this [Network](#tag/networks).
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                description: 'Type of subnet.

                                  '
                                type: string
                                enum:
                                - cloud
                                - server
                                - vswitch
                                x-enumDescriptions:
                                  cloud: Used to connect cloud [Servers](#tag/servers) and [Load Balancers](#tag/load-balancers).
                                  server: Same as the `cloud` type. **Deprecated**, use the `cloud` type instead.
                                  vswitch: Used to [connect cloud Servers and Load Balancers with dedicated Servers](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch).
                              ip_range:
                                description: 'IP range of the subnet.


                                  Uses CIDR notation.

                                  '
                                type: string
                                example: 10.0.1.0/24
                              network_zone:
                                description: 'Name of the [Network Zone](#tag/network-zones).


                                  The [Location](#tag/locations) contains the `network_zone` property it belongs to.

                                  '
                                type: string
                                example: eu-central
                              gateway:
                                description: 'Gateway for [Servers](#tag/servers) attached to this subnet.


                                  For subnets of type `server` this is always the first IP of the subnets IP range.

                                  '
                                type: string
                                example: 10.0.0.1
                              vswitch_id:
                                description: ID of the robot vSwitch if the subnet is of type `vswitch`.
                                type:
                                - integer
                                - 'null'
                                format: int64
                                example: 1000
                            required:
                            - type
                            - network_zone
                            - gateway
                        routes:
                          description: Array of routes set in this [Network](#tag/networks).
                          type: array
                          items:
                            type: object
                            properties:
                              destination:
                                description: 'Destination network or host of the route.


                                  Packages addressed for IPs matching the destination IP prefix will be send to the specified gateway.


                                  Must be one of

                                  * private IPv4 ranges of RFC1918

                                  * or `0.0.0.0/0`.


                                  Must not overlap with

                                  * an existing ip_range in any subnets

                                  * or with any destinations in other routes

                                  * or with `172.31.1.1`.


                                  `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                  '
                                type: string
                                example: 10.100.1.0/24
                              gateway:
                                description: 'Gateway of the route.


                                  Packages addressed for the specified destination will be send to this IP address.


                                  Cannot be

                                  * the first IP of the networks ip_range,

                                  * an IP behind a vSwitch or

                                  * `172.31.1.1`.


                                  `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                  '
                                type: string
                                example: 10.0.1.1
                            required:
                            - destination
                            - gateway
                        servers:
                          description: Array of IDs of [Servers](#tag/servers) attached to this [Network](#tag/networks).
                          type: array
                          items:
                            type: integer
                            format: int64
                          example:
                          - 42
                        load_balancers:
                          description: Array of IDs of [Load Balancers](#tag/load-balancers) attached to this [Network](#tag/networks).
                          type: array
                          items:
                            type: integer
                            format: int64
                          example:
                          - 42
                        protection:
                          description: Protection configuration for the Resource.
                          type: object
                          properties:
                            delete:
                              description: Prevent the Resource from being deleted.
                              type: boolean
                              example: false
                          required:
                          - delete
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        expose_routes_to_vswitch:
                          description: Indicates if the routes from this [Network](#tag/networks) should be exposed to the vSwitch connection.
                          type: boolean
                          example: false
                      required:
                      - id
                      - name
                      - ip_range
                      - subnets
                      - routes
                      - servers
                      - protection
                      - labels
                      - created
                      - expose_routes_to_vswitch
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - networks
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tnetworks, err := client.Network.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          networks = client.networks.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud network list
    post:
      operationId: create_network
      summary: Create a Network
      description: 'Creates a Network.


        The provided `ip_range` can only be extended later on, but not reduced.


        Subnets can be added now or later on using the add subnet action. If you do not specify an `ip_range` for the subnet the first available /24 range will be used.


        Routes can be added now or later by using the add route action.'
      tags:
      - Networks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: NetworkCreateRequest
              type: object
              properties:
                name:
                  description: Name of the [Network](#tag/networks).
                  type: string
                  example: mynet
                ip_range:
                  example: 10.0.0.0/16
                  description: 'IP range of the [Network](#tag/networks).


                    Uses CIDR notation.


                    Must span all included subnets. Must be one of the private IPv4 ranges of RFC1918.


                    Minimum network size is /24. We highly recommend that you pick a larger [Network](#tag/networks) with a /16 netmask.

                    '
                  type: string
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                subnets:
                  description: Array of subnets to allocate.
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        description: 'Type of subnet.

                          '
                        type: string
                        enum:
                        - cloud
                        - server
                        - vswitch
                        x-enumDescriptions:
                          cloud: Used to connect cloud [Servers](#tag/servers) and [Load Balancers](#tag/load-balancers).
                          server: Same as the `cloud` type. **Deprecated**, use the `cloud` type instead.
                          vswitch: Used to [connect cloud Servers and Load Balancers with dedicated Servers](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch).
                      ip_range:
                        description: 'IP range of the subnet.


                          Uses CIDR notation.


                          Must be a subnet of the parent [Networks](#tag/networks) `ip_range`.


                          Must not overlap with any other subnets or with any destinations in routes.


                          Minimum network size is /30. We highly recommend that you pick a larger subnet with a /24 netmask.

                          '
                        type: string
                        example: 10.0.1.0/24
                      network_zone:
                        description: 'Name of the [Network Zone](#tag/network-zones).


                          The [Location](#tag/locations) contains the `network_zone` property it belongs to.

                          '
                        type: string
                        example: eu-central
                      vswitch_id:
                        description: 'ID of the robot vSwitch.


                          Must only be supplied for subnets of type `vswitch`.

                          '
                        type: integer
                        format: int64
                        example: 1000
                    required:
                    - type
                    - network_zone
                routes:
                  description: Array of routes set in this [Network](#tag/networks).
                  type: array
                  items:
                    type: object
                    properties:
                      destination:
                        description: 'Destination network or host of the route.


                          Packages addressed for IPs matching the destination IP prefix will be send to the specified gateway.


                          Must be one of

                          * private IPv4 ranges of RFC1918

                          * or `0.0.0.0/0`.


                          Must not overlap with

                          * an existing ip_range in any subnets

                          * or with any destinations in other routes

                          * or with `172.31.1.1`.


                          `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                          '
                        type: string
                        example: 10.100.1.0/24
                      gateway:
                        description: 'Gateway of the route.


                          Packages addressed for the specified destination will be send to this IP address.


                          Cannot be

                          * the first IP of the networks ip_range,

                          * an IP behind a vSwitch or

                          * `172.31.1.1`.


                          `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                          '
                        type: string
                        example: 10.0.1.1
                    required:
                    - destination
                    - gateway
                expose_routes_to_vswitch:
                  description: 'Toggle to expose routes to the [Networks](#tag/networks) vSwitch.


                    Indicates if the routes from this [Network](#tag/networks) should be exposed to the vSwitch in this [Network](#tag/networks). Only takes effect if a [vSwitch is setup](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch) in this [Network](#tag/networks).

                    '
                  type: boolean
                  example: false
              required:
              - name
              - ip_range
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  network:
                    type: object
                    properties:
                      id:
                        description: ID of the [Network](#tag/networks).
                        type: integer
                        format: int64
                        example: 4711
                      name:
                        description: Name of the [Network](#tag/networks).
                        type: string
                        example: mynet
                      ip_range:
                        description: 'IP range of the [Network](#tag/networks).


                          Uses CIDR notation.

                          '
                        type: string
                        example: 10.0.0.0/16
                      subnets:
                        description: List of subnets allocated in this [Network](#tag/networks).
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: 'Type of subnet.

                                '
                              type: string
                              enum:
                              - cloud
                              - server
                              - vswitch
                              x-enumDescriptions:
                                cloud: Used to connect cloud [Servers](#tag/servers) and [Load Balancers](#tag/load-balancers).
                                server: Same as the `cloud` type. **Deprecated**, use the `cloud` type instead.
                                vswitch: Used to [connect cloud Servers and Load Balancers with dedicated Servers](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch).
                            ip_range:
                              description: 'IP range of the subnet.


                                Uses CIDR notation.

                                '
                              type: string
                              example: 10.0.1.0/24
                            network_zone:
                              description: 'Name of the [Network Zone](#tag/network-zones).


                                The [Location](#tag/locations) contains the `network_zone` property it belongs to.

                                '
                              type: string
                              example: eu-central
                            gateway:
                              description: 'Gateway for [Servers](#tag/servers) attached to this subnet.


                                For subnets of type `server` this is always the first IP of the subnets IP range.

                                '
                              type: string
                              example: 10.0.0.1
                            vswitch_id:
                              description: ID of the robot vSwitch if the subnet is of type `vswitch`.
                              type:
                              - integer
                              - 'null'
                              format: int64
                              example: 1000
                          required:
                          - type
                          - network_zone
                          - gateway
                      routes:
                        description: Array of routes set in this [Network](#tag/networks).
                        type: array
                        items:
                          type: object
                          properties:
                            destination:
                              description: 'Destination network or host of the route.


                                Packages addressed for IPs matching the destination IP prefix will be send to the specified gateway.


                                Must be one of

                                * private IPv4 ranges of RFC1918

                                * or `0.0.0.0/0`.


                                Must not overlap with

                                * an existing ip_range in any subnets

                                * or with any destinations in other routes

                                * or with `172.31.1.1`.


                                `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                '
                              type: string
                              example: 10.100.1.0/24
                            gateway:
                              description: 'Gateway of the route.


                                Packages addressed for the specified destination will be send to this IP address.


                                Cannot be

                                * the first IP of the networks ip_range,

                                * an IP behind a vSwitch or

                                * `172.31.1.1`.


                                `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                '
                              type: string
                              example: 10.0.1.1
                          required:
                          - destination
                          - gateway
                      servers:
                        description: Array of IDs of [Servers](#tag/servers) attached to this [Network](#tag/networks).
                        type: array
                        items:
                          type: integer
                          format: int64
                        example:
                        - 42
                      load_balancers:
                        description: Array of IDs of [Load Balancers](#tag/load-balancers) attached to this [Network](#tag/networks).
                        type: array
                        items:
                          type: integer
                          format: int64
                        example:
                        - 42
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      expose_routes_to_vswitch:
                        description: Indicates if the routes from this [Network](#tag/networks) should be exposed to the vSwitch connection.
                        type: boolean
                        example: false
                    required:
                    - id
                    - name
                    - ip_range
                    - subnets
                    - routes
                    - servers
                    - protection
                    - labels
                    - created
                    - expose_routes_to_vswitch
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"net\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tnetwork, _, err := client.Network.Create(ctx, hcloud.NetworkCreateOpts{\n\t\tExposeRoutesToVSwitch: false,\n\t\tIPRange: &net.IPNet{\n\t\t\tIP:   net.ParseIP(\"10.0.0.0\"),\n\t\t\tMask: net.CIDRMask(16, 32),\n\t\t},\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName: \"mynet\",\n\t\tRoutes: []hcloud.NetworkRoute{\n\t\t\t{\n\t\t\t\tDestination: &net.IPNet{\n\t\t\t\t\tIP:   net.ParseIP(\"10.100.1.0\"),\n\t\t\t\t\tMask: net.CIDRMask(24, 32),\n\t\t\t\t},\n\t\t\t\tGateway: net.ParseIP(\"10.0.1.1\"),\n\t\t\t},\n\t\t},\n\t\tSubnets: []hcloud.NetworkSubnet{\n\t\t\t{\n\t\t\t\tIPRange: &net.IPNet{\n\t\t\t\t\tIP:   net.ParseIP(\"10.0.1.0\"),\n\t\t\t\t\tMask: net.CIDRMask(24, 32),\n\t\t\t\t},\n\t\t\t\tNetworkZone: hcloud.NetworkZoneEUCentral,\n\t\t\t\tType:        hcloud.NetworkSubnetTypeCloud,\n\t\t\t\tVSwitchID:   1000,\n\t\t\t},\n\t\t},\n\t})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.networks import NetworkRoute, NetworkSubnet\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nnetwork = client.networks.create(\n    expose_routes_to_vswitch=False,\n    ip_range=\"10.0.0.0/16\",\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"mynet\",\n    routes=[\n        NetworkRoute(\n            destination=\"10.100.1.0/24\",\n            gateway=\"10.0.1.1\",\n        )\n    ],\n    subnets=[\n        NetworkSubnet(\n            ip_range=\"10.0.1.0/24\",\n            network_zone=\"eu-central\",\n            type=\"cloud\",\n            vswitch_id=1000,\n        )\n    ],\n)"
      - lang: Shell
        label: CLI
        source: "hcloud network create \\\n    --expose-routes-to-vswitch=false \\\n    --ip-range 10.0.0.0/16 \\\n    --label \"environment=prod\" \\\n    --label \"example.com/my=label\" \\\n    --label \"just-a-key=\" \\\n    --name mynet\n\nhcloud network add-route mynet \\\n    --destination 10.100.1.0/24 \\\n    --gateway 10.0.1.1\n\nhcloud network add-subnet mynet \\\n    --ip-range 10.0.1.0/24 \\\n    --network-zone eu-central \\\n    --type cloud \\\n    --vswitch-id 1000"
  /networks/{id}:
    get:
      operationId: get_network
      summary: Get a Network
      description: Get a specific Network.
      tags:
      - Networks
      parameters:
      - description: ID of the Network.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Network](#tag/networks).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  network:
                    type: object
                    properties:
                      id:
                        description: ID of the [Network](#tag/networks).
                        type: integer
                        format: int64
                        example: 4711
                      name:
                        description: Name of the [Network](#tag/networks).
                        type: string
                        example: mynet
                      ip_range:
                        description: 'IP range of the [Network](#tag/networks).


                          Uses CIDR notation.

                          '
                        type: string
                        example: 10.0.0.0/16
                      subnets:
                        description: List of subnets allocated in this [Network](#tag/networks).
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: 'Type of subnet.

                                '
                              type: string
                              enum:
                              - cloud
                              - server
                              - vswitch
                              x-enumDescriptions:
                                cloud: Used to connect cloud [Servers](#tag/servers) and [Load Balancers](#tag/load-balancers).
                                server: Same as the `cloud` type. **Deprecated**, use the `cloud` type instead.
                                vswitch: Used to [connect cloud Servers and Load Balancers with dedicated Servers](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch).
                            ip_range:
                              description: 'IP range of the subnet.


                                Uses CIDR notation.

                                '
                              type: string
                              example: 10.0.1.0/24
                            network_zone:
                              description: 'Name of the [Network Zone](#tag/network-zones).


                                The [Location](#tag/locations) contains the `network_zone` property it belongs to.

                                '
                              type: string
                              example: eu-central
                            gateway:
                              description: 'Gateway for [Servers](#tag/servers) attached to this subnet.


                                For subnets of type `server` this is always the first IP of the subnets IP range.

                                '
                              type: string
                              example: 10.0.0.1
                            vswitch_id:
                              description: ID of the robot vSwitch if the subnet is of type `vswitch`.
                              type:
                              - integer
                              - 'null'
                              format: int64
                              example: 1000
                          required:
                          - type
                          - network_zone
                          - gateway
                      routes:
                        description: Array of routes set in this [Network](#tag/networks).
                        type: array
                        items:
                          type: object
                          properties:
                            destination:
                              description: 'Destination network or host of the route.


                                Packages addressed for IPs matching the destination IP prefix will be send to the specified gateway.


                                Must be one of

                                * private IPv4 ranges of RFC1918

                                * or `0.0.0.0/0`.


                                Must not overlap with

                                * an existing ip_range in any subnets

                                * or with any destinations in other routes

                                * or with `172.31.1.1`.


                                `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                '
                              type: string
                              example: 10.100.1.0/24
                            gateway:
                              description: 'Gateway of the route.


                                Packages addressed for the specified destination will be send to this IP address.


                                Cannot be

                                * the first IP of the networks ip_range,

                                * an IP behind a vSwitch or

                                * `172.31.1.1`.


                                `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                '
                              type: string
                              example: 10.0.1.1
                          required:
                          - destination
                          - gateway
                      servers:
                        description: Array of IDs of [Servers](#tag/servers) attached to this [Network](#tag/networks).
                        type: array
                        items:
                          type: integer
                          format: int64
                        example:
                        - 42
                      load_balancers:
                        description: Array of IDs of [Load Balancers](#tag/load-balancers) attached to this [Network](#tag/networks).
                        type: array
                        items:
                          type: integer
                          format: int64
                        example:
                        - 42
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      expose_routes_to_vswitch:
                        description: Indicates if the routes from this [Network](#tag/networks) should be exposed to the vSwitch connection.
                        type: boolean
                        example: false
                    required:
                    - id
                    - name
                    - ip_range
                    - subnets
                    - routes
                    - servers
                    - protection
                    - labels
                    - created
                    - expose_routes_to_vswitch
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tnetwork, _, err := client.Network.GetByID(ctx, 123)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          network = client.networks.get_by_id(123)'
      - lang: Shell
        label: CLI
        source: hcloud network describe $NETWORK
    put:
      operationId: update_network
      summary: Update a Network
      description: 'Update a Network.


        If a change is currently being performed on this Network, a error response with code `conflict` will be returned.'
      tags:
      - Networks
      parameters:
      - description: ID of the Network.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Network](#tag/networks).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: NetworkUpdateRequest
              type: object
              properties:
                name:
                  description: New [Network](#tag/networks) name.
                  type: string
                  example: new-name
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.


                    Note that the set of [Labels](#description/labels) provided in the request will overwrite the

                    existing one.


                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                expose_routes_to_vswitch:
                  description: 'Toggle to expose routes to the [Networks](#tag/networks) vSwitch.


                    Indicates if the routes from this [Network](#tag/networks) should be exposed to the vSwitch in this [Network](#tag/networks). Only takes effect if a [vSwitch is setup](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch) in this [Network](#tag/networks).

                    '
                  type: boolean
                  example: false
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  network:
                    type: object
                    properties:
                      id:
                        description: ID of the [Network](#tag/networks).
                        type: integer
                        format: int64
                        example: 4711
                      name:
                        description: Name of the [Network](#tag/networks).
                        type: string
                        example: mynet
                      ip_range:
                        description: 'IP range of the [Network](#tag/networks).


                          Uses CIDR notation.

                          '
                        type: string
                        example: 10.0.0.0/16
                      subnets:
                        description: List of subnets allocated in this [Network](#tag/networks).
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: 'Type of subnet.

                                '
                              type: string
                              enum:
                              - cloud
                              - server
                              - vswitch
                              x-enumDescriptions:
                                cloud: Used to connect cloud [Servers](#tag/servers) and [Load Balancers](#tag/load-balancers).
                                server: Same as the `cloud` type. **Deprecated**, use the `cloud` type instead.
                                vswitch: Used to [connect cloud Servers and Load Balancers with dedicated Servers](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch).
                            ip_range:
                              description: 'IP range of the subnet.


                                Uses CIDR notation.

                                '
                              type: string
                              example: 10.0.1.0/24
                            network_zone:
                              description: 'Name of the [Network Zone](#tag/network-zones).


                                The [Location](#tag/locations) contains the `network_zone` property it belongs to.

                                '
                              type: string
                              example: eu-central
                            gateway:
                              description: 'Gateway for [Servers](#tag/servers) attached to this subnet.


                                For subnets of type `server` this is always the first IP of the subnets IP range.

                                '
                              type: string
                              example: 10.0.0.1
                            vswitch_id:
                              description: ID of the robot vSwitch if the subnet is of type `vswitch`.
                              type:
                              - integer
                              - 'null'
                              format: int64
                              example: 1000
                          required:
                          - type
                          - network_zone
                          - gateway
                      routes:
                        description: Array of routes set in this [Network](#tag/networks).
                        type: array
                        items:
                          type: object
                          properties:
                            destination:
                              description: 'Destination network or host of the route.


                                Packages addressed for IPs matching the destination IP prefix will be send to the specified gateway.


                                Must be one of

                                * private IPv4 ranges of RFC1918

                                * or `0.0.0.0/0`.


                                Must not overlap with

                                * an existing ip_range in any subnets

                                * or with any destinations in other routes

                                * or with `172.31.1.1`.


                                `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                '
                              type: string
                              example: 10.100.1.0/24
                            gateway:
                              description: 'Gateway of the route.


                                Packages addressed for the specified destination will be send to this IP address.


                                Cannot be

                                * the first IP of the networks ip_range,

                                * an IP behind a vSwitch or

                                * `172.31.1.1`.


                                `172.31.1.1` is being used as a gateway for the public network interface of [Servers](#tag/servers).

                                '
                              type: string
                              example: 10.0.1.1
                          required:
                          - destination
                          - gateway
                      servers:
                        description: Array of IDs of [Servers](#tag/servers) attached to this [Network](#tag/networks).
                        type: array
                        items:
                          type: integer
                          format: int64
                        example:
                        - 42
                      load_balancers:
                        description: Array of IDs of [Load Balancers](#tag/load-balancers) attached to this [Network](#tag/networks).
                        type: array
                        items:
                          type: integer
                          format: int64
                        example:
                        - 42
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      expose_routes_to_vswitch:
                        description: Indicates if the routes from this [Network](#tag/networks) should be exposed to the vSwitch connection.
                        type: boolean
                        example: false
                    required:
                    - id
                    - name
                    - ip_range
                    - subnets
                    - routes
                    - servers
                    - protection
                    - labels
                    - created
                    - expose_routes_to_vswitch
              examples:
                default:
                  value:
                    network:
                      id: 4711
                      name: new-name
                      ip_range: 10.0.0.0/16
                      subnets:
                      - type: cloud
                        ip_range: 10.0.1.0/24
                        network_zone: eu-central
                        gateway: 10.0.0.1
                      routes:
                      - destination: 10.100.1.0/24
                        gateway: 10.0.1.1
                      servers:
                      - 42
                      load_balancers:
                      - 42
                      protection:
                        delete: false
                      labels:
                        key: value
                      created: '2016-01-30T23:50:00Z'
                      expose_routes_to_vswitch: true
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tnetwork, _, err := client.Network.Update(ctx, &hcloud.Network{ID: 123}, hcloud.NetworkUpdateOpts{\n\t\tExposeRoutesToVSwitch: hcloud.Ptr(false),\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName: \"new-name\",\n\t})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.networks import Network\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nnetwork = client.networks.update(\n    network=Network(id=123),\n    expose_routes_to_vswitch=False,\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"new-name\",\n)"
      - lang: Shell
        label: CLI
        source: "hcloud network update $NETWORK --name new-name\nhcloud network expose-routes-to-vswitch --disable $NETWORK\nhcloud network add-label --overwrite $NETWORK \\\n    \"environment=prod\" \"example.com/my=label\" \"just-a-key=\"\nhcloud network remove-label $NETWORK \\\n    \"environment\" \"example.com\" \"just-a-key\""
    delete:
      operationId: delete_network
      summary: Delete a Network
      description: 'Deletes a Network.


        Attached resources will be detached automatically.'
      tags:
      - Networks
      parameters:
      - description: ID of the Network.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Network](#tag/networks).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '204':
          description: Request succeeded.
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\t_, err := client.Network.Delete(ctx, &hcloud.Network{ID: 123})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.networks import Network\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nclient.networks.delete(\n    network=Network(id=123),\n)"
      - lang: Shell
        label: CLI
        source: hcloud network delete $NETWORK
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
