openapi: 3.2.0
info:
  title: Hetzner Cloud Server Actions API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Server Actions
paths:
  /servers/actions:
    get:
      operationId: list_servers_actions
      summary: List Actions
      description: Returns all Action objects. You can `sort` the results by using the sort URI parameter, and filter them with the `status` and `id` parameter.
      tags:
      - Server Actions
      parameters:
      - description: 'Filter the actions by ID. May be used multiple times.


          The response will only contain actions matching the specified IDs.

          '
        name: id
        in: query
        required: false
        schema:
          type: array
          items:
            description: ID of the [Action](#description/actions).
            type: integer
            format: int64
            minimum: 1
            maximum: 9007199254740991
            example: 42
      - description: 'Sort actions by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - command
            - command:asc
            - command:desc
            - status
            - status:asc
            - status:desc
            - started
            - started:asc
            - started:desc
            - finished
            - finished:asc
            - finished:desc
      - description: 'Filter the actions by status. May be used multiple times.


          The response will only contain actions matching the specified statuses.

          '
        name: status
        in: query
        required: false
        schema:
          type: array
          items:
            description: Status of the Action.
            type: string
            enum:
            - running
            - success
            - error
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionListResponseWithMeta
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      title: Action
                      type: object
                      properties:
                        id:
                          description: ID of the [Action](#description/actions).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        command:
                          description: Command executed in the Action.
                          type: string
                          example: start_resource
                        status:
                          description: Status of the Action.
                          type: string
                          enum:
                          - running
                          - success
                          - error
                        started:
                          description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        finished:
                          description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        progress:
                          description: Progress of the Action in percent.
                          type: integer
                          format: int32
                          example: 100
                        resources:
                          description: Resources the Action relates to.
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                description: ID of the Resource.
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              type:
                                description: Type of the Resource.
                                type: string
                                example: server
                            required:
                            - id
                            - type
                        error:
                          description: Error message for the Action if an error occurred, otherwise null.
                          type:
                          - object
                          - 'null'
                          properties:
                            code:
                              description: Fixed error code for machines.
                              type: string
                              example: action_failed
                            message:
                              description: Error message for humans.
                              type: string
                              example: Action failed
                          required:
                          - code
                          - message
                      required:
                      - id
                      - command
                      - status
                      - progress
                      - started
                      - finished
                      - resources
                      - error
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - actions
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tactions, err := client.Server.Action.All(ctx, hcloud.ActionListOpts{})\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          actions = client.servers.actions.get_all()'
  /servers/actions/{id}:
    get:
      operationId: get_servers_action
      summary: Get an Action
      description: Returns a specific Action object.
      tags:
      - Server Actions
      parameters:
      - description: ID of the Action.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Action](#description/actions).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Server.Action.GetByID(ctx, 123)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          action = client.servers.actions.get_by_id(123)'
  /servers/{id}/actions:
    get:
      operationId: list_server_actions
      summary: List Actions for a Server
      description: Returns all Action objects for a Server. You can `sort` the results by using the sort URI parameter, and filter them with the `status` parameter.
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      - description: 'Sort actions by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - command
            - command:asc
            - command:desc
            - status
            - status:asc
            - status:desc
            - started
            - started:asc
            - started:desc
            - finished
            - finished:asc
            - finished:desc
      - description: 'Filter the actions by status. May be used multiple times.


          The response will only contain actions matching the specified statuses.

          '
        name: status
        in: query
        required: false
        schema:
          type: array
          items:
            description: Status of the Action.
            type: string
            enum:
            - running
            - success
            - error
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionListResponseWithMeta
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      title: Action
                      type: object
                      properties:
                        id:
                          description: ID of the [Action](#description/actions).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        command:
                          description: Command executed in the Action.
                          type: string
                          example: start_resource
                        status:
                          description: Status of the Action.
                          type: string
                          enum:
                          - running
                          - success
                          - error
                        started:
                          description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        finished:
                          description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        progress:
                          description: Progress of the Action in percent.
                          type: integer
                          format: int32
                          example: 100
                        resources:
                          description: Resources the Action relates to.
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                description: ID of the Resource.
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              type:
                                description: Type of the Resource.
                                type: string
                                example: server
                            required:
                            - id
                            - type
                        error:
                          description: Error message for the Action if an error occurred, otherwise null.
                          type:
                          - object
                          - 'null'
                          properties:
                            code:
                              description: Fixed error code for machines.
                              type: string
                              example: action_failed
                            message:
                              description: Error message for humans.
                              type: string
                              example: Action failed
                          required:
                          - code
                          - message
                      required:
                      - id
                      - command
                      - status
                      - progress
                      - started
                      - finished
                      - resources
                      - error
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - actions
                - meta
              examples:
                default:
                  value:
                    actions:
                    - id: 13
                      command: start_server
                      status: success
                      progress: 100
                      started: '2016-01-30T23:55:00Z'
                      finished: '2016-01-30T23:56:00Z'
                      resources:
                      - id: 42
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
                    meta:
                      pagination:
                        page: 1
                        per_page: 25
                        previous_page: null
                        next_page: null
                        last_page: 1
                        total_entries: 21
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
  /servers/{id}/actions/add_to_placement_group:
    post:
      operationId: add_server_to_placement_group
      summary: Add a Server to a Placement Group
      description: 'Adds a Server to a Placement Group.


        Server must be powered off for this command to succeed.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `server_not_stopped` | The action requires a stopped server |

        | `422` | `already_in_placement_group` | The server is already part of a placement group |'
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: AddToPlacementGroupRequest
              type: object
              properties:
                placement_group:
                  description: ID of Placement Group the Server should be added to.
                  type: integer
                  format: int64
                  example: 1
              required:
              - placement_group
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 13
                      command: add_to_placement_group
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Server.AddToPlacementGroup(ctx, &hcloud.Server{ID: 123}, &hcloud.PlacementGroup{ID: 1})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.placement_groups import PlacementGroup\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.servers.add_to_placement_group(\n    server=Server(id=123), placement_group=PlacementGroup(id=1)\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: hcloud server add-to-placement-group --placement-group 1 $SERVER
  /servers/{id}/actions/attach_iso:
    post:
      operationId: attach_server_iso
      summary: Attach an ISO to a Server
      description: 'Attaches an ISO to a Server. The Server will immediately see it as a new disk. An already attached ISO will automatically be detached before the new ISO is attached.


        Servers with attached ISOs have a modified boot order: They will try to boot from the ISO first before falling back to hard disk.'
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                iso:
                  description: ID or name of ISO to attach to the Server as listed in GET `/isos`.
                  type: string
                  example: FreeBSD-11.0-RELEASE-amd64-dvd1
              required:
              - iso
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 13
                      command: attach_iso
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Server.AttachISO(ctx, &hcloud.Server{ID: 123}, &hcloud.ISO{\n\t\tName: \"FreeBSD-11.0-RELEASE-amd64-dvd1\",\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.isos import Iso\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.servers.attach_iso(\n    server=Server(id=123), iso=Iso(name=\"FreeBSD-11.0-RELEASE-amd64-dvd1\")\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: hcloud server attach-iso $SERVER "FreeBSD-11.0-RELEASE-amd64-dvd1"
  /servers/{id}/actions/attach_to_network:
    post:
      operationId: attach_server_to_network
      summary: Attach a Server to a Network
      description: 'Attaches a Server to a network. This will complement the fixed public Server interface by adding an additional ethernet interface to the Server which is connected to the specified network.


        The Server will get an IP auto assigned from a subnet of type `server` in the same `network_zone`.


        Using the `alias_ips` attribute you can also define one or more additional IPs to the Servers. Please note that you will have to configure these IPs by hand on your Server since only the primary IP will be given out by DHCP.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `server_already_attached` | The server is already attached to the network |

        | `422` | `ip_not_available` | The provided Network IP is not available |

        | `422` | `no_subnet_available` | No Subnet or IP is available for the Server within the network |

        | `422` | `networks_overlap` | The network IP range overlaps with one of the server networks |'
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: AttachToNetworkRequest
              type: object
              properties:
                network:
                  description: ID of an existing network to attach the Server to.
                  type: integer
                  format: int64
                  example: 4711
                ip:
                  description: IP to request to be assigned to this Server; if you do not provide this then you will be auto assigned an IP address.
                  type: string
                  example: 10.0.1.1
                alias_ips:
                  description: Additional IPs to be assigned to this Server.
                  type: array
                  items:
                    type: string
                  example:
                  - 10.0.1.2
                ip_range:
                  description: 'IP range in CIDR block notation of the subnet to attach to.


                    This allows for auto assigning an IP address for a specific subnet.

                    Providing `ip` that is not part of `ip_range` will result in an error.

                    '
                  type: string
                  example: 10.0.1.0/24
              required:
              - network
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 13
                      command: attach_to_network
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      - id: 4711
                        type: network
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"net\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Server.AttachToNetwork(ctx, &hcloud.Server{ID: 123}, hcloud.ServerAttachToNetworkOpts{\n\t\tAliasIPs: []net.IP{\n\t\t\tnet.ParseIP(\"10.0.1.2\"),\n\t\t},\n\t\tIP: net.ParseIP(\"10.0.1.1\"),\n\t\tNetwork: &hcloud.Network{\n\t\t\tID: 4711,\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.networks import Network\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.servers.attach_to_network(\n    server=Server(id=123),\n    alias_ips=[\"10.0.1.2\"],\n    ip=\"10.0.1.1\",\n    network=Network(id=4711),\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: "hcloud server attach-to-network $SERVER \\\n    --alias-ips 10.0.1.2 \\\n    --ip 10.0.1.1 \\\n    --network 4711"
  /servers/{id}/actions/change_alias_ips:
    post:
      operationId: change_server_alias_ips
      summary: Change alias IPs of a Network
      description: Changes the alias IPs of an already attached Network. Note that the existing aliases for the specified Network will be replaced with these provided in the request body. So if you want to add an alias IP, you have to provide the existing ones from the Network plus the new alias IP in the request body.
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                network:
                  description: ID of an existing Network already attached to the Server.
                  type: integer
                  format: int64
                  example: 4711
                alias_ips:
                  description: New alias IPs to set for this Server.
                  type: array
                  items:
                    type: string
                  example:
                  - 10.0.1.2
              required:
              - network
              - alias_ips
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 13
                      command: change_alias_ips
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      - id: 4711
                        type: network
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"net\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Server.ChangeAliasIPs(ctx, &hcloud.Server{ID: 123}, hcloud.ServerChangeAliasIPsOpts{\n\t\tAliasIPs: []net.IP{\n\t\t\tnet.ParseIP(\"10.0.1.2\"),\n\t\t},\n\t\tNetwork: &hcloud.Network{\n\t\t\tID: 4711,\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.networks import Network\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.servers.change_alias_ips(\n    server=Server(id=123),\n    alias_ips=[\"10.0.1.2\"],\n    network=Network(id=4711),\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: "hcloud server change-alias-ips $SERVER \\\n    --alias-ips 10.0.1.2 \\\n    --network 4711"
  /servers/{id}/actions/change_dns_ptr:
    post:
      operationId: change_server_dns_ptr
      summary: Change reverse DNS entry for this Server
      description: 'Changes the hostname that will appear when getting the hostname belonging to the primary IPs (IPv4 and IPv6) of this Server.


        Floating IPs assigned to the Server are not affected by this.'
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        description: Select the IP address for which to change the DNS entry by passing `ip`. It can be either IPv4 or IPv6. The target hostname is set by passing `dns_ptr`, which must be a fully qualified domain name (FQDN) without trailing dot.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  description: 'Single IPv4 or IPv6 address to create pointer for.

                    '
                  type: string
                  example: 2001:db8::1
                dns_ptr:
                  description: 'Domain Name to point to.


                    PTR record content used for reverse DNS. Set to null to reset (IPv4) to the default value or remove (IPv6) the record.

                    '
                  type:
                  - string
                  - 'null'
                  example: server.example.com
              required:
              - ip
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 13
                      command: change_dns_ptr
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Server.ChangeDNSPtr(ctx, &hcloud.Server{ID: 123}, \"1.2.3.4\", hcloud.Ptr(\"server01.example.com\"))\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.servers.change_dns_ptr(\n    server=Server(id=123), dns_ptr=\"server01.example.com\", ip=\"1.2.3.4\"\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: "hcloud server set-rdns $SERVER \\\n    --ip 1.2.3.4 \\\n    --hostname server01.example.com"
  /servers/{id}/actions/change_protection:
    post:
      operationId: change_server_protection
      summary: Change Server Protection
      description: Changes the protection configuration of the Server.
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delete:
                  description: If true, prevents the Server from being deleted (currently delete and rebuild attribute needs to have the same value).
                  type: boolean
                  example: true
                rebuild:
                  description: If true, prevents the Server from being rebuilt (currently delete and rebuild attribute needs to have the same value).
                  type: boolean
                  example: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 13
                      command: change_protection
                      status: success
                      progress: 100
                      started: '2016-01-30T23:55:00Z'
                      finished: '2016-01-30T23:56:00Z'
                      resources:
                      - id: 42
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\taction, _, err := client.Server.ChangeProtection(ctx, &hcloud.Server{ID: 123}, hcloud.ServerChangeProtectionOpts{\n\t\tDelete:  hcloud.Ptr(true),\n\t\tRebuild: hcloud.Ptr(true),\n\t})\n\n\terr = client.Action.WaitFor(ctx, action)\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\naction = client.servers.change_dns_ptr(\n    server=Server(id=123), dns_ptr=\"server01.example.com\", ip=\"1.2.3.4\"\n)\n\naction.wait_until_finished()"
      - lang: Shell
        label: CLI
        source: 'hcloud server enable-protection $SERVER delete rebuild

          hcloud server disable-protection $SERVER delete rebuild'
  /servers/{id}/actions/change_type:
    post:
      operationId: change_server_type
      summary: Change the Type of a Server
      description: 'Changes the type (Cores, RAM and disk sizes) of a Server.


        Server must be powered off for this command to succeed.


        This copies the content of its disk, and starts it again.


        You can only migrate to Server types with the same `storage_type` and equal or bigger disks. Shrinking disks is not possible as it might destroy data.


        If the disk gets upgraded, the Server type can not be downgraded any more. If you plan to downgrade the Server type, set `upgrade_disk` to `false`.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `invalid_server_type` | The server type does not fit for the given server or is deprecated |

        | `422` | `server_not_stopped` | The action requires a stopped server |'
      tags:
      - Server Actions
      parameters:
      - description: ID of the Server.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Server](#tag/servers).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade_disk:
                  description: If false, do not upgrade the disk (this allows downgrading the Server type later).
                  type: boolean
                  example: true
                server_type:
                  description: ID or name of Server type the Server should migrate to.
                  type: string
                  example: cpx22
              required:
              - upgrade_disk
              - server_type
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: ActionResponse
                description: 'Response for a created [Action](#description/actions).


                  Make sure to wait for the [Action](#description/actions) completion to ensure your changes are applied.

                  '
                type: object
                properties:
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - action
              examples:
                default:
                  value:
                    action:
                      id: 13
                      command: change_server_type
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
[...]
