openapi: 3.2.0
info:
  title: Hetzner Cloud Floating IPs API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Floating IPs
  description: Floating IPs help you to create highly available setups.
paths:
  /floating_ips:
    get:
      operationId: list_floating_ips
      summary: List Floating IPs
      description: 'List multiple Floating IPs.


        Use the provided URI parameters to modify the result.'
      tags:
      - Floating IPs
      parameters:
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - created
            - created:asc
            - created:desc
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  floating_ips:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: ID of the [Floating IP](#tag/floating-ips).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        name:
                          description: Name of the Resource. Must be unique per Project.
                          type: string
                          example: my-resource
                        description:
                          description: Description of the Resource.
                          type:
                          - string
                          - 'null'
                          example: This describes my resource
                        ip:
                          description: IP address.
                          type: string
                          example: 2001:db8::/64
                        type:
                          description: The Floating IP type.
                          type: string
                          enum:
                          - ipv4
                          - ipv6
                          example: ipv6
                        server:
                          description: '[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.


                            `null` if not assigned.

                            '
                          type:
                          - integer
                          - 'null'
                          format: int64
                          example: 42
                        dns_ptr:
                          description: 'List of reverse DNS entries for the [Floating IP](#tag/floating-ips).

                            '
                          type: array
                          items:
                            type: object
                            properties:
                              ip:
                                description: 'Single IPv4 or IPv6 address of the record.

                                  '
                                type: string
                                example: 2001:db8::1
                              dns_ptr:
                                description: 'Domain Name to point to.


                                  PTR record content used for reverse DNS.

                                  '
                                type: string
                                example: server.example.com
                            required:
                            - ip
                            - dns_ptr
                        home_location:
                          type: object
                          properties:
                            id:
                              description: ID of the [Location](#tag/locations).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: Unique identifier of the [Location](#tag/locations).
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: fsn1
                            description:
                              description: Human readable description of the [Location](#tag/locations).
                              type: string
                              example: Falkenstein DC Park 1
                            country:
                              description: 'Country the [Location](#tag/locations) resides in.


                                ISO 3166-1 alpha-2 code of the country.

                                '
                              type: string
                              example: DE
                            city:
                              description: 'Name of the closest city to the [Location](#tag/locations).


                                City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                '
                              type: string
                              example: Falkenstein
                            latitude:
                              description: Latitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 50.47612
                            longitude:
                              description: Longitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 12.370071
                            network_zone:
                              description: Name of the Network Zone this [Location](#tag/locations) resides in.
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: eu-central
                          required:
                          - id
                          - name
                          - description
                          - country
                          - city
                          - latitude
                          - longitude
                          - network_zone
                        blocked:
                          description: Indicates whether the [Floating IP](#tag/floating-ips) is blocked.
                          type: boolean
                          example: false
                        protection:
                          description: Protection configuration for the Resource.
                          type: object
                          properties:
                            delete:
                              description: Prevent the Resource from being deleted.
                              type: boolean
                              example: false
                          required:
                          - delete
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                      required:
                      - id
                      - name
                      - description
                      - ip
                      - type
                      - server
                      - dns_ptr
                      - home_location
                      - blocked
                      - protection
                      - labels
                      - created
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - floating_ips
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tfloatingIPs, err := client.FloatingIP.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          floating_ips = client.floating_ips.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud floating-ip list
    post:
      operationId: create_floating_ip
      summary: Create a Floating IP
      description: 'Create a Floating IP.


        Provide the `server` attribute to assign the Floating IP to that server or provide a `home_location` to locate the Floating IP at. Note that the Floating IP can be assigned to a Server in any Location later on. For optimal routing it is advised to use the Floating IP in the same Location it was created in.'
      tags:
      - Floating IPs
      requestBody:
        description: The `type` argument is required while `home_location` and `server` are mutually exclusive.
        required: true
        content:
          application/json:
            schema:
              title: FloatingIPCreateRequest
              type: object
              properties:
                type:
                  description: The Floating IP type.
                  type: string
                  enum:
                  - ipv4
                  - ipv6
                  example: ipv6
                server:
                  description: '[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.


                    `null` if not assigned.

                    '
                  type:
                  - integer
                  - 'null'
                  format: int64
                  example: 42
                home_location:
                  description: 'Home [Location](#tag/locations) for the [Floating IP](#tag/floating-ips).


                    Either the ID or the name of the [Location](#tag/locations).


                    Only optional if no [Server](#tag/servers) is provided. Routing is optimized for this [Locations](#tag/locations).

                    '
                  oneOf:
                  - description: 'Home [Location](#tag/locations) for the [Floating IP](#tag/floating-ips).


                      Either the ID or the name of the [Location](#tag/locations).


                      Only optional if no [Server](#tag/servers) is provided. Routing is optimized for this [Locations](#tag/locations).

                      '
                    type: string
                    example: fsn1
                  - description: 'Home [Location](#tag/locations) for the [Floating IP](#tag/floating-ips).


                      Either the ID or the name of the [Location](#tag/locations).


                      Only optional if no [Server](#tag/servers) is provided. Routing is optimized for this [Locations](#tag/locations).

                      '
                    type: integer
                    format: int64
                    minimum: 1
                    maximum: 9007199254740991
                    example: 42
                description:
                  description: Description of the Resource.
                  type:
                  - string
                  - 'null'
                  example: This describes my resource
                name:
                  description: Name of the Resource. Must be unique per Project.
                  type: string
                  example: my-resource
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
              required:
              - type
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  floating_ip:
                    type: object
                    properties:
                      id:
                        description: ID of the [Floating IP](#tag/floating-ips).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      description:
                        description: Description of the Resource.
                        type:
                        - string
                        - 'null'
                        example: This describes my resource
                      ip:
                        description: IP address.
                        type: string
                        example: 2001:db8::/64
                      type:
                        description: The Floating IP type.
                        type: string
                        enum:
                        - ipv4
                        - ipv6
                        example: ipv6
                      server:
                        description: '[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.


                          `null` if not assigned.

                          '
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 42
                      dns_ptr:
                        description: 'List of reverse DNS entries for the [Floating IP](#tag/floating-ips).

                          '
                        type: array
                        items:
                          type: object
                          properties:
                            ip:
                              description: 'Single IPv4 or IPv6 address of the record.

                                '
                              type: string
                              example: 2001:db8::1
                            dns_ptr:
                              description: 'Domain Name to point to.


                                PTR record content used for reverse DNS.

                                '
                              type: string
                              example: server.example.com
                          required:
                          - ip
                          - dns_ptr
                      home_location:
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      blocked:
                        description: Indicates whether the [Floating IP](#tag/floating-ips) is blocked.
                        type: boolean
                        example: false
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                    required:
                    - id
                    - name
                    - description
                    - ip
                    - type
                    - server
                    - dns_ptr
                    - home_location
                    - blocked
                    - protection
                    - labels
                    - created
                  action:
                    title: Action
                    type: object
                    properties:
                      id:
                        description: ID of the [Action](#description/actions).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      command:
                        description: Command executed in the Action.
                        type: string
                        example: start_resource
                      status:
                        description: Status of the Action.
                        type: string
                        enum:
                        - running
                        - success
                        - error
                      started:
                        description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      finished:
                        description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      progress:
                        description: Progress of the Action in percent.
                        type: integer
                        format: int32
                        example: 100
                      resources:
                        description: Resources the Action relates to.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: ID of the Resource.
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Resource.
                              type: string
                              example: server
                          required:
                          - id
                          - type
                      error:
                        description: Error message for the Action if an error occurred, otherwise null.
                        type:
                        - object
                        - 'null'
                        properties:
                          code:
                            description: Fixed error code for machines.
                            type: string
                            example: action_failed
                          message:
                            description: Error message for humans.
                            type: string
                            example: Action failed
                        required:
                        - code
                        - message
                    required:
                    - id
                    - command
                    - status
                    - progress
                    - started
                    - finished
                    - resources
                    - error
                required:
                - floating_ip
              examples:
                default:
                  value:
                    floating_ip:
                      id: 4711
                      name: Web Frontend
                      description: Web Frontend
                      ip: 2001:db8::/64
                      type: ipv6
                      server: 42
                      dns_ptr:
                      - ip: 2001:db8::1
                        dns_ptr: server.example.com
                      home_location:
                        id: 1
                        name: fsn1
                        description: Falkenstein DC Park 1
                        country: DE
                        city: Falkenstein
                        latitude: 50.47612
                        longitude: 12.370071
                        network_zone: eu-central
                      blocked: false
                      protection:
                        delete: false
                      labels:
                        key: value
                      created: '2016-01-30T23:50:00Z'
                    action:
                      id: 13
                      command: assign_floating_ip
                      status: running
                      progress: 0
                      started: '2016-01-30T23:50:00Z'
                      finished: null
                      resources:
                      - id: 42
                        type: server
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.FloatingIP.Create(ctx, hcloud.FloatingIPCreateOpts{\n\t\tDescription:  hcloud.Ptr(\"This describes my resource\"),\n\t\tHomeLocation: &hcloud.Location{Name: \"fsn1\"},\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName:   hcloud.Ptr(\"my-resource\"),\n\t\tServer: &hcloud.Server{ID: 42},\n\t\tType:   hcloud.FloatingIPTypeIPv4,\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Action)\n\n\tfloatingIP := result.FloatingIP\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.locations import Location\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.floating_ips.create(\n    description=\"This describes my resource\",\n    home_location=Location(name=\"fsn1\"),\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"my-resource\",\n    server=Server(id=42),\n    type=\"ipv4\",\n)\n\nresponse.action.wait_until_finished()\n\nfloating_ip = response.floating_ip"
      - lang: Shell
        label: CLI
        source: "hcloud floating-ip create \\\n    --description \"This describes my resource\" \\\n    --home-location fsn1 \\\n    --label \"environment=prod\" \\\n    --label \"example.com/my=label\" \\\n    --label \"just-a-key=\" \\\n    --name my-resource \\\n    --server 42 \\\n    --type ipv4"
  /floating_ips/{id}:
    get:
      operationId: get_floating_ip
      summary: Get a Floating IP
      description: Returns a single Floating IP.
      tags:
      - Floating IPs
      parameters:
      - description: ID of the Floating IP.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Floating IP](#tag/floating-ips).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  floating_ip:
                    type: object
                    properties:
                      id:
                        description: ID of the [Floating IP](#tag/floating-ips).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      description:
                        description: Description of the Resource.
                        type:
                        - string
                        - 'null'
                        example: This describes my resource
                      ip:
                        description: IP address.
                        type: string
                        example: 2001:db8::/64
                      type:
                        description: The Floating IP type.
                        type: string
                        enum:
                        - ipv4
                        - ipv6
                        example: ipv6
                      server:
                        description: '[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.


                          `null` if not assigned.

                          '
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 42
                      dns_ptr:
                        description: 'List of reverse DNS entries for the [Floating IP](#tag/floating-ips).

                          '
                        type: array
                        items:
                          type: object
                          properties:
                            ip:
                              description: 'Single IPv4 or IPv6 address of the record.

                                '
                              type: string
                              example: 2001:db8::1
                            dns_ptr:
                              description: 'Domain Name to point to.


                                PTR record content used for reverse DNS.

                                '
                              type: string
                              example: server.example.com
                          required:
                          - ip
                          - dns_ptr
                      home_location:
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      blocked:
                        description: Indicates whether the [Floating IP](#tag/floating-ips) is blocked.
                        type: boolean
                        example: false
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                    required:
                    - id
                    - name
                    - description
                    - ip
                    - type
                    - server
                    - dns_ptr
                    - home_location
                    - blocked
                    - protection
                    - labels
                    - created
                required:
                - floating_ip
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tfloatingIP, _, err := client.FloatingIP.GetByID(ctx, 123)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          floating_ip = client.floating_ips.get_by_id(123)'
      - lang: Shell
        label: CLI
        source: hcloud floating-ip describe $FLOATINGIP
    put:
      operationId: update_floating_ip
      summary: Update a Floating IP
      description: Update a Floating IP.
      tags:
      - Floating IPs
      parameters:
      - description: ID of the Floating IP.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Floating IP](#tag/floating-ips).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: FloatingIPUpdateRequest
              type: object
              properties:
                description:
                  description: Description of the Resource.
                  type:
                  - string
                  - 'null'
                  example: This describes my resource
                name:
                  description: Name of the Resource. Must be unique per Project.
                  type: string
                  example: my-resource
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.


                    Note that the set of [Labels](#description/labels) provided in the request will overwrite the

                    existing one.


                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  floating_ip:
                    type: object
                    properties:
                      id:
                        description: ID of the [Floating IP](#tag/floating-ips).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Resource. Must be unique per Project.
                        type: string
                        example: my-resource
                      description:
                        description: Description of the Resource.
                        type:
                        - string
                        - 'null'
                        example: This describes my resource
                      ip:
                        description: IP address.
                        type: string
                        example: 2001:db8::/64
                      type:
                        description: The Floating IP type.
                        type: string
                        enum:
                        - ipv4
                        - ipv6
                        example: ipv6
                      server:
                        description: '[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.


                          `null` if not assigned.

                          '
                        type:
                        - integer
                        - 'null'
                        format: int64
                        example: 42
                      dns_ptr:
                        description: 'List of reverse DNS entries for the [Floating IP](#tag/floating-ips).

                          '
                        type: array
                        items:
                          type: object
                          properties:
                            ip:
                              description: 'Single IPv4 or IPv6 address of the record.

                                '
                              type: string
                              example: 2001:db8::1
                            dns_ptr:
                              description: 'Domain Name to point to.


                                PTR record content used for reverse DNS.

                                '
                              type: string
                              example: server.example.com
                          required:
                          - ip
                          - dns_ptr
                      home_location:
                        type: object
                        properties:
                          id:
                            description: ID of the [Location](#tag/locations).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: Unique identifier of the [Location](#tag/locations).
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1
                          description:
                            description: Human readable description of the [Location](#tag/locations).
                            type: string
                            example: Falkenstein DC Park 1
                          country:
                            description: 'Country the [Location](#tag/locations) resides in.


                              ISO 3166-1 alpha-2 code of the country.

                              '
                            type: string
                            example: DE
                          city:
                            description: 'Name of the closest city to the [Location](#tag/locations).


                              City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                              '
                            type: string
                            example: Falkenstein
                          latitude:
                            description: Latitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 50.47612
                          longitude:
                            description: Longitude of the city closest to the [Location](#tag/locations).
                            type: number
                            format: double
                            example: 12.370071
                          network_zone:
                            description: Name of the Network Zone this [Location](#tag/locations) resides in.
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: eu-central
                        required:
                        - id
                        - name
                        - description
                        - country
                        - city
                        - latitude
                        - longitude
                        - network_zone
                      blocked:
                        description: Indicates whether the [Floating IP](#tag/floating-ips) is blocked.
                        type: boolean
                        example: false
                      protection:
                        description: Protection configuration for the Resource.
                        type: object
                        properties:
                          delete:
                            description: Prevent the Resource from being deleted.
                            type: boolean
                            example: false
                        required:
                        - delete
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                    required:
                    - id
                    - name
                    - description
                    - ip
                    - type
                    - server
                    - dns_ptr
                    - home_location
                    - blocked
                    - protection
                    - labels
                    - created
                required:
                - floating_ip
              examples:
                default:
                  value:
                    floating_ip:
                      id: 4711
                      name: Web Frontend
                      description: Web Frontend
                      ip: 2001:db8::/64
                      type: ipv6
                      server: 42
                      dns_ptr:
                      - ip: 2001:db8::1
                        dns_ptr: server.example.com
                      home_location:
                        id: 1
                        name: fsn1
                        description: Falkenstein DC Park 1
                        country: DE
                        city: Falkenstein
                        latitude: 50.47612
                        longitude: 12.370071
                        network_zone: eu-central
                      blocked: false
                      protection:
                        delete: false
                      labels:
                        key: value
                      created: '2016-01-30T23:50:00Z'
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tfloatingIP, _, err := client.FloatingIP.Update(ctx, &hcloud.FloatingIP{ID: 123}, hcloud.FloatingIPUpdateOpts{\n\t\tDescription: \"This describes my resource\",\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName: \"my-resource\",\n\t})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.floating_ips import FloatingIP\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nclient.floating_ips.update(\n    floating_ip=FloatingIP(id=123),\n    description=\"This describes my resource\",\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"my-resource\",\n)"
      - lang: Shell
        label: CLI
        source: "hcloud floating-ip update $FLOATINGIP \\\n    --description \"This describes my resource\" \\\n    --name my-resource\nhcloud floating-ip add-label --overwrite $FLOATINGIP \\\n    \"environment=prod\" \"example.com/my=label\" \"just-a-key=\"\nhcloud floating-ip remove-label $FLOATINGIP \\\n    \"environment\" \"example.com\" \"just-a-key\""
    delete:
      operationId: delete_floating_ip
      summary: Delete a Floating IP
      description: 'Deletes a Floating IP.


        If assigned to a Server the Floating IP will be unassigned automatically until 1 May 2026. After this date, the Floating IP needs to be unassigned before it can be deleted.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `must_be_unassigned` | Error when IP is still assigned to a Resource. This error will appear as of 1 May 2026. |'
      tags:
      - Floating IPs
      parameters:
      - description: ID of the Floating IP.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Floating IP](#tag/floating-ips).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '204':
          description: Request succeeded.
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\t_, err := client.FloatingIP.Delete(ctx, &hcloud.FloatingIP{ID: 123})\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client

          from hcloud.floating_ips import FloatingIP


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          client.floating_ips.delete(floating_ip=FloatingIP(id=123))'
      - lang: Shell
        label: CLI
        source: hcloud floating-ip delete $FLOATINGIP
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
