openapi: 3.2.0
info:
  title: Hetzner Cloud Servers API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Servers
  description: Servers are virtual machines that can be provisioned.
paths:
  /servers:
    get:
      operationId: list_servers
      summary: List Servers
      description: Returns all existing Server objects.
      tags:
      - Servers
      parameters:
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: 'Filter resources by status. May be used multiple times.


          The response will only contain the resources with the specified status.

          '
        name: status
        in: query
        required: false
        schema:
          type: array
          items:
            description: Status of the Server.
            type: string
            enum:
            - running
            - initializing
            - starting
            - stopping
            - 'off'
            - deleting
            - migrating
            - rebuilding
            - unknown
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          headers:
            x-next:
              description: A link to the next page of responses.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  servers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: ID of the [Server](#tag/servers).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        name:
                          description: Name of the Server (must be unique per Project and a valid hostname as per RFC 1123).
                          type: string
                          example: my-resource
                        status:
                          description: Status of the Server.
                          type: string
                          enum:
                          - running
                          - initializing
                          - starting
                          - stopping
                          - 'off'
                          - deleting
                          - migrating
                          - rebuilding
                          - unknown
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        public_net:
                          description: Public network information. The Server's IPv4 address can be found in `public_net->ipv4->ip`.
                          type: object
                          properties:
                            ipv4:
                              description: IP address (v4) and its reverse DNS entry of this Server.
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  description: ID of the [Primary IP](#tag/primary-ips).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                                ip:
                                  description: IP address (v4) of this Server.
                                  type: string
                                  example: 1.2.3.4
                                blocked:
                                  description: If the IP is blocked by our anti abuse dept.
                                  type: boolean
                                  example: false
                                dns_ptr:
                                  description: Reverse DNS PTR entry for the IPv4 addresses of this Server.
                                  type: string
                                  example: server01.example.com
                              required:
                              - ip
                              - blocked
                              - dns_ptr
                            ipv6:
                              description: IPv6 network assigned to this Server and its reverse DNS entry.
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  description: ID of the [Primary IP](#tag/primary-ips).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                                ip:
                                  description: IP address (v6) of this Server.
                                  type: string
                                  example: 2001:db8::/64
                                blocked:
                                  description: If the IP is blocked by our anti abuse dept.
                                  type: boolean
                                  example: false
                                dns_ptr:
                                  description: Reverse DNS PTR entries for the IPv6 addresses of this Server.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      ip:
                                        description: Single IPv6 address of this Server for which the reverse DNS entry has been set up.
                                        type: string
                                        example: 2001:db8::1
                                      dns_ptr:
                                        description: DNS pointer for the specific IP address.
                                        type: string
                                        example: server.example.com
                                    required:
                                    - ip
                                    - dns_ptr
                              required:
                              - ip
                              - blocked
                              - dns_ptr
                            floating_ips:
                              description: IDs of Floating IPs assigned to this Server.
                              type: array
                              items:
                                type: integer
                                format: int64
                              example:
                              - 478
                            firewalls:
                              description: Firewalls applied to the public network interface of this Server.
                              type: array
                              items:
                                title: ServerPublicNetFirewall
                                type: object
                                properties:
                                  id:
                                    description: ID of the [Firewall](#tag/firewalls).
                                    type: integer
                                    format: int64
                                    minimum: 1
                                    maximum: 9007199254740991
                                    example: 42
                                  status:
                                    description: Status of the Firewall on the Server.
                                    type: string
                                    enum:
                                    - applied
                                    - pending
                                    example: applied
                          required:
                          - ipv4
                          - ipv6
                          - floating_ips
                        private_net:
                          description: Private networks information.
                          type: array
                          items:
                            type: object
                            properties:
                              network:
                                description: The Network ID the server is attached to.
                                type: integer
                                format: int64
                                example: 4711
                              ip:
                                description: The server IP address on the network.
                                type: string
                                example: 10.0.0.2
                              alias_ips:
                                description: Additional IP addresses of the server on the network.
                                type: array
                                items:
                                  type: string
                                example:
                                - 10.0.0.3
                                - 10.0.0.4
                              mac_address:
                                description: The server MAC address on the network.
                                type: string
                                example: 86:00:ff:2a:7d:e1
                        server_type:
                          type: object
                          properties:
                            id:
                              description: ID of the Server type.
                              type: integer
                              format: int64
                              example: 1
                            name:
                              description: Unique identifier of the Server type.
                              type: string
                              example: cpx22
                            description:
                              description: Description of the Server type.
                              type: string
                              example: CPX22
                            cores:
                              description: Number of cpu cores a Server of this type will have.
                              type: number
                              example: 2
                            memory:
                              description: Memory a Server of this type will have in GB.
                              type: number
                              example: 4
                            disk:
                              description: Disk size a Server of this type will have in GB.
                              type: number
                              example: 80
                            deprecated:
                              description: This field is deprecated. Use the deprecation object instead.
                              type: boolean
                              example: false
                            prices:
                              description: Price per [Location](#tag/locations).
                              type: array
                              items:
                                type: object
                                properties:
                                  location:
                                    description: Name of the [Location](#tag/locations) the price is for.
                                    type: string
                                    example: fsn1
                                  price_hourly:
                                    description: Hourly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  price_monthly:
                                    description: Monthly price in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                  included_traffic:
                                    description: Free traffic per month in bytes in this [Location](#tag/locations).
                                    type: integer
                                    format: int64
                                    example: 654321
                                  price_per_tb_traffic:
                                    description: Additional traffic price per TB in this [Location](#tag/locations).
                                    type: object
                                    properties:
                                      net:
                                        description: Price without VAT.
                                        type: string
                                        format: decimal
                                        example: '1.0000'
                                      gross:
                                        description: Price with VAT added.
                                        type: string
                                        format: decimal
                                        example: '1.1900'
                                    required:
                                    - net
                                    - gross
                                required:
                                - location
                                - price_hourly
                                - price_monthly
                                - included_traffic
                                - price_per_tb_traffic
                            storage_type:
                              description: Type of Server boot drive. Local has higher speed. Network has better availability.
                              type: string
                              enum:
                              - local
                              - network
                            cpu_type:
                              description: Type of cpu.
                              type: string
                              enum:
                              - shared
                              - dedicated
                              example: shared
                            category:
                              description: Category of Server Type.
                              type: string
                              example: Shared vCPU
                            architecture:
                              description: 'CPU architecture of the Server Type.

                                '
                              type: string
                              enum:
                              - x86
                              - arm
                              example: x86
                            deprecation:
                              deprecated: true
                              description: 'This field is deprecated.


                                Use the `deprecation` object in the `locations` field instead (`.locations[].deprecation`).

                                '
                              title: DeprecationInfo
                              type:
                              - object
                              - 'null'
                              properties:
                                unavailable_after:
                                  description: 'Date of the deprecated resource removal.


                                    Once this date is reached, the resource will not be returned

                                    by resource type "list" endpoint, and the resource can not be

                                    used to create new resources. For example, if this is an

                                    image, you can not create new servers with this image after

                                    the mentioned date.

                                    '
                                  type: string
                                  format: date-time
                                  example: '2023-09-01T00:00:00Z'
                                announced:
                                  description: 'Date of the deprecation announcement.

                                    '
                                  type: string
                                  format: date-time
                                  example: '2023-06-01T00:00:00Z'
                              required:
                              - unavailable_after
                              - announced
                            locations:
                              description: "Supported [Location](#tag/locations) and per [Location](#tag/locations) details for the [Server Type](#tag/server-types).\n\nA [Server Type](#tag/server-types) is:\n - only supported in the [Location](#tag/locations) that are listed.\n - deprecated in the [Location](#tag/locations) when the `deprecation` property is set.\n - permanently unavailable in the [Location](#tag/locations) when the `deprecation.unavailable_after` date is in the past.\n - temporarily unavailable in the [Location](#tag/locations) when the `deprecation.available` is false.\n"
                              type: array
                              items:
                                description: 'A [Location](#tag/locations) (containing only id and name) and Server Type specific metadata.

                                  '
                                type: object
                                properties:
                                  id:
                                    description: ID of the [Location](#tag/locations).
                                    type: integer
                                    format: int64
                                    minimum: 1
                                    maximum: 9007199254740991
                                    example: 42
                                  name:
                                    description: Name of the [Location](#tag/locations).
                                    type: string
                                    example: fsn1
                                  deprecation:
                                    title: DeprecationInfo
                                    description: 'Describes if, when and how the resource is deprecated. If this field is

                                      set to `null` the resource is not deprecated. If a value is set, it is

                                      considered deprecated.

                                      '
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      unavailable_after:
                                        description: 'Date of the deprecated resource removal.


                                          Once this date is reached, the resource will not be returned

                                          by resource type "list" endpoint, and the resource can not be

                                          used to create new resources. For example, if this is an

                                          image, you can not create new servers with this image after

                                          the mentioned date.

                                          '
                                        type: string
                                        format: date-time
                                        example: '2023-09-01T00:00:00Z'
                                      announced:
                                        description: 'Date of the deprecation announcement.

                                          '
                                        type: string
                                        format: date-time
                                        example: '2023-06-01T00:00:00Z'
                                    required:
                                    - unavailable_after
                                    - announced
                                  recommended:
                                    description: 'Whether the [Server Type](#tag/server-types) is recommended in this [Location](#tag/locations).

                                      '
                                    type: boolean
                                    example: false
                                  available:
                                    description: 'Whether the [Server Type](#tag/server-types) is temporarily unavailable in this [Location](#tag/locations).

                                      '
                                    type: boolean
                                    example: true
                                required:
                                - id
                                - name
                                - deprecation
                                - recommended
                                - available
                          required:
                          - id
                          - name
                          - description
                          - cores
                          - memory
                          - disk
                          - deprecated
                          - prices
                          - storage_type
                          - cpu_type
                          - architecture
                          - locations
                        datacenter:
                          deprecated: true
                          description: '**Deprecated**: This property is deprecated and will be removed after the 1 July 2026.

                            Use the `location` property instead.


                            Data Center this Resource is located at.

                            '
                          type: object
                          properties:
                            id:
                              description: ID of the [Data Center](#tag/data-centers).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: 'Unique name for the [Data Center](#tag/data-centers).


                                May be used as a more descriptive identifier.

                                '
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: fsn1-dc8
                            description:
                              description: 'Descriptive name for the [Data Center](#tag/data-centers).


                                Desired to be easy to understand for humans. May change for cosmetic reasons. Must not be used as an identifier.

                                '
                              type: string
                              example: Falkenstein DC Park 8
                            location:
                              description: '[Location](#tag/locations) the [Data Center](#tag/data-centers) is located at.

                                '
                              type: object
                              properties:
                                id:
                                  description: ID of the [Location](#tag/locations).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                                name:
                                  description: Unique identifier of the [Location](#tag/locations).
                                  type: string
                                  pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                  example: fsn1
                                description:
                                  description: Human readable description of the [Location](#tag/locations).
                                  type: string
                                  example: Falkenstein DC Park 1
                                country:
                                  description: 'Country the [Location](#tag/locations) resides in.


                                    ISO 3166-1 alpha-2 code of the country.

                                    '
                                  type: string
                                  example: DE
                                city:
                                  description: 'Name of the closest city to the [Location](#tag/locations).


                                    City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                    '
                                  type: string
                                  example: Falkenstein
                                latitude:
                                  description: Latitude of the city closest to the [Location](#tag/locations).
                                  type: number
                                  format: double
                                  example: 50.47612
                                longitude:
                                  description: Longitude of the city closest to the [Location](#tag/locations).
                                  type: number
                                  format: double
                                  example: 12.370071
                                network_zone:
                                  description: Name of the Network Zone this [Location](#tag/locations) resides in.
                                  type: string
                                  pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                  example: eu-central
                              required:
                              - id
                              - name
                              - description
                              - country
                              - city
                              - latitude
                              - longitude
                              - network_zone
                            server_types:
                              deprecated: true
                              description: 'This field is deprecated, as all of it''s properties are deprecated.


                                [Server Types](#tag/server-types) supported and available in this [Data Center](#tag/data-centers).

                                '
                              type: object
                              properties:
                                supported:
                                  deprecated: true
                                  description: 'This field is deprecated. Use the [Server Type](#tag/server-types) `locations` field instead.


                                    List of [Server Types](#tag/server-types) supported in this [Data Center](#tag/data-centers).


                                    These [Server Types](#tag/server-types) are generally available in this Data Center, but may be

                                    temporarily out of stock.

                                    '
                                  type: array
                                  items:
                                    type: integer
                                    format: int64
                                  example:
                                  - 1
                                  - 2
                                  - 3
                                available:
                                  deprecated: true
                                  description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                    [Server Types](#tag/server-types) currently available in this [Data Center](#tag/data-centers).


                                    These [Server Types](#tag/server-types) can currently be purchased. Types that are temporarily unavailable

                                    but are supported in this [Data Center](#tag/data-centers) are listed as `supported`.

                                    '
                                  type: array
                                  items:
                                    type: integer
                                    format: int64
                                  example:
                                  - 1
                                  - 2
                                  - 3
                                available_for_migration:
                                  deprecated: true
                                  description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                    [Server Types](#tag/server-types) available to migrate to in this [Data Center](#tag/data-centers).


                                    Existing [Servers](#tag/servers) can be migrated to these [Server Types](#tag/server-types).

                                    '
                                  type: array
                                  items:
                                    type: integer
                                    format: int64
                                  example:
                                  - 1
                                  - 2
                                  - 3
                              required:
                              - supported
                              - available
                              - available_for_migration
                          required:
                          - id
                          - name
                          - description
                          - location
                          - server_types
                        location:
                          description: 'Location this Resource is located at.

                            '
                          type: object
                          properties:
                            id:
                              description: ID of the [Location](#tag/locations).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: Unique identifier of the [Location](#tag/locations).
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: fsn1
                            description:
                              description: Human readable description of the [Location](#tag/locations).
                              type: string
                              example: Falkenstein DC Park 1
                            country:
                              description: 'Country the [Location](#tag/locations) resides in.


                                ISO 3166-1 alpha-2 code of the country.

                                '
                              type: string
                              example: DE
                            city:
                              description: 'Name of the closest city to the [Location](#tag/locations).


                                City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                '
                              type: string
                              example: Falkenstein
                            latitude:
                              description: Latitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 50.47612
                            longitude:
                              description: Longitude of the city closest to the [Location](#tag/locations).
                              type: number
                              format: double
                              example: 12.370071
                            network_zone:
                              description: Name of the Network Zone this [Location](#tag/locations) resides in.
                              type: string
                              pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                              example: eu-central
                          required:
                          - id
                          - name
                          - description
                          - country
                          - city
                          - latitude
                          - longitude
                          - network_zone
                        image:
                          description: Image the server is based on.
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: ID of the [Image](#tag/images).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            type:
                              description: Type of the Image.
                              type: string
                              enum:
                              - system
                              - app
                              - snapshot
                              - backup
                              example: snapshot
                            status:
                              description: Status of the Image.
                              type: string
                              enum:
                              - available
                              - creating
                              - unavailable
                              example: available
                            name:
                              description: Unique identifier of the Image. This value is only set for system Images.
                              type:
                              - string
                              - 'null'
                              example: ubuntu-24.04
                            description:
                              description: Description of the Image.
                              type: string
                              example: Ubuntu 24.04 Standard 64 bit
                            image_size:
                              description: Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.
                              type:
                              - number
                              - 'null'
                              example: 2.3
                            disk_size:
                              description: Size of the disk contained in the Image in GB.
                              type: number
                              example: 10
                            created:
                              description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                              type: string
                              format: date-time
                              example: '2016-01-30T23:55:00Z'
                            created_from:
                              description: Information about the Server the Image was created from.
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  description: ID of the Server the Image was created from.
                                  type: integer
                                  format: int64
                                  example: 1
                                name:
                                  description: Server name at the time the Image was created.
                                  type: string
                                  example: Server
                              required:
                              - id
                              - name
                            bound_to:
                              description: ID of Server the Image is bound to. Only set for Images of type `backup`.
                              type:
                              - integer
                              - 'null'
                              format: int64
                              example: null
                            os_flavor:
                              description: Flavor of operating system contained in the Image.
                              type: string
                              enum:
                              - ubuntu
                              - centos
                              - debian
                              - fedora
                              - rocky
                              - alma
                              - opensuse
                              - unknown
                              example: ubuntu
                            os_version:
                              description: Operating system version.
                              type:
                              - string
                              - 'null'
                              example: '24.04'
                            rapid_deploy:
                              description: Indicates that rapid deploy of the Image is available.
                              type: boolean
                              example: false
                            protection:
                              description: Protection configuration for the Resource.
                              type: object
                              properties:
                                delete:
                                  description: Prevent the Resource from being deleted.
                                  type: boolean
                                  example: false
                              required:
                              - delete
                            deprecated:
                              description: Point in time when the Image is considered to be deprecated (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                              type:
                              - string
                              - 'null'
                              format: date-time
                              example: '2018-02-28T00:00:00Z'
                            deleted:
                              description: Point in time where the Image was deleted (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                              type:
                              - string
                              - 'null'
                              example: null
                            labels:
                              description: 'User-defined labels (`key/value` pairs) for the Resource.

                                For more information, see "[Labels](#description/labels)".

                                '
                              type: object
                              additionalProperties:
                                type: string
                              example:
                                environment: prod
                                example.com/my: label
                                just-a-key: ''
                            architecture:
                              description: 'CPU architecture compatible with the Image.

                                '
                              type: string
                              enum:
                              - x86
                              - arm
                              example: x86
                          required:
                          - id
                          - type
                          - status
                          - name
                          - description
                          - image_size
                          - disk_size
                          - created
                          - created_from
                          - bound_to
                          - os_flavor
                          - os_version
                          - protection
                          - deprecated
                          - deleted
                          - labels
                          - architecture
                        iso:
                          description: ISO Image that is attached to this Server. Null if no ISO is attached.
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: ID of the [ISO](#tag/isos).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: Unique identifier of the ISO. Only set for public ISOs.
                              type:
                              - string
                              - 'null'
                              example: FreeBSD-11.0-RELEASE-amd64-dvd1
                            description:
                              description: Description of the ISO.
                              type: string
                              example: FreeBSD 11.0 x64
                            type:
                              description: Type of the ISO.
                              type:
                              - string
                              - 'null'
                              enum:
                              - public
                              - private
                            deprecation:
                              title: DeprecationInfo
                              description: 'Describes if, when and how the resource is deprecated. If this field is

                                set to `null` the resource is not deprecated. If a value is set, it is

                                considered deprecated.

                                '
                              type:
                              - object
                              - 'null'
                              properties:
                                unavailable_after:
                                  description: 'Date of the deprecated resource removal.


                                    Once this date is reached, the resource will not be returned

                                    by resource type "list" endpoint, and the resource can not be

                                    used to create new resources. For example, if this is an

                                    image, you can not create new servers with this image after

                                    the mentioned date.

                                    '
                                  type: string
                                  format: date-time
                                  example: '2023-09-01T00:00:00Z'
                                announced:
                                  description: 'Date of the deprecation announcement.

                                    '
                                  type: string
                                  format: date-time
                                  example: '2023-06-01T00:00:00Z'
                              required:
                              - unavailable_after
                              - announced
                            architecture:
                              description: 'CPU architecture compatible with the ISO.


                                Null indicates no restriction on the architecture (wildcard).

                                '
                              type:
                              - string
                              - 'null'
                              enum:
                              - x86
                              - arm
                              example: x86
                          required:
                          - id
                          - name
                          - description
                          - type
                          - deprecation
                          - architecture
                        rescue_enabled:
                          description: True if rescue mode is enabled. Server will then boot into rescue system on next reboot.
                          type: boolean
                          example: false
                        locked:
                          description: True if Server has been locked and is not available to user.
                          type: boolean
                          example: false
                        backup_window:
                          description: Time window (UTC) in which the backup will run, or null if the backups are not enabled.
                          type:
                          - string
                          - 'null'
                          example: 22-02
                        outgoing_traffic:
                          description: Outbound Traffic for the current billing period in bytes.
                          type:
                          - integer
                          - 'null'
                          format: int64
                          example: 123456
                        ingoing_traffic:
                          description: Inbound Traffic for the current billing period in bytes.
                          type:
                          - integer
                          - 'null'
                          format: int64
                          example: 123456
                        included_traffic:
                          description: Free Traffic for the current billing period in bytes.
                          type:
                          - integer
                          - 'null'
                          format: int64
                          example: 654321
                        protection:
                          description: Protection configuration for the Server.
                          type: object
                          properties:
                            delete:
                              description: If true, prevents the Server from being deleted.
                              type: boolean
                              example: false
                            rebuild:
                              description: If true, prevents the Server from being rebuilt.
                              type: boolean
                              example: false
                          required:
                          - delete
                          - rebuild
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        volumes:
                          description: IDs of Volumes assigned to this Server.
                          type: array
                          items:
                            type: integer
                            format: int64
                        load_balancers:
                          description: Load Balancer IDs assigned to the server.
                          type: array
                          items:
                            type: integer
                            format: int64
                        primary_disk_size:
                          description: Size of the primary Disk.
                          type: number
                          example: 50
                        placement_group:
                          description: The placement group the server is assigned to.
                          title: PlacementGroupNullable
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: ID of the [Placement Group](#tag/placement-groups).
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 9007199254740991
                              example: 42
                            name:
                              description: Name of the Resource. Must be unique per Project.
                              type: string
                              example: my-resource
                            labels:
                              description: 'User-defined labels (`key/value` pairs) for the Resource.

                                For more information, see "[Labels](#description/labels)".

                                '
                              type: object
                              additionalProperties:
                                type: string
                              example:
                                environment: prod
                                example.com/my: label
                                just-a-key: ''
                            type:
                              description: 'Type of Placement Group.

                                '
                              type: string
                              enum:
                              - spread
                              example: spread
                            created:
                              description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                              type: string
                              format: date-time
                              example: '2016-01-30T23:55:00Z'
                            servers:
                              description: Array of IDs of Servers that are part of this Placement Group.
                              type: array
                              items:
                                type: integer
                                format: int64
                              example:
                              - 42
                          required:
                          - id
                          - name
                          - labels
                          - type
                          - created
                          - servers
                      required:
                      - id
                      - name
                      - status
                      - created
                      - public_net
                      - private_net
                      - server_type
                      - location
                      - datacenter
                      - image
                      - iso
                      - rescue_enabled
                      - locked
                      - backup_window
                      - outgoing_traffic
                      - ingoing_traffic
                      - included_traffic
                      - protection
                      - labels
                      - primary_disk_size
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - servers
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tservers, err := client.Server.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          servers = client.servers.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud server list
    post:
      operationId: create_server
      summary: Create a Server
      description: 'Creates a new Server. Returns preliminary information about the Server as well as an Action that covers progress of creation.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `412` | `primary_ip_version_mismatch` | The specified Primary IP has the wrong IP Version |

        | `422` | `placement_error` | An error during the placement occurred |

        | `422` | `primary_ip_assigned` | The specified Primary IP is already assigned to a server |

        | `422` | `primary_ip_datacenter_mismatch` | he specified Primary IP is in a different datacenter |'
      tags:
      - Servers
      requestBody:
        description: 'Please note that Server names must be unique per Project and valid hostnames as per RFC 1123 (i.e. may only contain letters, digits, periods, and dashes).


          For `server_type` you can either use the ID as listed in `/server_types` or its name.


          For `image` you can either use the ID as listed in `/images` or its name.


          If you want to create the Server in a Location, you must set `location` to the ID or name as listed in `/locations`.


          Some properties like `start_after_create` or `automount` will trigger Actions after the Server is created. Those Actions are listed in the `next_actions` field in the response.


          For accessing your Server we strongly recommend to use SSH keys by passing the respective key IDs in `ssh_keys`. If you do not specify any `ssh_keys` we will generate a root password for you and return it in the response.


          Please note that provided user-data is stored in our systems. While we take measures to protect it we highly recommend that you don’t use it to store passwords or other sensitive information.

          '
        required: true
        content:
          application/json:
            schema:
              title: CreateServerRequest
              type: object
              properties:
                name:
                  description: Name of the Server to create (must be unique per Project and a valid hostname as per RFC 1123).
                  type: string
                  example: my-server
                location:
                  description: ID or name of the Location to create the Server in (must not be used together with `datacenter`).
                  type: string
                  example: nbg1
                datacenter:
                  deprecated: true
                  description: '**Deprecated**: This property is deprecated and will be removed after the 1 July 2026.

                    Use the `location` property instead.


                    ID or name of the Data Center to create Server in (must not be used together with `location`).

                    '
                  type: string
                  example: nbg1-dc3
                server_type:
                  description: ID or name of the Server type this Server should be created with.
                  type: string
                  example: cpx22
                start_after_create:
                  description: This automatically triggers a [Power on a Server-Server Action](#tag/server-actions/poweron_server) after the creation is finished and is returned in the `next_actions` response object.
                  type: boolean
                  default: true
                  example: true
                image:
                  description: ID or name of the Image the Server is created from.
                  type: string
                  example: ubuntu-24.04
                placement_group:
                  description: ID of the Placement Group the Server should be in.
                  type: integer
                  format: int64
                  example: 1
                ssh_keys:
                  description: SSH key IDs (`integer`) or names (`string`) which should be injected into the Server at creation time.
                  type: array
                  items:
                    type: string
                  example:
                  - my-ssh-key
                volumes:
                  description: Volume IDs which should be attached to the Server at the creation time. Volumes must be in the same Location.
                  type: array
                  items:
                    type: integer
                    format: int64
                  example:
                  - 123
                networks:
                  description: Network IDs which should be attached to the Server private network interface at the creation time.
                  type: array
                  items:
                    type: integer
                    format: int64
                  example:
                  - 456
                firewalls:
                  description: Firewalls which should be applied on the Server's public network interface at creation time.
                  type: array
                  items:
                    type: object
                    properties:
                      firewall:
                        description: ID of the Firewall.
                        type: integer
                        format: int64
                    required:
                    - firewall
                  example:
                  - firewall: 38
                user_data:
                  description: Cloud-Init user data to use during Server creation. This field is limited to 32KiB.
                  type: string
                  example: '#cloud-config

                    runcmd:

                    - [touch, /root/cloud-init-worked]

                    '
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                automount:
                  description: Auto-mount Volumes after attach.
                  type: boolean
                  example: false
                public_net:
                  description: Public Network options.
                  type: object
                  properties:
                    enable_ipv4:
                      description: Attach an IPv4 on the public NIC. If false, no IPv4 address will be attached.
                      type: boolean
                      default: true
                    enable_ipv6:
                      description: Attach an IPv6 on the public NIC. If false, no IPv6 address will be attached.
                      type: boolean
                      default: true
                    ipv4:
                      description: ID of the ipv4 Primary IP to use. If omitted and enable_ipv4 is true, a new ipv4 Primary IP will automatically be created.
                      type:
                      - integer
                      - 'null'
                    ipv6:
                      description: ID of the ipv6 Primary IP to use. If omitted and enable_ipv6 is true, a new ipv6 Primary IP will automatically be created.
                      type:
                      - integer
                      - 'null'
              required:
              - name
              - server_type
              - image
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CreateServerResponse
                type: object
                properties:
                  server:
                    type: object
                    properties:
                      id:
                        description: ID of the [Server](#tag/servers).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: Name of the Server (must be unique per Project and a valid hostname as per RFC 1123).
                        type: string
                        example: my-resource
                      status:
                        description: Status of the Server.
                        type: string
                        enum:
                        - running
                        - initializing
                        - starting
                        - stopping
                        - 'off'
                        - deleting
                        - migrating
                        - rebuilding
                        - unknown
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      public_net:
                        description: Public network information. The Server's IPv4 address can be found in `public_net->ipv4->ip`.
                        type: object
                        properties:
                          ipv4:
                            description: IP address (v4) and its reverse DNS entry of this Server.
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                description: ID of the [Primary IP](#tag/primary-ips).
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              ip:
                                description: IP address (v4) of this Server.
                                type: string
                                example: 1.2.3.4
                              blocked:
                                description: If the IP is blocked by our anti abuse dept.
                                type: boolean
                                example: false
                              dns_ptr:
                                description: Reverse DNS PTR entry for the IPv4 addresses of this Server.
                                type: string
                                example: server01.example.com
                            required:
                            - ip
                            - blocked
                            - dns_ptr
                          ipv6:
                            description: IPv6 network assigned to this Server and its reverse DNS entry.
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                description: ID of the [Primary IP](#tag/primary-ips).
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              ip:
                                description: IP address (v6) of this Server.
                                type: string
                                example: 2001:db8::/64
                              blocked:
                                description: If the IP is blocked by our anti abuse dept.
                                type: boolean
                                example: false
                              dns_ptr:
                                description: Reverse DNS PTR entries for the IPv6 addresses of this Server.
                                type:
                                - array
                                - 'null'
                                items:
                                  type: object
                                  properties:
                                    ip:
                                      description: Single IPv6 address of this Server for which the reverse DNS entry has been set up.
                                      type: string
                                      example: 2001:db8::1
                                    dns_ptr:
                                      description: DNS pointer for the specific IP address.
                                      type: string
                                      example: server.example.com
                                  required:
                                  - ip
                                  - dns_ptr
                            required:
                            - ip
                            - blocked
                            - dns_ptr
                          floating_ips:
                            description: IDs of Floating IPs assigned to this Server.
                            type: array
                            items:
                              type: integer
                              format: int64
                            example:
                            - 478
                          firewalls:
                            description: Firewalls applied to the public network interface of this Server.
                            type: array
                            items:
                              title: ServerPublicNetFirewall
                              type: object
                              properties:
                                id:
                                  description: ID of the [Firewall](#tag/firewalls).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                                status:
                                  description: Status of the Firewall on the Server.
                                  type: string
                                  enum:
                                  - applied
                                  - pending
                                  example: applied
                        required:
                        - ipv4
                        - ipv6
                        - floating_ips
                      private_net:
                        description: Private networks information.
                        type: array
                        items:
                          type: object
                          properties:
                            network:
                              description: The Network ID the server is attached to.
                              type: integer
                              format: int64
                              example: 4711
                            ip:
                              description: The server IP address on the network.
                              type: string
                              example: 10.0.0.2
                            alias_ips:
                              description: Additional IP addresses of the server on the network.
                              type: array
                              items:
                                type: string
                              example:
                              - 10.0.0.3
                              - 10.0.0.4
                            mac_address:
                              description: The server MAC address on the network.
                              type: string
                              example: 86:00:ff:2a:7d:e1
                      server_type:
                        type: object
                        properties:
                          id:
                            description: ID of the Server type.
                            type: integer
                            format: int64
                            example: 1
                          name:
                            description: Unique identifier of the Server type.
                            type: string
                            example: cpx22
                          description:
                            description: Description of the Server type.
                            type: string
                            example: CPX22
                          cores:
                            description: Number of cpu cores a Server of this type will have.
                            type: number
                            example: 2
                          memory:
                            description: Memory a Server of this type will have in GB.
                            type: number
                            example: 4
                          disk:
                            description: Disk size a Server of this type will have in GB.
                            type: number
                            example: 80
                          deprecated:
                            description: This field is deprecated. Use the deprecation object instead.
                            type: boolean
                            example: false
                          prices:
                            description: Price per [Location](#tag/locations).
                            type: array
                            items:
                              type: object
                              properties:
                                location:
                                  description: Name of the [Location](#tag/locations) the price is for.
                                  type: string
                                  example: fsn1
                                price_hourly:
                                  description: Hourly price in this [Location](#tag/locations).
                                  type: object
                                  properties:
                                    net:
                                      description: Price without VAT.
                                      type: string
                                      format: decimal
                                      example: '1.0000'
                                    gross:
                                      description: Price with VAT added.
                                      type: string
                                      format: decimal
                                      example: '1.1900'
                                  required:
                                  - net
                                  - gross
                                price_monthly:
                                  description: Monthly price in this [Location](#tag/locations).
                                  type: object
                                  properties:
                                    net:
                                      description: Price without VAT.
                                      type: string
                                      format: decimal
                                      example: '1.0000'
                                    gross:
                                      description: Price with VAT added.
                                      type: string
                                      format: decimal
                                      example: '1.1900'
                                  required:
                                  - net
                                  - gross
                                included_traffic:
                                  description: Free traffic per month in bytes in this [Location](#tag/locations).
                                  type: integer
                                  format: int64
                                  example: 654321
                                price_per_tb_traffic:
                                  description: Additional traffic price per TB in this [Location](#tag/locations).
                                  type: object
                                  properties:
                                    net:
                                      description: Price without VAT.
                                      type: string
                                      format: decimal
                                      example: '1.0000'
                                    gross:
                                      description: Price with VAT added.
                                      type: string
                                      format: decimal
                                      example: '1.1900'
                                  required:
                                  - net
                                  - gross
                              required:
                              - location
                              - price_hourly
                              - price_monthly
                              - included_traffic
                              - price_per_tb_traffic
                          storage_type:
                            description: Type of Server boot drive. Local has higher speed. Network has better availability.
                            type: string
                            enum:
                            - local
                            - network
                          cpu_type:
                            description: Type of cpu.
                            type: string
                            enum:
                            - shared
                            - dedicated
                            example: shared
                          category:
                            description: Category of Server Type.
                            type: string
                            example: Shared vCPU
                          architecture:
                            description: 'CPU architecture of the Server Type.

                              '
                            type: string
                            enum:
                            - x86
                            - arm
                            example: x86
                          deprecation:
                            deprecated: true
                            description: 'This field is deprecated.


                              Use the `deprecation` object in the `locations` field instead (`.locations[].deprecation`).

                              '
                            title: DeprecationInfo
                            type:
                            - object
                            - 'null'
                            properties:
                              unavailable_after:
                                description: 'Date of the deprecated resource removal.


                                  Once this date is reached, the resource will not be returned

                                  by resource type "list" endpoint, and the resource can not be

                                  used to create new resources. For example, if this is an

                                  image, you can not create new servers with this image after

                                  the mentioned date.

                                  '
                                type: string
                                format: date-time
                                example: '2023-09-01T00:00:00Z'
                              announced:
                                description: 'Date of the deprecation announcement.

                                  '
                                type: string
                                format: date-time
                                example: '2023-06-01T00:00:00Z'
                            required:
                            - unavailable_after
                            - announced
                          locations:
                            description: "Supported [Location](#tag/locations) and per [Location](#tag/locations) details for the [Server Type](#tag/server-types).\n\nA [Server Type](#tag/server-types) is:\n - only supported in the [Location](#tag/locations) that are listed.\n - deprecated in the [Location](#tag/locations) when the `deprecation` property is set.\n - permanently unavailable in the [Location](#tag/locations) when the `deprecation.unavailable_after` date is in the past.\n - temporarily unavailable in the [Location](#tag/locations) when the `deprecation.available` is false.\n"
                            type: array
                            items:
                              description: 'A [Location](#tag/locations) (containing only id and name) and Server Type specific metadata.

                                '
                              type: object
                              properties:
                                id:
                                  description: ID of the [Location](#tag/locations).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                                name:
                                  description: Name of the [Location](#tag/locations).
                                  type: string
                                  example: fsn1
                                deprecation:
                                  title: DeprecationInfo
                                  description: 'Describes if, when and how the resource is deprecated. If this field is

                                    set to `null` the resource is not deprecated. If a value is set, it is

                                    considered deprecated.

                                    '
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    unavailable_after:
                                      description: 'Date of the deprecated resource removal.


                                        Once this date is reached, the resource will not be returned

                                        by resource type "list" endpoint, and the resource can not be

                                        used to create new resources. For example, if this is an

                                        image, you can not create new servers with this image after

                                        the mentioned date.

                                        '
                                      type: string
                                      format: date-time
                                      example: '2023-09-01T00:00:00Z'
                                    announced:
                                      description: 'Date of the deprecation announcement.

                                        '
                                      type: string
                                      format: date-time
                                      example: '2023-06-01T00:00:00Z'
                                  required:
                                  - unavailable_after
                                  - announced
                                recommended:
                                  description: 'Whether the [Server Type](#tag/server-types) is recommended in this [Location](#tag/locations).

                                    '
                                  type: boolean
                                  example: false
                                available:
                                  description: 'Whether the [Server Type](#tag/server-types) is temporarily unavailable in this [Location](#tag/locations).

                                    '
                                  type: boolean
                                  example: true
                              required:
                              - id
                              - name
                              - deprecation
                              - recommended
                              - available
                        required:
                        - id
                        - name
                        - description
                        - cores
                        - memory
                        - disk
                        - deprecated
                        - prices
                        - storage_type
                        - cpu_type
                        - architecture
                        - locations
                      datacenter:
                        deprecated: true
                        description: '**Deprecated**: This property is deprecated and will be removed after the 1 July 2026.

                          Use the `location` property instead.


                          Data Center this Resource is located at.

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Data Center](#tag/data-centers).
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 9007199254740991
                            example: 42
                          name:
                            description: 'Unique name for the [Data Center](#tag/data-centers).


                              May be used as a more descriptive identifier.

                              '
                            type: string
                            pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                            example: fsn1-dc8
                          description:
                            description: 'Descriptive name for the [Data Center](#tag/data-centers).


                              Desired to be easy to understand for humans. May change for cosmetic reasons. Must not be used as an identifier.

                              '
                            type: string
                            example: Falkenstein DC Park 8
                          location:
                            description: '[Location](#tag/locations) the [Data Center](#tag/data-centers) is located at.

                              '
                            type: object
                            properties:
                              id:
                                description: ID of the [Location](#tag/locations).
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              name:
                                description: Unique identifier of the [Location](#tag/locations).
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: fsn1
                              description:
                                description: Human readable description of the [Location](#tag/locations).
                                type: string
                                example: Falkenstein DC Park 1
                              country:
                                description: 'Country the [Location](#tag/locations) resides in.


                                  ISO 3166-1 alpha-2 code of the country.

                                  '
                                type: string
                                example: DE
                              city:
                                description: 'Name of the closest city to the [Location](#tag/locations).


                                  City name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.

                                  '
                                type: string
                                example: Falkenstein
                              latitude:
                                description: Latitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 50.47612
                              longitude:
                                description: Longitude of the city closest to the [Location](#tag/locations).
                                type: number
                                format: double
                                example: 12.370071
                              network_zone:
                                description: Name of the Network Zone this [Location](#tag/locations) resides in.
                                type: string
                                pattern: ^[a-z0-9]+(-?[a-z0-9]*)*$
                                example: eu-central
                            required:
                            - id
                            - name
                            - description
                            - country
                            - city
                            - latitude
                            - longitude
                            - network_zone
                          server_types:
                            deprecated: true
                            description: 'This field is deprecated, as all of it''s properties are deprecated.


                              [Server Types](#tag/server-types) supported and available in this [Data Center](#tag/data-centers).

                              '
                            type: object
                            properties:
                              supported:
                                deprecated: true
                                description: 'This field is deprecated. Use the [Server Type](#tag/server-types) `locations` field instead.


                                  List of [Server Types](#tag/server-types) supported in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) are generally available in this Data Center, but may be

                                  temporarily out of stock.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) currently available in this [Data Center](#tag/data-centers).


                                  These [Server Types](#tag/server-types) can currently be purchased. Types that are temporarily unavailable

                                  but are supported in this [Data Center](#tag/data-centers) are listed as `supported`.

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                              available_for_migration:
                                deprecated: true
                                description: 'This field is deprecated. Use the `available` flag in the [Server Type](#tag/server-types) `locations` field instead (`server_type.locations[].available`).


                                  [Server Types](#tag/server-types) available to migrate to in this [Data Center](#tag/data-centers).


                                  Existing [Servers](#tag/servers) can be migrated to these [Server Types](#tag/server-types).

                                  '
                                type: array
                                items:
                                  type: integer
                                  format: int64
                                example:
                                - 1
                                - 2
                                - 3
                            required:
                            - supported
                            - available
                            - available_for_migration
                        required:
                        - id
                        - name
                        - description
                        - location
                        - server_types
                      location:
                        description: 'Location this Resource is located at.

[...]
