openapi: 3.2.0
info:
  title: Hetzner Cloud Firewalls API
  version: 1.0.0
  x-summary: 'Manage Hetzner Cloud services and resources linked to them, such as Floating IPs, Volumes and Load Balancers.

    '
  description: '# Overview


    This is the official documentation for the Hetzner Cloud API.'
servers:
- url: https://api.hetzner.cloud/v1
security:
- APIToken: []
tags:
- name: Firewalls
  description: 'Firewalls can limit the network access to or from your resources.


    - When applying a firewall with no `in` rule all inbound traffic will be dropped. The default for `in` is `DROP`.

    - When applying a firewall with no `out` rule all outbound traffic will be accepted. The default for `out` is `ACCEPT`.'
paths:
  /firewalls:
    get:
      operationId: list_firewalls
      summary: List Firewalls
      description: 'Returns all Firewalls.


        Use the provided URI parameters to modify the result.'
      tags:
      - Firewalls
      parameters:
      - description: 'Sort resources by field and direction. May be used multiple times.


          For more information, see "[Sorting](#description/sorting)".

          '
        name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - id:asc
            - id:desc
            - name
            - name:asc
            - name:desc
            - created
            - created:asc
            - created:desc
      - description: 'Filter resources by their name.


          The response will only contain the resources

          matching exactly the specified name.

          '
        name: name
        in: query
        required: false
        schema:
          type: string
      - description: 'Filter resources by labels.


          The response will only contain resources matching the label selector.

          For more information, see "[Label Selector](#description/label-selector)".

          '
        name: label_selector
        in: query
        required: false
        schema:
          type: string
      - description: Page number to return. For more information, see "[Pagination](#description/pagination)".
        name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
          example: 1
      - description: Maximum number of entries returned per page. For more information, see "[Pagination](#description/pagination)".
        name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 25
          example: 25
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: FirewallsResponse
                type: object
                properties:
                  firewalls:
                    type: array
                    items:
                      title: FirewallResponse
                      type: object
                      properties:
                        id:
                          description: ID of the [Firewall](#tag/firewalls).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        name:
                          description: 'Name of the [Firewall](#tag/firewalls).


                            Limited to a maximum of 128 characters.


                            Must be unique per Project.

                            '
                          type: string
                          example: new-name
                        labels:
                          description: 'User-defined labels (`key/value` pairs) for the Resource.

                            For more information, see "[Labels](#description/labels)".

                            '
                          type: object
                          additionalProperties:
                            type: string
                          example:
                            environment: prod
                            example.com/my: label
                            just-a-key: ''
                        created:
                          description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        rules:
                          type: array
                          items:
                            title: RuleResponse
                            type: object
                            properties:
                              description:
                                description: Description of the rule.
                                type:
                                - string
                                - 'null'
                                maxLength: 255
                              direction:
                                description: 'Traffic direction in which the rule should be applied to.


                                  Use `source_ips` for direction `in` and `destination_ips` for direction `out` to specify IPs.

                                  '
                                type: string
                                enum:
                                - in
                                - out
                                example: in
                              source_ips:
                                description: 'List of permitted IPv4/IPv6 addresses for incoming traffic.


                                  The `direction` must be set to `in`.


                                  IPs must be provided in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                  blocks at most.


                                  The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                  For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                  and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                  Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                  IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                  '
                                type: array
                                items:
                                  type: string
                                example:
                                - 192.0.2.2/32
                                - 192.0.2.0/24
                                - 2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128
                              destination_ips:
                                description: 'List of permitted IPv4/IPv6 addresses for outgoing traffic.


                                  The `direction` must be set to `out`.


                                  IPs must be in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                  blocks at most.


                                  The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                  For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                  and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                  Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                  IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                  '
                                type: array
                                items:
                                  type: string
                                example: []
                              protocol:
                                description: Network protocol to apply the rule for.
                                type: string
                                enum:
                                - tcp
                                - udp
                                - icmp
                                - esp
                                - gre
                              port:
                                description: 'Port or port range to apply the rule for.


                                  Only applicable for protocols `tcp` and `udp`.


                                  A port range can be specified by separating lower and upper bounds with a dash. `1024-5000` will include

                                  all ports starting from 1024 up to port 5000.

                                  '
                                type:
                                - string
                                - 'null'
                                example: '80'
                            required:
                            - direction
                            - protocol
                            - destination_ips
                            - source_ips
                            - port
                        applied_to:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                description: The type of resource to apply.
                                type: string
                                enum:
                                - server
                                - label_selector
                                example: server
                              server:
                                description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                  Only set for `type` `server`, otherwise `null`.

                                  '
                                type: object
                                properties:
                                  id:
                                    description: ID of the [Server](#tag/servers).
                                    type: integer
                                    format: int64
                                    minimum: 1
                                    maximum: 9007199254740991
                                    example: 42
                                required:
                                - id
                              label_selector:
                                description: '[Label Selector](#description/label-selector) the [Firewall](#tag/firewalls) is applied to.


                                  Only set for `type` `label_selector`, otherwise `null`.

                                  '
                                type: object
                                properties:
                                  selector:
                                    description: The selector.
                                    type: string
                                    example: env=prod
                                required:
                                - selector
                              applied_to_resources:
                                description: 'Resources applied to via this [Label Selector](#description/label-selector).

                                  '
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      description: Type of resource.
                                      type: string
                                      enum:
                                      - server
                                      example: server
                                    server:
                                      description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                        Only set for `type` `server`, otherwise `null`.

                                        '
                                      type: object
                                      properties:
                                        id:
                                          description: ID of the [Server](#tag/servers).
                                          type: integer
                                          format: int64
                                          minimum: 1
                                          maximum: 9007199254740991
                                          example: 42
                                      required:
                                      - id
                            required:
                            - type
                      required:
                      - id
                      - name
                      - created
                      - rules
                      - applied_to
                  meta:
                    title: ListMeta
                    type: object
                    properties:
                      pagination:
                        description: See "[Pagination](#description/pagination)" for more information.
                        type: object
                        properties:
                          page:
                            description: Current page number.
                            type: integer
                            format: int64
                            example: 3
                          per_page:
                            description: Maximum number of entries returned per page.
                            type: integer
                            format: int64
                            example: 25
                          previous_page:
                            description: Page number of the previous page. Can be null if the current page is the first one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 2
                          next_page:
                            description: Page number of the next page. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          last_page:
                            description: Page number of the last page available. Can be null if the current page is the last one.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 4
                          total_entries:
                            description: Total number of entries that exist for this query. Can be null if unknown.
                            type:
                            - integer
                            - 'null'
                            format: int64
                            example: 100
                        required:
                        - page
                        - per_page
                        - previous_page
                        - next_page
                        - last_page
                        - total_entries
                    required:
                    - pagination
                required:
                - firewalls
                - meta
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tfirewalls, err := client.Firewall.All(ctx)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          firewalls = client.firewalls.get_all()'
      - lang: Shell
        label: CLI
        source: hcloud firewall list
    post:
      operationId: create_firewall
      summary: Create a Firewall
      description: 'Create a Firewall.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `server_already_added` | The Server was applied more than once. |

        | `422` | `incompatible_network_type` | The resources network type is not supported by Firewalls. |

        | `422` | `firewall_resource_not_found` | The resource the Firewall should be attached to was not found. |'
      tags:
      - Firewalls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: CreateFirewallRequest
              type: object
              properties:
                name:
                  description: 'Name of the [Firewall](#tag/firewalls).


                    Limited to a maximum of 128 characters.


                    Must be unique per Project.

                    '
                  type: string
                  example: new-name
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.

                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
                rules:
                  description: 'Array of rules.


                    Rules are limited to 50 entries per [Firewall](#tag/firewalls) and [500 effective rules](https://docs.hetzner.com/cloud/firewalls/overview#limits).

                    '
                  type: array
                  items:
                    title: Rule
                    type: object
                    properties:
                      description:
                        description: Description of the rule.
                        type:
                        - string
                        - 'null'
                        maxLength: 255
                      direction:
                        description: 'Traffic direction in which the rule should be applied to.


                          Use `source_ips` for direction `in` and `destination_ips` for direction `out` to specify IPs.

                          '
                        type: string
                        enum:
                        - in
                        - out
                        example: in
                      source_ips:
                        description: 'List of permitted IPv4/IPv6 addresses for incoming traffic.


                          The `direction` must be set to `in`.


                          IPs must be provided in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                          blocks at most.


                          The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                          For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                          and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                          Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                          IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                          '
                        type: array
                        items:
                          type: string
                        example:
                        - 192.0.2.2/32
                        - 192.0.2.0/24
                        - 2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128
                      destination_ips:
                        description: 'List of permitted IPv4/IPv6 addresses for outgoing traffic.


                          The `direction` must be set to `out`.


                          IPs must be in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                          blocks at most.


                          The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                          For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                          and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                          Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                          IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                          '
                        type: array
                        items:
                          type: string
                        example: []
                      protocol:
                        description: Network protocol to apply the rule for.
                        type: string
                        enum:
                        - tcp
                        - udp
                        - icmp
                        - esp
                        - gre
                      port:
                        description: 'Port or port range to apply the rule for.


                          Only applicable for protocols `tcp` and `udp`.


                          A port range can be specified by separating lower and upper bounds with a dash. `1024-5000` will include

                          all ports starting from 1024 up to port 5000.

                          '
                        type: string
                        example: '80'
                    required:
                    - direction
                    - protocol
                  example:
                  - direction: in
                    source_ips:
                    - 192.0.2.2/32
                    - 192.0.2.0/24
                    - 2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128
                    protocol: tcp
                    port: '80'
                apply_to:
                  description: 'Resources to apply the [Firewall](#tag/firewalls) to.


                    Resources added directly are taking precedence over those added via a [Label Selector](#description/label-selector).

                    '
                  type: array
                  items:
                    title: FirewallResource
                    type: object
                    properties:
                      type:
                        description: Type of the resource.
                        type: string
                        enum:
                        - server
                        - label_selector
                      server:
                        description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                          Only set for `type` `server`, otherwise `null`.

                          '
                        type: object
                        properties:
                          id:
                            description: ID of the [Server](#tag/servers).
                            type: integer
                            format: int64
                        required:
                        - id
                      label_selector:
                        description: '[Label Selector](#description/label-selector) the [Firewall](#tag/firewalls) is applied to.


                          Only set for `type` `label_selector`, otherwise `null`.

                          '
                        type: object
                        properties:
                          selector:
                            description: The selector.
                            type: string
                            example: env=prod
                        required:
                        - selector
                    required:
                    - type
              required:
              - name
            examples:
              default:
                value:
                  name: Corporate Intranet Protection
                  labels:
                    key: value
                  rules:
                  - description: Allow port 80
                    direction: in
                    source_ips:
                    - 192.0.2.2/32
                    - 192.0.2.0/24
                    - 2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128
                    protocol: tcp
                    port: '80'
                  apply_to:
                  - type: server
                    server:
                      id: 42
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CreateFirewallResponse
                type: object
                properties:
                  firewall:
                    title: FirewallResponse
                    type: object
                    properties:
                      id:
                        description: ID of the [Firewall](#tag/firewalls).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: 'Name of the [Firewall](#tag/firewalls).


                          Limited to a maximum of 128 characters.


                          Must be unique per Project.

                          '
                        type: string
                        example: new-name
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      rules:
                        type: array
                        items:
                          title: RuleResponse
                          type: object
                          properties:
                            description:
                              description: Description of the rule.
                              type:
                              - string
                              - 'null'
                              maxLength: 255
                            direction:
                              description: 'Traffic direction in which the rule should be applied to.


                                Use `source_ips` for direction `in` and `destination_ips` for direction `out` to specify IPs.

                                '
                              type: string
                              enum:
                              - in
                              - out
                              example: in
                            source_ips:
                              description: 'List of permitted IPv4/IPv6 addresses for incoming traffic.


                                The `direction` must be set to `in`.


                                IPs must be provided in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                blocks at most.


                                The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                '
                              type: array
                              items:
                                type: string
                              example:
                              - 192.0.2.2/32
                              - 192.0.2.0/24
                              - 2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128
                            destination_ips:
                              description: 'List of permitted IPv4/IPv6 addresses for outgoing traffic.


                                The `direction` must be set to `out`.


                                IPs must be in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                blocks at most.


                                The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                '
                              type: array
                              items:
                                type: string
                              example: []
                            protocol:
                              description: Network protocol to apply the rule for.
                              type: string
                              enum:
                              - tcp
                              - udp
                              - icmp
                              - esp
                              - gre
                            port:
                              description: 'Port or port range to apply the rule for.


                                Only applicable for protocols `tcp` and `udp`.


                                A port range can be specified by separating lower and upper bounds with a dash. `1024-5000` will include

                                all ports starting from 1024 up to port 5000.

                                '
                              type:
                              - string
                              - 'null'
                              example: '80'
                          required:
                          - direction
                          - protocol
                          - destination_ips
                          - source_ips
                          - port
                      applied_to:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: The type of resource to apply.
                              type: string
                              enum:
                              - server
                              - label_selector
                              example: server
                            server:
                              description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                Only set for `type` `server`, otherwise `null`.

                                '
                              type: object
                              properties:
                                id:
                                  description: ID of the [Server](#tag/servers).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                              required:
                              - id
                            label_selector:
                              description: '[Label Selector](#description/label-selector) the [Firewall](#tag/firewalls) is applied to.


                                Only set for `type` `label_selector`, otherwise `null`.

                                '
                              type: object
                              properties:
                                selector:
                                  description: The selector.
                                  type: string
                                  example: env=prod
                              required:
                              - selector
                            applied_to_resources:
                              description: 'Resources applied to via this [Label Selector](#description/label-selector).

                                '
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    description: Type of resource.
                                    type: string
                                    enum:
                                    - server
                                    example: server
                                  server:
                                    description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                      Only set for `type` `server`, otherwise `null`.

                                      '
                                    type: object
                                    properties:
                                      id:
                                        description: ID of the [Server](#tag/servers).
                                        type: integer
                                        format: int64
                                        minimum: 1
                                        maximum: 9007199254740991
                                        example: 42
                                    required:
                                    - id
                          required:
                          - type
                    required:
                    - id
                    - name
                    - created
                    - rules
                    - applied_to
                  actions:
                    type: array
                    items:
                      title: Action
                      type: object
                      properties:
                        id:
                          description: ID of the [Action](#description/actions).
                          type: integer
                          format: int64
                          minimum: 1
                          maximum: 9007199254740991
                          example: 42
                        command:
                          description: Command executed in the Action.
                          type: string
                          example: start_resource
                        status:
                          description: Status of the Action.
                          type: string
                          enum:
                          - running
                          - success
                          - error
                        started:
                          description: Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                          type: string
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        finished:
                          description: Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2016-01-30T23:55:00Z'
                        progress:
                          description: Progress of the Action in percent.
                          type: integer
                          format: int32
                          example: 100
                        resources:
                          description: Resources the Action relates to.
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                description: ID of the Resource.
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 9007199254740991
                                example: 42
                              type:
                                description: Type of the Resource.
                                type: string
                                example: server
                            required:
                            - id
                            - type
                        error:
                          description: Error message for the Action if an error occurred, otherwise null.
                          type:
                          - object
                          - 'null'
                          properties:
                            code:
                              description: Fixed error code for machines.
                              type: string
                              example: action_failed
                            message:
                              description: Error message for humans.
                              type: string
                              example: Action failed
                          required:
                          - code
                          - message
                      required:
                      - id
                      - command
                      - status
                      - progress
                      - started
                      - finished
                      - resources
                      - error
                    example:
                    - id: 13
                      command: set_firewall_rules
                      status: success
                      progress: 100
                      started: '2016-01-30T23:55:00Z'
                      finished: '2016-01-30T23:56:00Z'
                      resources:
                      - id: 38
                        type: firewall
                      error:
                        code: action_failed
                        message: Action failed
                    - id: 14
                      command: apply_firewall
                      status: success
                      progress: 100
                      started: '2016-01-30T23:55:00Z'
                      finished: '2016-01-30T23:56:00Z'
                      resources:
                      - id: 42
                        type: server
                      - id: 38
                        type: firewall
                      error:
                        code: action_failed
                        message: Action failed
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"net\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tresult, _, err := client.Firewall.Create(ctx, hcloud.FirewallCreateOpts{\n\t\tApplyTo: []hcloud.FirewallResource{\n\t\t\t{\n\t\t\t\tType: hcloud.FirewallResourceTypeServer,\n\t\t\t\tServer: &hcloud.FirewallResourceServer{\n\t\t\t\t\tID: 42,\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t\tLabels: map[string]string{\n\t\t\t\"env\": \"dev\",\n\t\t},\n\t\tName: \"Corporate Intranet Protection\",\n\t\tRules: []hcloud.FirewallRule{\n\t\t\t{\n\t\t\t\tDescription: hcloud.Ptr(\"Allow port 80\"),\n\t\t\t\tDirection:   hcloud.FirewallRuleDirectionIn,\n\t\t\t\tPort:        hcloud.Ptr(\"80\"),\n\t\t\t\tProtocol:    hcloud.FirewallRuleProtocolTCP,\n\t\t\t\tSourceIPs: []net.IPNet{\n\t\t\t\t\t{\n\t\t\t\t\t\tIP:   net.ParseIP(\"192.0.2.2\"),\n\t\t\t\t\t\tMask: net.CIDRMask(32, 32),\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\tIP:   net.ParseIP(\"192.0.2.0\"),\n\t\t\t\t\t\tMask: net.CIDRMask(24, 32),\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\tIP:   net.ParseIP(\"2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b\"),\n\t\t\t\t\t\tMask: net.CIDRMask(128, 128),\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t},\n\t\t},\n\t})\n\n\terr = client.Action.WaitFor(ctx, result.Actions...)\n\n\tfirewall := result.Firewall\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.firewalls import FirewallResource, FirewallRule\nfrom hcloud.servers import Server\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nresponse = client.firewalls.create(\n    resources=[\n        FirewallResource(\n            type=\"server\",\n            server=Server(id=42),\n        )\n    ],\n    labels={\n        \"env\": \"dev\",\n    },\n    name=\"Corporate Intranet Protection\",\n    rules=[\n        FirewallRule(\n            description=\"Allow port 80\",\n            direction=\"in\",\n            port=\"80\",\n            protocol=\"tcp\",\n            source_ips=[\n                \"192.0.2.2\",\n                \"192.0.2.0/24\",\n                \"2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b\",\n            ],\n        )\n    ],\n)\n\nfor action in response.actions:\n    action.wait_until_finished()\n\nfirewall = response.firewall"
      - lang: Shell
        label: CLI
        source: "hcloud firewall create \\\n    --name \"Corporate Intranet Protection\" \\\n    --label \"env=dev\" \\\n    --rules-file <(echo '[\n  {\n    \"description\": \"Allow port 80\",\n    \"direction\": \"in\",\n    \"port\": \"80\",\n    \"protocol\": \"tcp\",\n    \"source_ips\": [\n      \"192.0.2.2/32\",\n      \"192.0.2.0/24\",\n      \"2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128\"\n    ]\n  }\n]')"
  /firewalls/{id}:
    get:
      operationId: get_firewall
      summary: Get a Firewall
      description: Returns a single Firewall.
      tags:
      - Firewalls
      parameters:
      - description: ID of the Firewall.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Firewall](#tag/firewalls).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: FirewallResponse
                type: object
                properties:
                  firewall:
                    title: FirewallResponse
                    type: object
                    properties:
                      id:
                        description: ID of the [Firewall](#tag/firewalls).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: 'Name of the [Firewall](#tag/firewalls).


                          Limited to a maximum of 128 characters.


                          Must be unique per Project.

                          '
                        type: string
                        example: new-name
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      rules:
                        type: array
                        items:
                          title: RuleResponse
                          type: object
                          properties:
                            description:
                              description: Description of the rule.
                              type:
                              - string
                              - 'null'
                              maxLength: 255
                            direction:
                              description: 'Traffic direction in which the rule should be applied to.


                                Use `source_ips` for direction `in` and `destination_ips` for direction `out` to specify IPs.

                                '
                              type: string
                              enum:
                              - in
                              - out
                              example: in
                            source_ips:
                              description: 'List of permitted IPv4/IPv6 addresses for incoming traffic.


                                The `direction` must be set to `in`.


                                IPs must be provided in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                blocks at most.


                                The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                '
                              type: array
                              items:
                                type: string
                              example:
                              - 192.0.2.2/32
                              - 192.0.2.0/24
                              - 2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128
                            destination_ips:
                              description: 'List of permitted IPv4/IPv6 addresses for outgoing traffic.


                                The `direction` must be set to `out`.


                                IPs must be in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                blocks at most.


                                The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                '
                              type: array
                              items:
                                type: string
                              example: []
                            protocol:
                              description: Network protocol to apply the rule for.
                              type: string
                              enum:
                              - tcp
                              - udp
                              - icmp
                              - esp
                              - gre
                            port:
                              description: 'Port or port range to apply the rule for.


                                Only applicable for protocols `tcp` and `udp`.


                                A port range can be specified by separating lower and upper bounds with a dash. `1024-5000` will include

                                all ports starting from 1024 up to port 5000.

                                '
                              type:
                              - string
                              - 'null'
                              example: '80'
                          required:
                          - direction
                          - protocol
                          - destination_ips
                          - source_ips
                          - port
                      applied_to:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: The type of resource to apply.
                              type: string
                              enum:
                              - server
                              - label_selector
                              example: server
                            server:
                              description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                Only set for `type` `server`, otherwise `null`.

                                '
                              type: object
                              properties:
                                id:
                                  description: ID of the [Server](#tag/servers).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                              required:
                              - id
                            label_selector:
                              description: '[Label Selector](#description/label-selector) the [Firewall](#tag/firewalls) is applied to.


                                Only set for `type` `label_selector`, otherwise `null`.

                                '
                              type: object
                              properties:
                                selector:
                                  description: The selector.
                                  type: string
                                  example: env=prod
                              required:
                              - selector
                            applied_to_resources:
                              description: 'Resources applied to via this [Label Selector](#description/label-selector).

                                '
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    description: Type of resource.
                                    type: string
                                    enum:
                                    - server
                                    example: server
                                  server:
                                    description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                      Only set for `type` `server`, otherwise `null`.

                                      '
                                    type: object
                                    properties:
                                      id:
                                        description: ID of the [Server](#tag/servers).
                                        type: integer
                                        format: int64
                                        minimum: 1
                                        maximum: 9007199254740991
                                        example: 42
                                    required:
                                    - id
                          required:
                          - type
                    required:
                    - id
                    - name
                    - created
                    - rules
                    - applied_to
                required:
                - firewall
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tfirewall, _, err := client.Firewall.GetByID(ctx, 123)\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          firewall = client.firewalls.get_by_id(123)'
      - lang: Shell
        label: CLI
        source: hcloud firewall describe $FIREWALL
    put:
      operationId: update_firewall
      summary: Update a Firewall
      description: 'Update a Firewall.


        In case of a parallel running change on the Firewall a `conflict` error will be returned.'
      tags:
      - Firewalls
      parameters:
      - description: ID of the Firewall.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Firewall](#tag/firewalls).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: UpdateFirewallRequest
              type: object
              properties:
                name:
                  description: 'Name of the [Firewall](#tag/firewalls).


                    Limited to a maximum of 128 characters.


                    Must be unique per Project.

                    '
                  type: string
                  example: new-name
                labels:
                  description: 'User-defined labels (`key/value` pairs) for the Resource.


                    Note that the set of [Labels](#description/labels) provided in the request will overwrite the

                    existing one.


                    For more information, see "[Labels](#description/labels)".

                    '
                  type: object
                  additionalProperties:
                    type: string
                  example:
                    environment: prod
                    example.com/my: label
                    just-a-key: ''
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: FirewallResponse
                type: object
                properties:
                  firewall:
                    title: FirewallResponse
                    type: object
                    properties:
                      id:
                        description: ID of the [Firewall](#tag/firewalls).
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 9007199254740991
                        example: 42
                      name:
                        description: 'Name of the [Firewall](#tag/firewalls).


                          Limited to a maximum of 128 characters.


                          Must be unique per Project.

                          '
                        type: string
                        example: new-name
                      labels:
                        description: 'User-defined labels (`key/value` pairs) for the Resource.

                          For more information, see "[Labels](#description/labels)".

                          '
                        type: object
                        additionalProperties:
                          type: string
                        example:
                          environment: prod
                          example.com/my: label
                          just-a-key: ''
                      created:
                        description: Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).
                        type: string
                        format: date-time
                        example: '2016-01-30T23:55:00Z'
                      rules:
                        type: array
                        items:
                          title: RuleResponse
                          type: object
                          properties:
                            description:
                              description: Description of the rule.
                              type:
                              - string
                              - 'null'
                              maxLength: 255
                            direction:
                              description: 'Traffic direction in which the rule should be applied to.


                                Use `source_ips` for direction `in` and `destination_ips` for direction `out` to specify IPs.

                                '
                              type: string
                              enum:
                              - in
                              - out
                              example: in
                            source_ips:
                              description: 'List of permitted IPv4/IPv6 addresses for incoming traffic.


                                The `direction` must be set to `in`.


                                IPs must be provided in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                blocks at most.


                                The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                '
                              type: array
                              items:
                                type: string
                              example:
                              - 192.0.2.2/32
                              - 192.0.2.0/24
                              - 2001:0db8:9a3b:ee58:5ca:990c:8bc9:c03b/128
                            destination_ips:
                              description: 'List of permitted IPv4/IPv6 addresses for outgoing traffic.


                                The `direction` must be set to `out`.


                                IPs must be in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR

                                blocks at most.


                                The CIDR blocks may refer to networks (with empty host bits) or single hosts.

                                For example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,

                                and a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.


                                Use `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.


                                IPv6 CIDRs will be transformed to their canonical form according to [RFC5952](https://datatracker.ietf.org/doc/html/rfc5952#section-4).

                                '
                              type: array
                              items:
                                type: string
                              example: []
                            protocol:
                              description: Network protocol to apply the rule for.
                              type: string
                              enum:
                              - tcp
                              - udp
                              - icmp
                              - esp
                              - gre
                            port:
                              description: 'Port or port range to apply the rule for.


                                Only applicable for protocols `tcp` and `udp`.


                                A port range can be specified by separating lower and upper bounds with a dash. `1024-5000` will include

                                all ports starting from 1024 up to port 5000.

                                '
                              type:
                              - string
                              - 'null'
                              example: '80'
                          required:
                          - direction
                          - protocol
                          - destination_ips
                          - source_ips
                          - port
                      applied_to:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              description: The type of resource to apply.
                              type: string
                              enum:
                              - server
                              - label_selector
                              example: server
                            server:
                              description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                Only set for `type` `server`, otherwise `null`.

                                '
                              type: object
                              properties:
                                id:
                                  description: ID of the [Server](#tag/servers).
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 9007199254740991
                                  example: 42
                              required:
                              - id
                            label_selector:
                              description: '[Label Selector](#description/label-selector) the [Firewall](#tag/firewalls) is applied to.


                                Only set for `type` `label_selector`, otherwise `null`.

                                '
                              type: object
                              properties:
                                selector:
                                  description: The selector.
                                  type: string
                                  example: env=prod
                              required:
                              - selector
                            applied_to_resources:
                              description: 'Resources applied to via this [Label Selector](#description/label-selector).

                                '
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    description: Type of resource.
                                    type: string
                                    enum:
                                    - server
                                    example: server
                                  server:
                                    description: '[Server](#tag/servers) the [Firewall](#tag/firewalls) is applied to.


                                      Only set for `type` `server`, otherwise `null`.

                                      '
                                    type: object
                                    properties:
                                      id:
                                        description: ID of the [Server](#tag/servers).
                                        type: integer
                                        format: int64
                                        minimum: 1
                                        maximum: 9007199254740991
                                        example: 42
                                    required:
                                    - id
                          required:
                          - type
                    required:
                    - id
                    - name
                    - created
                    - rules
                    - applied_to
                required:
                - firewall
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\tfirewall, _, err := client.Firewall.Update(ctx, &hcloud.Firewall{ID: 123}, hcloud.FirewallUpdateOpts{\n\t\tLabels: map[string]string{\n\t\t\t\"environment\":    \"prod\",\n\t\t\t\"example.com/my\": \"label\",\n\t\t\t\"just-a-key\":     \"\",\n\t\t},\n\t\tName: \"new-name\",\n\t})\n}"
      - lang: Python
        label: Python
        source: "from __future__ import annotations\n\nfrom os import environ\n\nfrom hcloud import Client\nfrom hcloud.firewalls import Firewall\n\ntoken = environ[\"HCLOUD_TOKEN\"]\nclient = Client(token=token)\n\nclient.firewalls.update(\n    firewall=Firewall(id=123),\n    labels={\n        \"environment\": \"prod\",\n        \"example.com/my\": \"label\",\n        \"just-a-key\": \"\",\n    },\n    name=\"new-name\",\n)"
      - lang: Shell
        label: CLI
        source: "hcloud firewall update $FIREWALL --name \"new-name\"\nhcloud firewall add-label --overwrite $FIREWALL \\\n    \"environment=prod\" \"example.com/my=label\" \"just-a-key=\"\nhcloud firewall remove-label $FIREWALL \\\n    \"environment\" \"example.com\" \"just-a-key\""
    delete:
      operationId: delete_firewall
      summary: Delete a Firewall
      description: 'Deletes the Firewall.


        #### Operation specific errors


        | Status | Code | Description |

        | --- | --- | --- |

        | `422` | `resource_in_use` | Firewall still applied to a resource |'
      tags:
      - Firewalls
      parameters:
      - description: ID of the Firewall.
        name: id
        in: path
        required: true
        schema:
          description: ID of the [Firewall](#tag/firewalls).
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          example: 42
      responses:
        '204':
          description: Request succeeded.
        4xx:
          description: Request failed with a user error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: unauthorized
                    message: unable to authenticate
                    details: null
        5xx:
          description: Request failed with a server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code for machines.
                        type: string
                      message:
                        description: Error message for humans.
                        type: string
                      details:
                        description: Details about the error.
                        type:
                        - object
                        - 'null'
                    required:
                    - code
                    - message
                required:
                - error
                example:
                  error:
                    code: timeout
                    message: request timeout
                    details: null
      security:
      - APIToken: []
      x-codeSamples:
      - lang: Go
        label: Go
        source: "package examples\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\t\"github.com/hetznercloud/hcloud-go/v2/hcloud\"\n)\n\nfunc main() {\n\ttoken := os.Getenv(\"HCLOUD_TOKEN\")\n\n\tclient := hcloud.NewClient(hcloud.WithToken(token))\n\tctx := context.TODO()\n\n\t_, err := client.Firewall.Delete(ctx, &hcloud.Firewall{ID: 123})\n}"
      - lang: Python
        label: Python
        source: 'from __future__ import annotations


          from os import environ


          from hcloud import Client

          from hcloud.firewalls import Firewall


          token = environ["HCLOUD_TOKEN"]

          client = Client(token=token)


          client.firewalls.delete(firewall=Firewall(id=123))'
      - lang: Shell
        label: CLI
        source: hcloud firewall delete $FIREWALL
components:
  securitySchemes:
    APIToken:
      type: http
      scheme: bearer
x-tagGroups:
- name: Actions
  tags:
  - Actions
- name: Servers
  tags:
  - Servers
  - Server Actions
  - Server Types
  - Images
  - Image Actions
  - ISOs
  - Placement Groups
  - Primary IPs
  - Primary IP Actions
- name: Volumes
  tags:
  - Volumes
  - Volume Actions
- name: Floating IPs
  tags:
  - Floating IPs
  - Floating IP Actions
- name: Firewalls
  tags:
  - Firewalls
  - Firewall Actions
- name: Load Balancers
  tags:
  - Load Balancers
  - Load Balancer Actions
  - Load Balancer Types
- name: Networks
  tags:
  - Networks
  - Network Actions
- name: DNS
  tags:
  - Zones
  - Zone Actions
  - Zone RRSets
  - Zone RRSet Actions
- name: Security
  tags:
  - Certificates
  - Certificate Actions
  - SSH Keys
- name: Locations
  tags:
  - Locations
  - Data Centers
- name: Billing
  tags:
  - Pricing
